.customButton {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 3em;
	margin: -0.79em 0 0 -1em;
	text-decoration: none;
	border-radius: 0.1em;
	background-image: url("../imgs/AddQ_up.svg");
	background-repeat: no-repeat;
	width: 86px;
	height: 96px;
    outline: none;
}

.customButton:hover, .customButton:focus {
	background-image: url("../imgs/AddQ_hover.svg");
    outline: none;
}
