.fullscreen .related .screen-content {
	width: 960px;
	height: 570px;
	margin: auto;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}
.related .screen-content {
	padding: 0 5px; overflow: hidden; height: 100%;
}
.related .item {
	position: relative;
	float: left;
	width: 25%;
	height: 50%;
	box-sizing: border-box;
	cursor: pointer;
}
.fullscreen .related .item {
	height: 33.3%;
}
.related .item:hover .title {
	display: block;
}
.related .item-inner {
	position: absolute;
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 5px;
	overflow:hidden;
}
.related .item img {
	position: absolute; top: 0; left: 0;
}
.related .item img.wide {

	width: 100%;
}
.related .item img.square {
	height: 100%;
}
.related .item .title {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	font-family: helvetica;
	font-size: 11px;
	word-break: break-all;
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%; height: 100%;
	color: #fff;
	padding: 4px;
	box-sizing: border-box;
}
.related .featured .time { display: none; }
.end-state .related .featured .time { display: inline-block; }
.related .item.featured {
	width: 50%; height: 65.9%;
}
.related .item.featured .title {
	display: block;
	top: auto;
	bottom: 0;
	height: 40px;
	padding-top: 9px;
}

.fullscreen .related .wide {
	margin-top: 0px !important;
	margin-left: 0px !important;
	width: 100% !important;
	height: 100% !important;
}
.fullscreen .related .square {
	margin-top: 0px !important;
	margin-left: 0px !important;
	width: 100% !important;
	height: 100% !important;
}

@media only screen and (max-width: 480px)  {
	.related .item {
		position: relative;
		float: left;
		width: 50%;
		height: 25%;
		box-sizing: border-box;
		cursor: pointer;
	}

	.related .featured {
		width: 100% !important;
		height: 50% !important;
	}

}
/* smartphone in app landscape */
@media only screen and (max-width: 650px) and (min-width: 481px) {
	.related .item {
		width: 25%!important;
		height: 33%!important;
	}

	.fullscreen .related .item {
		width: 25% !important;
		height: 33% !important;
	}

	.related .featured {
		width: 50% !important;
		height: 65.9% !important;
	}
}

/*smartphones*/
@media screen and (max-device-width : 321px) and (orientation: portrait){  /*2*/
	.fullscreen .related .item {
		width: 50% !important;
		height: 25% !important;
	}
	.fullscreen .related .featured {
		width: 100% !important;
		height: 50% !important;
	}
}

@media screen and (max-device-width: 480px) and (orientation: landscape) {
	 .related .item {
		width: 25% !important;
		height: 33% !important;
	}

	.related .featured {
		width: 50% !important;
		height: 65.9% !important;
	}
}
/* smartphone - portrait web*/
@media screen and (max-device-width: 480px) and (orientation: portrait){  /*2*/
        .fullscreen .related .item {
            width: 50% !important;
            height: 25% !important;
        }
        .fullscreen .related .featured {
            width: 100% !important;
            height: 50% !important;
        }
    }

/* Smartphones (landscape) ----------- */
@media only screen and (max-device-width : 321px) {
	.fullscreen .related .item {
		width: 25% !important;
		height: 33% !important;
	}

	.fullscreen .related .featured {
		width: 50% !important;
		height: 66% !important;
	}
}

/* smartphone - landscape web*/
@media only screen and (max-device-width: 640px) and (orientation: landscape) {
	.fullscreen .related .item {
		width: 25% !important;
		height: 33% !important;
	}

	.fullscreen .related .featured {
		width: 50% !important;
		height: 66% !important;
	}
}

@media only screen and (max-width: 1050px) and (min-width: 651px) {/*5*/

	/* Small desktop / ipad view: 3 tiles */
	.related .item {
		width: 25%;
		height: 33.3%;
	}

	.fullscreen .related .item {
		width: 25%;
		height: 33.3%;
	}

	.fullscreen .related .featured {
		width: 50%;
		height: 66%;
	}
    .screen-content{
        width: 100% !important;
    }
}
@media only screen and (max-width: 1050px) and (min-width: 651px)  and (orientation: portrait){
    .screen-content{
        height: 50% !important;
    }
}

@media only screen and (max-width: 1290px) and (min-width: 1051px) {
	/* Medium desktop: 4 tiles */
	.related .item {
		width: 25%;
		height: 25%;
	}

	.related .featured {
		width: 75%;
		height: 74.8% ;
	}
}

@media only screen and (max-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
	.fullscreen .related .screen-content {
		width: 100%;
		height: 100%;
	}
}