.qnaInterface .qnaQuestionArea{
    background-color: #ffffff;
    overflow: hidden;
    height: 96px;
    border-right: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-bottom: 2px solid #008297;
    box-sizing: border-box;
}

.qnaInterface .qnaQuestionBox{
    position: relative;
    width: 100%;
    height: 100%;
}

.qnaInterface .qnaQuestionTextArea{
    background-color: transparent;
    font-family: 'Lato', Helvetica, Arial;
    font-size: 13px;
    line-height: 16px;
    text-align: left;
    color: #ffffff;
    border: transparent;
    border: none;
    margin-top: 10px;
    margin-left: 13px;
    padding-bottom: 0;
    -webkit-box-shadow:	none;
    -moz-box-shadow:	none;
    box-shadow:			none;
    resize: none;
    overflow: hidden;
    height: 45px;
    /* Firefox */
    width: -moz-calc(100% - 30px);
    /* WebKit */
    width: -webkit-calc(100% - 30px);
    /* Opera */
    width: -o-calc(100% - 30px);
    /* Standard */
    width: calc(100% - 30px);
}

.qnaInterface .qnaPipeLabel{
    background-color: transparent;
    font-family: 'Lato', Helvetica, Arial;
    font-size: 13px;
    font-weight: 300;
    line-height: 14px;
    text-align: left;
    color: #878787;
    border: transparent;
    border: none;
    margin-top: 13px;
    -webkit-box-shadow:	none;
    -moz-box-shadow:	none;
    box-shadow:			none;
    width: 4px;
    margin-left: 10px;
    float: left;
    cursor: default;
}

.qnaInterface .qnaButtonsPipeLabel{
    background-color: transparent;
    font-family: 'Lato', Helvetica, Arial;
    font-size: 13px;
    font-weight: 300;
    line-height: 12px;
    text-align: left;
    color: #ffffff;
    border: transparent;
    border: none;
    margin-top: 3px;
    -webkit-box-shadow:	none;
    -moz-box-shadow:	none;
    box-shadow:			none;
    margin-left: 5px;
    margin-right: 5px;
    float: right;
}

.qnaInterface .qnaPluginButton{
}

.qnaInterface .qnaButtonsContainer{
    position: relative;
    bottom: 10px;
    right: 0;
    box-sizing: border-box;
    height: 35px;
    width: 100%;
}

.qnaInterface .qnaQuestionCharCounter, .qnaInterface .qnaQuestionReplyCharCounter{
    opacity: 0.5;
    font-family: 'Lato', Helvetica, Arial;
    font-size: 13px;
    color: #000000;
    user-select: none;
    position: absolute;
    top: 7px;
    right: 74px;
}

.qnaInterface .controlBarBtn{
    border: none;
    font-family: 'Lato', Helvetica, Arial;
    font-size: 13px;
    color: #ffffff;
    border-radius: 14px;
    background-color: #008297;
    padding: 0 12px;
    user-select: none;
}

.qnaInterface .controlBarBtn:hover {
    border-radius: 14px;
    border: 4px solid #7fd9e8;
    background-color: #007b8e;
}

.qnaInterface .qnaSendButton, .qnaInterface .qnaReplySendButton{
    font-weight: 500;
    position: absolute;
    top: 7px;
    right: 14px;
    z-index: 999999;
    cursor: pointer;
}

.qnaInterface .qnaSendButton:hover, .qnaInterface .qnaReplySendButton:hover{
    top: 3px;
    right: 10px;
}

.qnaInterface .qnaQuestionTextAreaTyping{
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}

.qnaInterface .qnaQuestionTextAreaNotTyping{
    opacity: 0.5;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}