<div id="displayControlBar">
    <!--<div style="background: #000;filter:alpha(opacity=60); /* IE */-moz-opacity:0.6; /* Mozilla */opacity: 0.6;-->
    <!--/* CSS3 */position: absolute;top: 0; left: 0;height: 100%; width:100%; border:2px solid;border-radius:10px;box-shadow: 2px 2px 2px #474747;"></div>-->
    <div id="text">
        <ul class="inline">
            <li>
                <span id="pip" class="controlBarBtn dualScreen-pip tooltipBelow"></span>
            </li>
            <li>
                <span id="sideBySide" class="controlBarBtn dualScreen-sidebyside tooltipBelow"></span>
            </li>
            <li>
                <span id="singleView" class="controlBarBtn dualScreen-singleView tooltipBelow"></span>
            </li>
            <li>
                <span id="seperator" class="controlBarBtn dualScreen-seperator"></span>
            </li>
            <li>
                <span id="switchView" class="controlBarBtn dualScreen-switchView last tooltipBelow"></span>
            </li>
        </ul>
    </div>
</div>