/*Screens*/
.firstScreen{
    top: 0px !important;
    left: 0px !important;
    height: 100% !important;
    width: 100% !important;
    z-index: 1;
}
.secondScreen{
    z-index: 2;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.3);
    background-color: rgb(0,0,0);
}
.imagePlayer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.imagePlayer.fill-width {
    min-width: 100%;
    height: auto;
}
.imagePlayer.fill-height {
    min-height: 100%;
    width: auto;
}
/*Screen states*/
.sideBySideLeft {
    top: 25% !important;
    left: 0px !important;
    width: 50% !important;
    height: 50% !important;
    position: absolute !important;

}
.sideBySideRight {
    top: 25% !important;
    left: 50% !important;
    width: 50% !important;
    height: 50% !important;
    position: absolute !important;

}
.hiddenScreen{
    top: 0px !important;
    left: 0px !important;
    width: 0px !important;
    height: 0px !important;
}
.screenTransition{
    transition: 0.5s;
}
/*Override jquery UI resizable cursor handlers*/
.dualScreen > .ui-resizable-ne{
    cursor: nesw-resize;
}
.dualScreen > .ui-resizable-sw{
    cursor: nesw-resize;
}
.dualScreen > .ui-resizable-nw{
    cursor: nwse-resize;
}
.dualScreen > .ui-resizable-se{
    cursor: nwse-resize;
}
/*Custom UI corner position handlers for second screen*/
.cornerHandle{
    position: absolute;
    z-index: 2;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.topLeftHandle {
    top: -5px;
    left: -5px;
}
.topRightHandle {
    top:-5px;
    right:-5px;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -moz-transform: rotate(-270deg);  /* Firefox */
    -o-transform: rotate(-270deg);  /* Opera */
    -webkit-transform: rotate(-270deg);  /* Safari and Chrome */
    transform: rotate(-270deg);
}
.bottomLeftHandle {
    left:-5px;
    bottom: -5px;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -moz-transform: rotate(-90deg);  /* Firefox */
    -o-transform: rotate(-90deg);  /* Opera */
    -webkit-transform: rotate(-90deg);  /* Safari and Chrome */
    transform: rotate(-90deg);
}
.bottomRightHandle {
    bottom: -5px;
    right: -5px;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -moz-transform: rotate(-180deg);  /* Firefox */
    -o-transform: rotate(-180deg);  /* Opera */
    -webkit-transform: rotate(-180deg);  /* Safari and Chrome */
    transform: rotate(-180deg);
}
.componentOn{
    visibility: visible;
    opacity: 1;
}
.componentOff{
    visibility: hidden;
    opacity: 0;
}
/*Older IE support*/
.topRightHandle .componentOn{
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100) progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
}
.topRightHandle .componentOff{
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
}
.bottomLeftHandle .componentOn{
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100) progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
}
.bottomLeftHandle .componentOff{
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
}
.bottomRightHandle .componentOn{
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100) progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
}
.bottomRightHandle .componentOff{
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0) progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
}
.ui-resizable-nw,
.ui-resizable-sw,
.ui-resizable-se,
.ui-resizable-ne{
    width: 20px;
    height: 20px;
}
/*Animations*/
.componentAnimation{
    -webkit-transition: visibility 0.35s ease-out ,opacity 0.35s ease-out;
    -moz-transition: visibility 0.35s ease-out ,opacity 0.35s ease-out;
    -o-transition: visibility 0.35s ease-out ,opacity 0.35s ease-out;
    transition: visibility 0.35s ease-out ,opacity 0.35s ease-out;
}
/*Control bar*/
ul.inline, ol.inline {
    margin-left: 0;
    list-style: none;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.controlBar{
    padding-top: 10px;
    padding-right: 10px;
    z-index: 3;
    cursor: pointer;
}

#displayControlBar{
    width:250px;
    height:auto;
    position: absolute;
    cursor: pointer;
}
#displayControlBar #text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.controlBarBtn {
    display: inline;
    font-size:32px;
    float: left;
    padding-left: 20px;
    cursor: pointer;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
}
.controlBarBtn.last{
    padding-left: 0px;
}
#seperator {
    padding-left: 10px;
    padding-right: 10px;
}

/*@media all and  (max-width: 640px) {*/
/*#displayControlBar{*/
/*width:220px;*/
/*}*/
/*.controlBarBtn, #seperator {*/
/*font-size:24px;*/
/*}*/
/*}*/

@media all and  (max-width: 640px) {
    #displayControlBar{
        width:210px;
    }
    .controlBarBtn, #seperator {
        font-size:24px;
    }
}

.controlBarBtn:not(.dualScreen-seperator):hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    color: #fff;
    text-shadow: 0px 0px 10px #fff;
}

.controlBarBtn.disabled, .controlBarBtn.disabled:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
    cursor: default;
    text-shadow: none;
    color: #fff;
}
.controlBarShadow{
    background: rgba(0,0,0,0.25);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.15) 40%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.25)), color-stop(20%, rgba(0,0,0,0.2)), color-stop(40%, rgba(0,0,0,0.15)), color-stop(60%, rgba(0,0,0,0.1)), color-stop(80%, rgba(0,0,0,0.05)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.15) 40%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.15) 40%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.15) 40%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.15) 40%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10) progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
    top: 0;
    left: 0;
}
/*Fonts*/
@font-face {
    font-family: 'dualScreen';
    src:url('fonts/dualScreen.eot?edpuz4');
    src:url('fonts/dualScreen.eot?#iefixedpuz4') format('embedded-opentype'),
    url('fonts/dualScreen.woff?edpuz4') format('woff'),
    url('fonts/dualScreen.ttf?edpuz4') format('truetype'),
    url('fonts/dualScreen.svg?edpuz4#dualScreen') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="dualScreen-"], [class*=" dualScreen-"] {
    font-family: 'dualScreen';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dualScreen-pip:before {
    content: "\e600";
}
.dualScreen-seperator:before {
    content: "\e601";
}
.dualScreen-switchView:before {
    content: "\e602";
}
.dualScreen-transformhandle:before {
    content: "\e603";
}
.dualScreen-sidebyside:before {
    content: "\e604";
}
.dualScreen-singleView:before {
    content: "\e605";
}
