.controlBar{
    padding-top: 10px;
    padding-right: 10px;
    z-index: 1003;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

ul.inline, ol.inline {
    margin-left: 0;
    list-style: none;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

#displayControlBar{
    cursor: pointer;
}
#displayControlBar li {
    display: inline;
    list-style-type: none;
}
.controlBarBtn {
    display: inline;
    font-size:32px;
    padding-left: 20px;
    cursor: pointer;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
}
.controlBarBtn.last{
    padding-left: 0px;
}
#seperator {
    padding-left: 10px;
    padding-right: 10px;
}

/*@media all and  (max-width: 640px) {*/
/*#displayControlBar{*/
/*width:220px;*/
/*}*/
/*.controlBarBtn, #seperator {*/
/*font-size:24px;*/
/*}*/
/*}*/

@media all and  (max-width: 640px) {
    #displayControlBar{
        width:210px;
    }
    .controlBarBtn, #seperator {
        font-size:24px;
    }
}

.controlBarBtn:not(.dualScreen-seperator):hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    color: #fff;
    text-shadow: 0px 0px 10px #fff;
}

.controlBarBtn.disabled, .controlBarBtn.disabled:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
    cursor: default;
    text-shadow: none;
    color: #fff;
}
.controlBarShadow{
    background: rgba(0,0,0,0.25);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.15) 40%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.25)), color-stop(20%, rgba(0,0,0,0.2)), color-stop(40%, rgba(0,0,0,0.15)), color-stop(60%, rgba(0,0,0,0.1)), color-stop(80%, rgba(0,0,0,0.05)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.15) 40%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.15) 40%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.15) 40%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.15) 40%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF000000', endColorstr='#15000000', GradientType=0 );
    -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF000000', endColorstr='#15000000', GradientType=0 );
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    top: 0;
    left: 0;
}
/*Fonts*/
@font-face {
    font-family: 'dualScreen';
    src:url('fonts/dualScreen.eot?edpuz4');
    src:url('fonts/dualScreen.eot?#iefixedpuz4') format('embedded-opentype'),
    url('fonts/dualScreen.woff?edpuz4') format('woff'),
    url('fonts/dualScreen.ttf?edpuz4') format('truetype'),
    url('fonts/dualScreen.svg?edpuz4#dualScreen') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="dualScreen-"], [class*=" dualScreen-"] {
    font-family: 'dualScreen';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dualScreen-pip:before {
    content: "\e600";
}
.dualScreen-seperator:before {
    content: "\e601";
}
.dualScreen-switchView:before {
    content: "\e602";
}
.dualScreen-transformhandle:before {
    content: "\e603";
}
.dualScreen-sidebyside:before {
    content: "\e604";
}
.dualScreen-singleView:before {
    content: "\e605";
}