<div id="displayControlBar">
    <ul class="inline">
        <li>
            <span id="pip" class="controlBarBtn dualScreen-pip tooltipBelow disabled" data-type="state" title="<%=buttons.pip.title%>"></span>
        </li>
        <li>
            <span id="sideBySide" class="controlBarBtn dualScreen-sidebyside tooltipBelow" data-type="state" title="<%=buttons.sideBySide.title%>"></span>
        </li>
        <li>
            <span id="singleView" class="controlBarBtn dualScreen-singleView tooltipBelow" data-type="state" title="<%=buttons.singleView.title%>"></span>
        </li>
        <li>
            <span id="seperator" class="controlBarBtn dualScreen-seperator"></span>
        </li>
        <li>
            <span id="switchView" class="controlBarBtn dualScreen-switchView tooltipBelow last" data-type="switch" title="<%=buttons.switchView.title%>"></span>
        </li>
    </ul>
</div>