.controlBar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1003;
    padding: 24px 24px 0 0;
    cursor: pointer;
}

.displayControlBar:after {
    content: '';
    clear: both;
    display: block;
}

.displayControlGroup {
    position: relative;
    clear: both;
    float: right;
    padding-bottom: 20px;
}
.ds-collapsible-content {
    max-width: 0;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s ease-in 0.3s, max-width 0s ease-in 0.3s, max-height 0s ease-in 0.3s, opacity 0.3s ease-in;
}
.ds-collapsible .controlBarBtn.ds-collapsible-content {
    transition: visibility 0s ease-in 0.3s, max-width 0s ease-in 0.3s, max-height 0s ease-in 0.3s, margin-left 0s ease-in 0.3s, opacity 0.3s ease-in, transform 0.5s ease-out, filter 0.5s ease-out;
}
.displayControlGroup.ds-collapsible.ds-open .ds-collapsible-content {
    max-width: 10000px;
    max-height: 10000px;
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}
.ds-collapsible-handle {
    position: relative;
}
.ds-collapsible-handle:after {
    content:  '';
    position: absolute;
    top: 50%;
    left: -16px;
    width: 1px;
    height: 0;
    background-color: currentcolor;
    transition: top 0.3s ease-out, height 0.3s ease-out;
}
.ds-collapsible.ds-open .ds-collapsible-handle:after {
    top: 15%;
    height: 70%;
}

.controlBarBtn {
    float: right;
    margin-left: 32px;
    font-size: 36px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: transform 0.5s ease-out, filter 0.5s ease-out;
    padding: 10px;
}
.controlBarBtn:only-child {
    margin-left: 0;
}
.ds-collapsible .controlBarBtn {
    margin-left: 0;
    transition: margin-left 0s ease-in 0.3s, transform 0.5s ease-out, filter 0.5s ease-out;
}
.ds-collapsible.ds-open .controlBarBtn {
    margin-left: 32px;
    transition-delay: 0s;
}
.displayControlGroup.ds-blur > .controlBarBtn {
    transform: scale(0.8);
    filter: blur(2px);
}

.ds-collapsible-handle.stateSelected{
    position: absolute;
    right: 0;
}

.ds-streams {
    float: right;
    position: relative;
    top: -10px;
}
.ds-streams.ui-state-hover > .ds-stream.ds-stream--dragging {
    transform: scale(1.3);
}
.ds-stream {
    overflow: hidden;
    float: left;
    width: 78px;
    height: 52px;
    margin-left: 24px;
    border: 2px solid white;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: transform 0.15s ease-in;
}
.ds-stream:hover,
.ds-stream.ds-stream--dragging {
    transform: scale(1.2);
}
.ds-stream.ds-stream--dragging > .ds-stream__thumb {
    display: none;
}
.ds-stream.ui-draggable {
    cursor: move;
}
.ds-stream__thumb {
    width: 100%;
    height: 100%;
}

.separator {
    font-size: 15px;
    vertical-align: middle;
    cursor: default !important;
    width: 6px;
    margin-right: 0px !important;
}

#separator{
    line-height: 36px;
}

#separatorStreams{
    line-height: 36px;
}

#placeHolder{
    opacity: 0;
    margin-left: 13px;
}

.subMenuHidden{
    visibility: hidden !important;
    cursor: initial !important;
}

.subMenuVisible{
    visibility: visible !important;
}

@media screen and (max-height: 250px) {
    .displayControlGroup {
        padding-bottom: 20px;
    }
}

@media all and  (max-width: 500px), screen and (max-height: 300px) {
    #displayControlBar{
        /*width:250px;*/
    }
    .controlBarBtn{
        font-size:26px;
    }
    #separator {
        line-height: 26px;
    }
    .separator {
        font-size: 10px;
    }
    .subMenuVisible{
        margin-right: 20px;
    }
    #placeHolder{
        margin-left: 7px;
    }

    #separatorStreams{
        line-height: 26px;
    }
}

.controlBarBtn:not(.dualScreen-separator):hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    color: #fff;
    text-shadow: 0px 0px 10px #fff;
}

.controlBarBtn.disabled, .controlBarBtn.disabled:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
    cursor: default;
    text-shadow: none;
    color: #fff;
}
.controlBarShadow{
    background: rgba(0,0,0,0.25);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.15) 40%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.25)), color-stop(20%, rgba(0,0,0,0.2)), color-stop(40%, rgba(0,0,0,0.15)), color-stop(60%, rgba(0,0,0,0.1)), color-stop(80%, rgba(0,0,0,0.05)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.15) 40%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.15) 40%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.15) 40%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.15) 40%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF000000', endColorstr='#15000000', GradientType=0 );
    -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF000000', endColorstr='#15000000', GradientType=0 );
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    top: 0;
    left: 0;
}
/*Fonts*/
@font-face {
    font-family: 'dualScreen';
    src:url('fonts/dualScreen.eot?edpuz4');
    src:url('fonts/dualScreen.eot?#iefixedpuz4') format('embedded-opentype'),
    url('fonts/dualScreen.woff?edpuz4') format('woff'),
    url('fonts/dualScreen.ttf?edpuz4') format('truetype'),
    url('fonts/dualScreen.svg?edpuz4#dualScreen') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="dualScreen-"], [class*=" dualScreen-"] {
    font-family: 'dualScreen';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dualScreen-pip:before {
    content: "\e601";
}
.dualScreen-separator:before {
    content: "\e605";
}
.dualScreen-switchView:before {
    content: "\e600";
}
.dualScreen-transformhandle:before {
    content: "\e606";
}
.dualScreen-sidebyside:before {
    content: "\e603";
}
.dualScreen-singleView:before {
    content: "\e602";
}
.dualScreen-contentSelection:before {
    content: "\e604";
}