 .time-disp-dvr, .live-stream-status, .back-to-live {
	margin-top: 8px;
	height: auto;
	overflow: hidden;
	font-size: 10.2px;
	display: inline;
	border: none;
}

.time-disp-dvr {
	padding-right: 8px;
}

.time-disp-dvr-live {
	text-shadow: 0 0 10px #FFFFFF;
	font-weight: bold;
}

.play_head_dvr {
	position: absolute;
}
.play_head_dvr .ui-slider-handle {
	width:10px;
	height:15px;
	margin-left:-5px;
	margin-top: -0px;
	z-index: 2;	
}

.back-to-live {
	margin-top: 6px;
}

.back-to-live-icon {
	margin-right: 4px;		
	width: 0; 
	height: 0; 
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;   
	border-left: 6px solid #FFFFFF;
	display: inline-block;			
}

.offline-icon {
	background-color: #A4A4A4;
	opacity: 0.5;
}

.live-icon {
	border-radius: 50%;
	background-color: rgba(255, 0, 0, .5) !important;
	color: #FF0000 !important;
	opacity: 0.4;
	height: 15px !important;
	width: 15px !important;
	font-size: 8px !important;
	text-shadow: none !important;
	margin-left: 15px !important;
}

.back-to-live-text {
	padding-left: 10px !important;
	color: #FFFFFF !important;
	font-family: "Arial Narrow", Arial;
}