.back-to-live {
	display: inline;
	border: none;
	margin-left: 5px;
}

.play_head_dvr .ui-slider-handle {
	width:10px;
	height:15px;
	margin-left:-5px;
	margin-top: -0px;
	z-index: 2;	
}

.offline-icon {
	color: #A4A4A4 !important;
	opacity: 0.5;
	font-size: 1em !important;
	margin-left: 15px !important;
	opacity: 1;
	background-color: transparent;
	color: #ccc;
}

 .live-off-sync-icon {
	 color: #FF0000 !important;
 }

.live-icon {
	border: 4px solid rgba(255, 0, 0, .4);
	border-radius: 50%;
	color: #FF0000;
	font-size: 0.6em;
	vertical-align : 25%;
	text-shadow: none;
	margin-left: 15px;
	display: inline-block;
}

.back-to-live-text {
	color: #FFFFFF !important;
	font-family: "Arial Narrow", Arial;
}