<div class="cvaa-container">

	<span tabindex="0" role="button" class="icon-arrow"></span>

	<!--main-->
	<div class="cvaa-main cvaa--show">
		<p class="cvaa-header">Captions</p>
		<div class="cvaa-row">
			<span>Enable caption</span>
			<div class="cvaa-main__switch">
				<input tabindex="0" role="button" class="cvaa-main__switch-checkbox" type="checkbox" name="cvaa-switch"
					   id="k-cvaa-switch" checked>
				<label class="cvaa-main__switch-label" for="k-cvaa-switch">
					<span class="cvaa-main__switch-label__inner"></span>
					<span class="cvaa-main__switch-label__btn"></span>
				</label>
			</div>
		</div>
		<div class="cvaa-row">
			<span>Languages</span>
			<select name="captions" class="cvaa-dropdown">
				<option value="English">English</option>
			</select>
		</div>
		<div class="cvaa-row">
			<button class="cvaa-btn-text cvaa-main__advoptions-btn">Advanced options</button>
		</div>
	</div>

	<!--advanced-->
	<div class="cvaa-adv">
		<p class="cvaa-header">Advanced options</p>
		<div class="cvaa-row cvaa-row--center">
			<% $.each(cvaaOptions.presets, function(idx, property){ %>
			<div class="cvaa-btn-label">
				<button name="cvaa-size" value="<%=property.prop%>"
						class="cvaa-btn small <%=property.value%>"><%=property.text%></button>
			</div>
			<% }); %>
		</div>

		<div class="cvaa-row cvaa-row--center">
			<button class="cvaa-btn-text cvaa-adv__cstmoptions-btn"></button>
		</div>
	</div>

	<!--custom-->
	<div class="cvaa-cstm">
		<p class="cvaa-header">Custom captions</p>
		<div class="cvaa-row cvaa-row--center">
			<div class="cvaa-btn-label">
				<button class="cvaa-btn small icvaa-font-size cvaa-cstm__size-btn"></button>
				<span>Size</span>
			</div>
			<div class="cvaa-btn-label">
				<button class="cvaa-btn small icvaa-font-color cvaa-cstm__color-btn"></button>
				<span>Color</span>
			</div>
			<div class="cvaa-btn-label">
				<button class="cvaa-btn small icvaa-font-family cvaa-cstm__font-btn"></button>
				<span>Font</span>
			</div>
			<div class="cvaa-btn-label">
				<button class="cvaa-btn small icvaa-font-color cvaa-cstm__bg-btn"></button>
				<span class="cvaa-cstm__bg-label">Background</span>
			</div>
		</div>
	</div>

	<!--Size-->
	<div class="cvaa-size">
		<p class="cvaa-header">Size</p>
		<div class="cvaa-row cvaa-row--center">
			<% $.each(cvaaOptions.size, function(idx, property){ %>
			<div class="cvaa-btn-label">
				<button name="cvaa-size" value="<%=property.prop%>"
						class="cvaa-btn small <%=property.btnClass%> icvaa-letter-size"></button>
				<span class="<%=property.labelClass%>"><%=property.text%></span>
			</div>
			<% }); %>
		</div>
	</div>

	<!--Font-->
	<div class="cvaa-font">
		<p class="cvaa-header">Font</p>
		<div class="cvaa-row">
			<span>Font family</span>
			<select name="cvaa-font" class="cvaa-dropdown cvaa-family">
				<% $.each(cvaaOptions.family, function(idx, property){ %>
				<option value="<%=property.prop%>"><%=property.text%></option>
				<% }); %>
			</select>
		</div>
		<div class="cvaa-row">
			<span>Font style</span>
			<select name="cvaa-style" class="cvaa-dropdown cvaa-style">
				<% $.each(cvaaOptions.edgeStyle, function(idx, property){ %>
				<option value="<%=property.prop%>"><%=property.text%></option>
				<% }); %>
			</select>
		</div>
	</div>

	<!--Background-->
	<div class="cvaa-bg">
		<p class="cvaa-header">Background</p>

		<div class="cvaa-row cvaa-row--center">
			<% $.each(cvaaOptions.color, function(idx, property){ %>
			<button name="cvaa-bg" value="<%=property.prop%>" class="cvaa-btn small <%=property.text%>"></button>
			<% }); %>
		</div>

		<div class="cvaa-row cvaa-row--center">
			<select name="cvaa-bg-opacity" class="cvaa-dropdown cvaa-bg-opacity">
				<% $.each(cvaaOptions.opacity, function(idx, property){ %>
				<option value="<%=property.prop%>"><%=property.text%></option>
				<% }); %>
			</select>
		</div>
	</div>

	<!--Color-->
	<div class="cvaa-color">
		<p class="cvaa-header">Color</p>

		<div class="cvaa-row cvaa-row--center">
			<% $.each(cvaaOptions.color, function(idx, property){ %>
			<button name="cvaa-color" value="<%=property.prop%>"
					class="cvaa-btn small icvaa-letter-size <%=property.text%>"><span></span></button>
			<% }); %>
		</div>

		<div class="cvaa-row cvaa-row--center">
			<select name="cvaa-color-opacity" class="cvaa-dropdown cvaa-color-opacity">
				<% $.each(cvaaOptions.opacity, function(idx, property){ %>
				<option value="<%=property.prop%>"><%=property.text%></option>
				<% }); %>
			</select>
		</div>
	</div>


	<div class="cvaa-footer">
		<div class="cvaa-footer__preview"></div>
	</div>
</div>