/*------------------SCREEN Template-------------------*/
.cvaa .screen-content {
	position: relative;
	height: 100%;
}

.cvaa .screen-content .tmpl{
	font-family: Lato;
	font-size: 16px;
	line-height: 30px;
}

/*------------------BUTTONS-------------------*/
.cvaa-btn,
.cvaa-btn-text {
	font-size: inherit;
	font-family: inherit;
	cursor: pointer;
}

.cvaa-btn {
	width: 80px;
	height: 36px;
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 3px;
}

.cvaa-btn.small {
	width: 48px;
	height: 34px;
}

.cvaa-btn-text {
	color: #ffffff;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}

.cvaa-btn-label {
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin: 0 12px 0 12px;
}

.cvaa-btn-label span {
	display: block;
	font-size: 12px;
}

/*------------------TEMPLATE LAYOUT-------------------*/
.cvaa .screen-content .tmpl{
	display: table;
	width: 100%;
	height: 100%;
}

.cvaa-container {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.cvaa-row {
	width: 350px;
	height: 60px;
	margin: 0 auto;
	display: block;
}

.cvaa-row--center {
	text-align: center;
}

/*------------------HIDE/SHOW MENUS-------------------*/
.cvaa--hide {
	display: none;
}

.cvaa--show {
	display: block;
}

/*------------------HEADER-------------------*/
.cvaa-header {
	position: absolute;
	width: 100%;
	text-align: center;
	line-height: 17px;
	font-size: 1.2em;
	top: 0;
	left: 0;
}

.icon-arrow {
	position: absolute;
	top: 0;
	font-size: 1.4em;
	left: 1.2em;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	z-index: 100;
}

.icon-arrow:before {
	content: "\e917";
}

/*------------------MAIN SCREEN-------------------*/

/*switch button start*/
.cvaa-main__switch {
	position: relative;
	width: 76px;
	float: right;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
}
.cvaa-main__switch-checkbox {
	display: none;
}
.cvaa-main__switch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border-radius: 31px;
}
.cvaa-main__switch-label__inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.cvaa-main__switch-label__inner:before,
.cvaa-main__switch-label__inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 34px;
	padding: 0;
	line-height: 34px;
	font-size: 16px;
	color: white;
	box-sizing: border-box;
}
.cvaa-main__switch-label__inner:before {
	content: "ON";
	padding-left: 11px;
	background-color: #01C2FF;
	color: #FFFFFF;
}
.cvaa-main__switch-label__inner:after {
	content: "OFF";
	padding-right: 7px;
	background-color: #EEEEEE;
	color: #999999;
	text-align: right;
}
.cvaa-main__switch-label__btn {
	display: block;
	width: 25px;
	margin: 3px;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 40px;
	border: 2px solid ;
	border-radius: 31px;
	transition: all 0.3s ease-in 0s;
}
.cvaa-main__switch-checkbox:checked + .cvaa-main__switch-label .cvaa-main__switch-label__inner {
	margin-left: 0;
}
.cvaa-main__switch-checkbox:checked + .cvaa-main__switch-label .cvaa-main__switch-label__btn {
	right: 0;
}
/*switch button end*/

.cvaa-main__lang-dropdown {
	width: 115px;
	height: 34px;
	background-color: rgba(255,255,255,0);
	border: 1px solid rgba(255,255,255,0.5);
	color: #fff;
	border-radius: 3px;
	float: right;
	font-size: inherit;
}

/*------------------ADVANCED SCREEN-------------------*/
.cvaa-btn.cvaa-adv__cstmoptions-btn {
	margin: 0 auto;
	display: block;
}

.cvaa-btn.default {
	background: transparent;
	color: #ffffff;
}

.cvaa-btn.preset1 {
	background: #ffffff;
	color: #000000;
	border-color: #ffffff;
	margin: 0 25px 0 25px;
}

.cvaa-btn.preset2 {
	background: #000000;
	color: #ffff00;
	border-color: #000000;
}

/*------------------CUSTOM CAPTIONS SCREEN-------------------*/
.cvaa-cstm .cvaa-cstm__bg-label {
	position: absolute;
	left: -25%;
}

/*------------------FOOTER-------------------*/

.cvaa-footer {

}

.cvaa-footer__preview {

}