<div class="cvaa-container">

	<span class="icon-arrow cvaa--hide"></span>

	<!--main-->
	<div class="cvaa-main cvaa--show">
		<p class="cvaa-header">Captions</p>
		<div class="cvaa-row">
			<span>Enable caption</span>
			<div class="cvaa-main__switch">
				<input class="cvaa-main__switch-checkbox" type="checkbox" name="cvaa-switch"  id="k-cvaa-switch" checked>
				<label class="cvaa-main__switch-label" for="k-cvaa-switch">
					<span class="cvaa-main__switch-label__inner"></span>
					<span class="cvaa-main__switch-label__btn"></span>
				</label>
			</div>
		</div>
		<div class="cvaa-row">
			<span>Languages</span>
			<select name="captions" class="cvaa-main__lang-dropdown">
				<option value="English">English</option>
			</select>
		</div>
		<div class="cvaa-row">
			<button class="cvaa-btn-text cvaa-main__advoptions-btn">Advanced options</button>
		</div>
	</div>

	<!--advanced-->
	<div class="cvaa-adv cvaa--hide">
		<p class="cvaa-header">Advanced options</p>
		<div class="cvaa-row cvaa-row--center">
			<button class="cvaa-btn default">Default</button>
			<button class="cvaa-btn preset1">Sample</button>
			<button class="cvaa-btn preset2">Sample</button>
		</div>

		<div class="cvaa-row cvaa-row--center">
			<button class="cvaa-btn-text cvaa-adv__cstmoptions-btn">Custom options</button>
		</div>
	</div>

	<!--custom-->
	<div class="cvaa-cstm cvaa--hide">
		<p class="cvaa-header">Custom captions</p>
		<div class="cvaa-row cvaa-row--center">
			<div class="cvaa-btn-label">
				<button class="cvaa-btn small cvaa-cstm__size-btn"></button>
				<span>Size</span>
			</div>
			<div class="cvaa-btn-label">
				<button class="cvaa-btn small cvaa-cstm__color-btn"></button>
				<span>Color</span>
			</div>
			<div class="cvaa-btn-label">
				<button class="cvaa-btn small cvaa-cstm__font-btn"></button>
				<span>Font</span>
			</div>
			<div class="cvaa-btn-label">
				<button class="cvaa-btn small cvaa-cstm__bg-btn"></button>
				<span class="cvaa-cstm__bg-label">Background</span>
			</div>
		</div>
	</div>

	<div class="cvaa-footer">
		<div class="cvaa-footer__preview"></div>
	</div>
</div>