/*------------------SCREEN Template-------------------*/
.videoHolder .screen.cvaa.semiTransparentBkg {
	padding-top: 1em;
}

.videoHolder .cvaa .screen-content .icon-close {
	right: 0.8em;
}

.cvaa .screen-content {
	position: relative;
	height: 100%;
}

.cvaa .screen-content .tmpl,
.cvaa-btn-label span,
.cvaa-btn, .cvaa-btn-text {
	font-family: Helvetica Neue Regular, Lato-Regular, Lato;
	font-size: 16px;
	line-height: 30px;
}

/*------------------BUTTONS/DROPDOWNS-------------------*/
.cvaa-btn {
	position: relative;
	display: inline-block;
	width: 78px;
	height: 34px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 3px;
	margin: 5px;
}

.cvaa-btn.small {
	width: 58px;
}

.cvaa-btn-text {
	color: #ffffff;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}

.cvaa-btn,
.cvaa-btn-text {
	cursor: pointer;
}

.cvaa-btn-label {
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.cvaa-btn-label span {
	display: block;
	font-size: 12px;
}

.cvaa-dropdown {
	width: 144px;
	height: 34px;
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: #fff;
	border-radius: 3px;
	float: right;
	font-size: inherit;
}

/*------------------TEMPLATE LAYOUT-------------------*/
.cvaa .screen-content .tmpl {
	display: table;
	width: 100%;
	height: 100%;
}

.cvaa-container {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.cvaa-row {
	width: 300px;
	height: 100%;
	margin: 0 auto 15px;
	display: block;
}

.cvaa-row--center {
	width: 100%;
	text-align: center;
}

.cvaa-main, .cvaa-adv,
.cvaa-cstm, .cvaa-size,
.cvaa-bg, .cvaa-color,
.cvaa-font, .icon-arrow {
	display: none;
}

/*------------------HIDE/SHOW MENUS-------------------*/
.cvaa--show {
	display: block;
}

/*------------------HEADER-------------------*/
.cvaa-header {
	position: absolute;
	width: 100%;
	text-align: center;
	line-height: 17px;
	font-size: 1.2em;
	top: 0;
	left: 0;
	margin: 0;
}

.cvaa .icon-arrow {
	position: absolute;
	top: -0.2em;
	font-size: 1.6em;
	left: 0.4em;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	z-index: 100;
}

.mobile .cvaa .icon-arrow {
	position: absolute;
	top: 0.1em;
	font-size: 1.6em;
	left: 0.8em;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	z-index: 100;
}

.cvaa .icon-arrow:before {
	content: "\e917";
}

/*------------------MAIN SCREEN-------------------*/

.cvaa-main {
	margin-top: 30px;
}

/*switch button start*/
.cvaa-main__switch {
	position: relative;
	width: 58px;
	float: right;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.cvaa-main__switch-checkbox {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}

.cvaa-main__switch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border-radius: 31px;
}

.cvaa-main__switch-label__inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.cvaa-main__switch-label__inner:before,
.cvaa-main__switch-label__inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 26px;
	padding: 0;
	line-height: 26px;
	font-size: 11px;
	color: white;
	box-sizing: border-box;
}

.cvaa-main__switch-label__inner:before {
	content: "ON";
	padding-left: 10px;
	background-color: #01C2FF;
	color: #FFFFFF;
}

.cvaa-main__switch-label__inner:after {
	content: "OFF";
	padding-right: 6px;
	background-color: #EEEEEE;
	color: #999999;
	text-align: right;
}

.cvaa-main__switch-label__btn {
	display: block;
	width: 16px;
	margin: 3px;
	background: #FFFFFF;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 30px;
	border: 2px solid;
	border-radius: 31px;
	transition: all 0.3s ease-in 0s;
}

.cvaa-main__switch-checkbox:checked + .cvaa-main__switch-label .cvaa-main__switch-label__inner {
	margin-left: 0;
}

.cvaa-main__switch-checkbox:checked + .cvaa-main__switch-label .cvaa-main__switch-label__btn {
	right: 0;
}

/*switch button end*/

/*------------------ADVANCED SCREEN-------------------*/
.cvaa-adv {
	margin-top: 30px;
}

.cvaa-adv .custom {
	display: none;
}

.cvaa-adv .cvaa-btn {
	font-size: 14px !important;
	padding: 2px;
}

.cvaa-adv .cvaa-btn:after{
	top: -4px;
	right: -4px;
}

.cvaa-btn.cvaa-adv__cstmoptions-btn {
	margin: 0 auto;
	display: block;
}

.cvaa-btn.cvaaDefault {
	background: transparent;
	color: #ffffff;
}

.cvaa-btn.cvaaPreset1 {
	background: #ffffff;
	color: #000000;
	border-color: #ffffff;
}

.cvaa-btn.cvaaPreset2 {
	background: #000000;
	color: #ffff00;
	border-color: #000000;
}

/*------------------CUSTOM CAPTIONS SCREEN-------------------*/
.cvaa-cstm .cvaa-cstm__bg-label {
	position: absolute;
}

.cvaa-cstm__bg-btn, .cvaa-cstm__size-btn,
.cvaa-cstm__font-btn, .cvaa-cstm__color-btn {
	font-size: 1.6em;
}

.cvaa-cstm .cvaa-btn.small {
	background-color: transparent;
}

.cvaa-cstm__size-btn, .cvaa-cstm__font-btn,
.cvaa-cstm__bg-btn {
	color: #ffffff;
}

.cvaa-cstm__color-btn {
	color: #01C2FF
}

.cvaa-cstm .cvaa-btn.small.cvaa-cstm__bg-btn {
	background-color: #01C2FF;
}

/*------------------SIZE SCREEN-------------------*/
.cvaa-size .cvaa-btn.small {
	background-color: transparent;
}

.cvaa-size__small-btn {
	font-size: 0.8em;
}

.cvaa-size__medium-btn {
	font-size: 1.2em;
}

.cvaa-size__large-btn {
	font-size: 1.6em;
}

.cvaa-size__exlarge-btn {
	font-size: 2em;
}

.cvaa-size .cvaa-btn {
	line-height: 0;
	color: #ffffff;
}

/*------------------BACKGROUND/COLOR SCREEN-------------------*/
.cvaa-bg .cvaa-dropdown,
.cvaa-color .cvaa-dropdown {
	margin: 0 auto;
	float: none;
}

.cvaa-color .cvaa-btn:before {
	font-size: 1.5em;
}

.cvaa-color .cvaa-btn:after,
.cvaa-bg .cvaa-btn:after {
	top: -4px;
	right: -4px;
}
/*------------------FOOTER-------------------*/

.cvaa-footer {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 5px;
	text-align: center;
}

.cvaa-footer__preview {

}

/*------------------BTN COLORS-------------------*/
.cvaa-color .cvaa-btn,
.cvaa-bg .cvaa-btn {
	border: solid 1px #ffffff;
	padding: 4px;
	border-radius: 4px;
	background-clip: content-box;
}

.cvaa-color .cvaa-btn.White {
	background-color: transparent;
	color: #ffffff;
}

.cvaa-btn.White {
	background-color: #ffffff;
}

.cvaa-color .cvaa-btn.Yellow {
	background-color: transparent;
	color: #ffff00;
}

.cvaa-btn.Yellow {
	background-color: #ffff00;
}

.cvaa-color .cvaa-btn.Green {
	background-color: transparent;
	color: #00ff00;
}

.cvaa-btn.Green {
	background-color: #00ff00;
}

.cvaa-color .cvaa-btn.Cyan {
	background-color: transparent;
	color: #00ffff;
}

.cvaa-btn.Cyan {
	background-color: #00ffff;
}

.cvaa-color .cvaa-btn.Blue {
	background-color: transparent;
	color: #0000ff;
}

.cvaa-btn.Blue {
	background-color: #0000ff;
}

.cvaa-color .cvaa-btn.Magenta {
	background-color: transparent;
	color: #ff00ff;
}

.cvaa-btn.Magenta {
	background-color: #ff00ff;
}

.cvaa-color .cvaa-btn.Red {
	background-color: transparent;
	color: #ff0000;
}

.cvaa-btn.Red {
	background-color: #ff0000;
}

.cvaa-color .cvaa-btn.Black {
	background-color: transparent;
	color: #000000;
}

.cvaa-btn.Black {
	background-color: #000000;
}

/*------------------Fonts-------------------*/
@font-face {
	font-family: 'icvaa';
	src: url('fonts/icvaa.eot?edpuz4');
	src: url('fonts/icvaa.eot?#iefixedpuz4') format('embedded-opentype'),
	url('fonts/icvaa.woff?edpuz4') format('woff'),
	url('fonts/icvaa.ttf?edpuz4') format('truetype'),
	url('fonts/icvaa.svg?edpuz4#icvaa') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icvaa-"], [class*=" icvaa-"] {
	font-family: 'icvaa';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
}

.icvaa-check:after {
	content: "\e900";
	display: block;
	font-size: 0.7em;
	line-height: 18px;
	color: #FFFFFF;
	width: 16px;
	height: 16px;
	background-color: #01c2ff;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
}

.icvaa-font-color:before {
	content: "\e901";
}

.icvaa-font-family:before {
	content: "\e902";
}

.icvaa-font-size:before {
	content: "\e903";
}

.icvaa-letter-size:before {
	content: "\e904";
}