
.modal_editor {
	/*background:#AAA none repeat scroll 0 0;
	border:3px solid #666666;*/
	left:10px;
	top:10px;
	right:10px;
	bottom:10px;
	position:fixed;		
	z-index:100;
}

.displayHTML a:visited {
	color:white;
}

.loadingSpinner {
	width:32px;
	height:32px;
	display:block;
	padding:0px;
	background-image: url('images/loading_ani.gif');
}
.cssLoadingSpinner {
	position:relative;
	width:100px;
	height:100px;
	//margin:25px;
	-moz-border-radius:100px;
	float:left;
	-moz-transform:scale(0.3);
	-webkit-transform:scale(0.3);
	
	/* not used right now: */
	-webkit-animation-name: rotateThis;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}
.cssLoadingSpinner div {
	width:15px;
	height:30px;
	position:absolute;
	top:35px;
	left:45px;
}
.cssLoadingSpinner div {
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
}
/* uncomment this to use css animation in webkit browsers */
 @-webkit-keyframes rotateThis {
	from {-webkit-transform:scale(0.7) rotate(0deg);}
	to   {-webkit-transform:scale(0.7) rotate(360deg);}
}


.mw-imported-resource{
	border: thin solid black;
}

.kaltura-icon {
	background-image:url('images/kaltura_logo_sm_transparent.png') !important;
	background-repeat:no-repeat;
	display: block;
	height: 12px;
	width: 12px;
	margin-top: 2px !important;
	margin-left: 3px !important;	
}

.mw-fullscreen-overlay {
	background: rgb(0, 0, 0) none repeat scroll 0% 0%; 
	position: fixed; 
	top: 0pt;
	left: 0pt;
	width: 100%;
	height: 100%; 
	-moz-background-clip: border; 
	-moz-background-origin: padding; 
	-moz-background-inline-policy: continuous; 
}



/**
* Special Video player play-btn 
* Lets us use root common style sheets with jquery based skins
* ( without additional assets in the embedPlayer skins folder )
*/
.play-btn-large {
	width: 70px;
	height: 53px;
	background : url('images/player_big_play_button.png?1'); 
	position : absolute; 
	cursor : pointer; 
	border : none !important;
	z-index : 1; 
}
.play-btn-large:hover {
	background : url('images/player_big_play_button_hover.png?1'); 
}