<?php
/**
 * This file store all of mwEmbed local configuration
 * 
 * See includes/DefaultSettings.php for a configuration options
 * 
 */

// Set this to true for debug support
$wgEnableScriptDebug = false;

// Set Kaltura Stats service url to custom domain
// $wgKalturaStatsServiceUrl = $wgHTTPProtocol . '://stats.kaltura.com';

// By default we enable ( all ) the modules. You probably only want player related modules enabled: 
// Here are the most common used modules: 
$wgMwEmbedEnabledModules = array( 'EmbedPlayer', 'KalturaSupport', 'AdSupport', 'Playlist', 'TimedText' );

?>
