<?php
/**
 * This file store all of mwEmbed local configuration
 * 
 * See includes/DefaultSettings.php for a configuration options
 * 
 */
 
// For development you should always set $wgEnableScriptDebug to true
$wgEnableScriptDebug = false;

// Auth testing sets
$wgKalturaAuthHTTPS = false; 
$wgKalturaAuthDomains = array( 'localhost', 'kgit.html5video.org', 'html5video.org' );