<?php
/**
 * This file store all of mwEmbed local configuration
 * 
 * See includes/DefaultSettings.php for a configuration options
 * 
 */
 
// To disable minification and caching set enable script debug to true;
$wgEnableScriptDebug = false;

// By default we enable ( all ) the modules. Here is a list of default enabled modules that are 
// currently maintained and tested. 
$wgMwEmbedEnabledModules = array( 
	
	'EmbedPlayer', 
	'KalturaSupport', 
	
	'AdSupport',
	'Comscore', 
	'Conviva', 
	'DoubleClick',
	'FreeWheel',
	'GoogleAnalytics',
	'NielsenCombined',
	'NielsenVideoCensus',
	'Playlist', 
	'Plymedia', 
	'TimedText', 
);
