@import url('https://fonts.googleapis.com/css?family=Roboto');
.share .screen-content{
	z-index: 1;
}

.share.screen{
	background: none;
	background-color: rgba(0,0,0,0.7);

}

.screen .panel-center {
	width: 100%;
	height: 100%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.share .shareembed-input {
	font-size: 12pt;
	font-family: 'Lato', Helvetica, Arial;
	font-weight: 400;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border: 1px solid rgb(127, 127, 127);
	border: 1px solid rgba(255, 255, 255, .5);
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	padding-right: 20px;
	width: 265px;
	height: 36px;
	color: white; /* IE8 support */
	color: rgba(255, 255, 255, 0.502);
	padding-left: 40px;
	background-color: rgba(26, 26, 26, 0.102) !important;
	cursor: auto;
	margin-bottom: 12px;
	float: left;
	border-radius: 20px;
}
.share .share-input{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA4JpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDE0IDc5LjE1Njc5NywgMjAxNC8wOC8yMC0wOTo1MzowMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDozRkFDRTkyMkREMTdFMzExQUE0OUU1MUVGODRGRjY3MiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpCREUxMzUyMkE4N0MxMUU0OTYyRUIxMDMyNUVDMTNFMCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpCREUxMzUyMUE4N0MxMUU0OTYyRUIxMDMyNUVDMTNFMCIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgMjAxNCAoTWFjaW50b3NoKSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjFhNjU1ZDNhLTZmNzctNDkzYS1iZDljLTVlOWMxOTg0MmIwYyIgc3RSZWY6ZG9jdW1lbnRJRD0iYWRvYmU6ZG9jaWQ6cGhvdG9zaG9wOmFmMWJiYjQyLWNkOGMtMTE3Ny04NTMxLWI3MDcxOTE0MTc5NyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PhTvw2cAAAFFSURBVHjajNNBKwRhHMfxx7Q2pN2DlJtSytnNHqQ4bJsDXoGLi71py8lbkFIckIMc1OKwBxyUg30JDlpWCFd2Sbk8vv/8ZEzNzj71mXl6nnl+O/t/ngm89w4pLKKCc6wgq7mW7JLGqf9pL7hRv4bBdgKKWrCMDk0U8IF6UohdzvAYWvxrQiFX6I4LCJxzXWiCuH/tAvMYwpSLaRZQxQgmQ+N1rOEQ/ajEBdhr9OEBr8jp1bZUl3XMYhtllNAbrYEZVh0sZAYB9vxfa+JJ/etwYcMFsZBbPdTAVyhgQ0Weju5OtKoZLGEfmxjHjkJWI7tj5ySTdNIG9MtWi8vQ+JxCS60WL+ihfMz8M44CF98OtJ12z0XmOtGDz1YBDeR1P0FB42mdkSyOXRtfnO3Onf7OPd7U37X6pFxyq2EURYzhHWXx3wIMAHqAXFj/hFWxAAAAAElFTkSuQmCC) no-repeat 10px center;
}
.share .embed-input{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAASCAYAAAC5DOVpAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA4JpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDE0IDc5LjE1Njc5NywgMjAxNC8wOC8yMC0wOTo1MzowMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDozRkFDRTkyMkREMTdFMzExQUE0OUU1MUVGODRGRjY3MiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDoyNjNCM0U2M0E4N0MxMUU0OTYyRUIxMDMyNUVDMTNFMCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDoyNjNCM0U2MkE4N0MxMUU0OTYyRUIxMDMyNUVDMTNFMCIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgMjAxNCAoTWFjaW50b3NoKSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOmU0MTIxMjY1LTRhNTUtNGVjYi05ZWEyLWQyNDIwNmVhN2ZlOSIgc3RSZWY6ZG9jdW1lbnRJRD0iYWRvYmU6ZG9jaWQ6cGhvdG9zaG9wOmFmMWJiYjQyLWNkOGMtMTE3Ny04NTMxLWI3MDcxOTE0MTc5NyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PsHjvNgAAAFMSURBVHjalJRNSgNBEIUniYLJYiZmqUTdDCh4AE+giOgRAiqo4DaRELxADuFCEUQPIAqKKwmiOYQQsol7XcSZvNY30DZV0tPwEVJVvKmunw7SNA1ysADOwKzkD3KKddPfE0v+wo+i3ymBdzAAa1JAMfA/62AenKsRTqplsA0KwjWuwBfrVQQ7YEarWQU8sibLjpAR+ATX/L/KuDsm8EfMFjoRsjqib9OyndJ2nwlmQk90tJQu9sAQTDn2jiVYMYYHGpqK0Ar9XcXfpv/WdDMECRgpPWrw90Lxf5g+gsgo10AfjMGu89USGIAXJasDkNAf2d16A99gzwre4BWOlaYkrGfkjkYVvDIgdmarJtTRxD1nQtJuhmCfXatytm6ErKYZF/ou+iGvuOX7EPy36D2wBOpg7LO82qLHfBkufYWkRc+YM0MIFvO8dxMBBgD+kCg1y6c9sgAAAABJRU5ErkJggg==) no-repeat 10px center;
}
.share input::selection {
	background: rgb(46, 199, 225); /* WebKit/Blink Browsers */
}
.share input::-moz-selection {
	background: rgb(46, 199, 225); /* Gecko Browsers */
}
.share input:focus {
	outline:none;
}
.share .screen-content .tmpl{
	display: table;
	width: 100%;
	height: 100%;
}

.share .share-input-container{
	width: 340px;
	height: 42px;
	margin: 0 auto;
	color: white; /* IE8 support */
	color: rgba(255, 255, 255, 0.502);
}
.share .share-offset-container{
	margin: 0 auto;
	display: none;
	margin-bottom: 19px;
}
.share .share-container{
    margin-top: 18px;
}
.share .share-offset{
	width: 70px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	float: left;
	margin-bottom: 0px;
	margin-left: 6px;
	height: 26px;
}
.share .embed-offset-container .share-offset{
	float: left;
}
.share .embed-offset-container{
	display: none;
	margin: 0 auto;
}
/* checkbox */
.share .share-secured{
	margin-left: 12px;
}
.share-secure-lbl{
	float: left;
	margin-top: 6px;
}
/* labels and alerts */
.share .share-label{
	float: left;
	margin-left: 60px;
	margin-top: 9px;
	margin-right: 6px;
}
.share .embed-offset-container .share-label{
	margin-left: 0px;
}
.share-alert{
	font-size: 11pt;
	font-family: 'Lato', Helvetica, Arial;
	/*text-shadow: 1px 1px #000000;*/
	color: red;
	line-height: 28pt;
	display: none;
}
.noselection{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* copy button classes */
.share .share-copy-btn{
	border: 1px solid rgb(127, 127, 127);
	border: 1px solid rgba(255, 255, 255, .5);
	width: 55px;
	height: 25px;
	padding-top: 12px;
	margin-left: 12px;
	float: left;
	cursor: pointer;
	display: none;
}
.share .share-copy-btn:hover{
	text-shadow: 0px 0px 10px #fff;
}
.share-v-icon{
	font-size: 24pt;
	color: rgb(46, 199, 225);
	margin-left: 6px;
	float: left;
	width: 55px;
	height: 36px;
	display: none;
}
/* next and back buttons */
.share .back-btn{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	width: 14px;
	position: absolute;
	margin-top: 28px;
    margin-left: -26px;
	cursor: pointer;
	display: none;
}
.mobile .share .back-btn{
    font-size: 1em;
}
.share .back-btn:hover{
	text-shadow: 0px 0px 10px #fff;
}
.share .next-btn{
	width: 14px;
	position: absolute;
	margin-top: 28px;
	cursor: pointer;
	margin-left: 350px;
	display: none;
}
.share .next-btn:hover{
	text-shadow: 0px 0px 10px #fff;
}
.mobile .share .next-btn{
    font-size: 1em;
}
/* icon placeholder */
.share .share-icons-scroller{
	width: 344px;
	height: 58px;
	margin: 0 auto;
}
.share .share-icons-container{
    height: 64px;
    width: 334px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}
.share .icon-border{
	position: relative;
	border-radius: 28px 28px 28px 28px;
	-moz-border-radius: 28px 28px 28px 28px;
	-webkit-border-radius: 28px 28px 28px 28px;
	width: 64px;
	height: 56px;
    padding-top: 6px;
	display: inline-block;
    border: 0px;
    /*opacity: 0.7;*/
    font-size: 4em;
}
.mobile .small.share .share-input-container{
   margin-top: 2em;
}

.mobile .share .icon-border{
    border: 0px;
    opacity: 0.7;
    font-size: 4em;
}
.mobile .share.semiTransparentBkg{
    background-color: rgba(0, 0, 0, 0.2);
}
.share .share-network{
	display: table;
	width: 100%;
	height: 100%;
}
.share .custom-share-network{
	margin-top: 0px !important;
	margin-left: 0px !important;
}
/* a href link styles */
.share a:link {
	color: #59baf3;
	text-decoration: none;
    outline: none;
}
.share a:visited {
	color: #59baf3;
	text-decoration: none;
}
.share a:hover {
	color: #59baf3;
	text-decoration: none;
	/*text-shadow: 0px 0px 10px #fff;*/
}
.share a:active {
	color: #59baf3;
	text-decoration: none;
}

/* close button */
.share .share-close{
    float: right;
    margin-top: -30px;
	cursor: pointer;
	z-index: 3;
	color: white;
}
.mobile .share .share-close{
    margin-top: -15px;
}
.nativeApp .share .share-close{
	color: #d3d3d3;
	background-color: rgba(0,0,0,0.7);
	padding-left: 9px;
	padding-top: 9px;
	width: 22px;
	height: 22px;
}
.share .share-close:hover{
	text-shadow: 0px 0px 10px #fff;
}

/* small size */

.small.share .share-input-container{
	width: 220px;
	height: 24px;
}
.small.share .shareembed-input {
	width: 176px;
	padding-right: 4px;
	padding-left: 34px;
	height: 16px;
	font-size: 8pt;
}
.small.share .icon-border{
	width: 34px;
	height: 32px;
}
.mobile .small.share .icon-border{
	width: 40px;
}
.small.share .share-icons-scroller{
	width: 270px;
	height: 32px;
}
.mobile .small.share .share-icons-scroller{
	width: 270px;
}
.small.share .share-icons-container{
	width: 222px;
}
.mobile .small.share .share-icons-container{
	width: 250px;
}
.small.share .share-network{
	font-size: 0.7em;
	margin-top: 7px;
	margin-left: 9px;
}
.small.share .share-offset{
	width: 40px;
	padding-left: 4px;
	padding-right: 4px;
}
.small.share .share-label{
	float: left;
	margin-left: 45px;
	margin-top: 6px;
	margin-right: 0px;
	font-size: 8pt;
}
.small.share .embed-offset-container .share-label{
	margin-left: 0px;
}
.small.share .share-secure-lbl{
	font-size: 8pt;
}
.small.share .embed-offset-container .share-offset{
    width: 30px;
    margin-right: 4px;
}
.small.share .share-secured{
	margin-left: 2px;
}
.small.share .share-secure-lbl{
	margin-top: 0px;
}
.small.share .share-close{
	font-size: 10px;
    margin-top: -15px;
}
.small.share .next-btn{
	margin-top: 22px;
	margin-left: 246px;
	font-size: 10px;
}
.small.share .back-btn{
	margin-top: 22px;
	font-size: 10px;
}

/* IE8 support */
.share.ie8 .shareembed-input {
	font-family: Arial;
	height:24px;
	border: 1px solid white;
	padding-right: 4px;
	padding-left: 4px;
}
.share-alert.ie8{
	font-family: Arial;
}
.share.ie8 .share-input{
	background: url("");
	width: 326px;
}
.share.ie8 .embed-input{
	background: url("");
	width: 326px;
}
.share.ie8 .share-label{
	font-size: 11pt;
	margin-top: 5px;
}
.share.ie8 .share-secure-lbl{
	font-size: 11pt;
	margin-top: 5px;
}
.share.ie8 .share-offset{
	background-color: transparent !important;;
}
.small.share.ie8 .share-input{
	width: 210px;
	height: 16px;
}
.small.share.ie8 .embed-input{
	width: 210px;
	height: 16px;
}
.small.share.ie8 .share-label{
	font-size: 8pt;
	margin-top: 3px;
}
.small.share.ie8 .share-secure-lbl{
	font-size: 8pt;
}
.small.share.ie8 .share-offset{
	font-size: 9pt;
	height: 16px;
}
.small.share.ie8 .share-secure-lbl{
	margin-top: 0px;
}
/* font icons */
@font-face {
	font-family: 'share';
	src:url('fonts/share.eot?8ut62x');
	src:url('fonts/share.eot?#iefix8ut62x') format('embedded-opentype'),
		url('fonts/share.woff?8ut62x') format('woff'),
		url('fonts/share.ttf?8ut62x') format('truetype'),
		url('fonts/share.svg?8ut62x#share') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-share-"], [class*=" icon-share-"] {
	font-family: 'share' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}



.icon-share-link:before {
	content: "\e606";
}

.icon-share-embed:before {
	content: "\e607";
}

.icon-share-close:before {
	content: "\e608";
}

.icon-share-Yes:before {
	content: "\e609";
}

.icon-share-twitter:before {
    content: "\e917";
}
.icon-share-email:before {
    content: "\e918";
}
.icon-share-google:before {
    content: "\e919";
}
.icon-share-facebook:before {
    content: "\e91a";
}
.icon-share-linkedin:before {
    content: "\e91b";
}
.icon-share-sms:before {
    content: "\e91d";
}