<div class='panel-right'>
    <h4>Email or IM this to your friends:</h4>
	<input value="<%= share.getConfig('shareURL') %>" />
    <h4>Copy this code to your website or blog:</h4>
    <input value="<%= share.getConfig('embedCode') %>" />
	<div class="divider"></div>
	<h3>Social Share</h3>
	<ul>
	<% $.each(networks, function(idx, network){ %>
		<li><a href="<%=network.url%>" data-click="openPopup"><span class="<%=network.cssClass%>" title="<%=network.name%>"></span></a></li>
	<% }); %>
	</ul>
</div>