<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotspots</title>
    <script type="text/javascript" src="../../../../../tests/qunit/qunit-bootstrap.js"></script>
    <script type="text/javascript" src="../../../../../mwEmbedLoader.php"></script>
    <script type="text/javascript" src="../../../../../docs/js/doc-bootstrap.js"></script>
</head>
<body>
<h1>Hotspots - Player V2</h1>
<div id="kaltura_player_1545049605" style="width: 500px; height: 281px;"></div>
<script>
  kWidget.embed({
    "targetId": "kaltura_player_1545049605",
    "wid": "_2052371",
    "uiconf_id": 39149581,
    "flashvars": {
      ks: '',
      hotspots: {
        plugin: true
      },
    },
    "cache_st": 1545049605,
    "entry_id": "1_4gs7ozgq"
  });
</script>
</body>

</html>
