<!doctype html>
<html lang="en">
<head>
    <script src="http://kgit.html5video.org/pulls/2419/mwEmbedLoader.php"></script>
</head>
<body style="background-color: black; overflow: hidden">
<p style="color: #2EC7E1; font-family: Helvetica Neue, Helvetica, Arial; font-size: 24px">Dual Screen Enhancements for Sign Language Video Support</p>
<div id="kaltura_player" style="width: 960px; height: 640px; float: left"></div>

<script>
    mw.setConfig('forceMobileHTML5', true);
    kWidget.embed({
        'targetId': 'kaltura_player',
        'wid': '_1645161',
        'uiconf_id' : '32872141',
        'entry_id': "1_a8xdobvo", //Happy official video
        'flashvars': {
            'LeadWithHLSOnFlash': true, //flash/native HLS

            "EmbedPlayer.SpinnerTarget": "videoHolder",

            "dualScreen": {
                plugin: true,
                secondEntryId: '1_9mi9oy7p'
            },

            "sourceSelector": {
                plugin: true
            }
        }
    });
</script>
</body>
</html>