<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dual Screen Test</title>
    <script type="text/javascript" src="../../../../../tests/qunit/qunit-bootstrap.js"></script>
    <script type="text/javascript" src="../../../../../mwEmbedLoader.php"></script>
    <script type="text/javascript" src="../../../../../docs/js/doc-bootstrap.js"></script>
</head>
<body>
<ul>
    <li><a href="html5/">HTML5 Tests</a></li>
    <li><a href="html5-hls/">HTML5 hls.js Tests</a></li>
    <li><a href="flash/">Flash Tests</a></li>
    <li><a href="hls/">Flash Hls Tests</a></li>
</ul>
<h1>Dual Screen Test</h1>
<br />
<div id="kaltura_player" style="width: 960px; height: 640px;float: left;"></div>
<br style="clear: both;" /><br />
<script>
    kWidget.featureConfig({
        'targetId': 'kaltura_player',
        'wid': '_27017',
        'uiconf_id' : '35826631',
        'entry_id': "1_1nbhfvej", //2 videos
//        'entry_id': "1_qsq3z7t1", //2 videos AND slides
        'flashvars': {
            // default streamertype = http (HTML5 video progressive download)/

            'disableHLSOnJs': true,
            // 'LeadWithHLSOnFlash': true, //flash/native HLS
            // 'EmbedPlayer.ForceKPlayer': true, // kplayer mp4 (flash progressive download)
            // streamerType: "auto", //hds
            // streamerType: "rtmp", //hds
            // streamerType: "hdnetworkmanifest", //hds
            // streamerType: "hdnetwork", //hds
            // streamerType: "http", //HTML5 video progressive download

            // "chapters": {
            //     plugin: true
            // },
            // "sideBarContainer": {
            //     "clickToClose": true
            // },
            'quiz': {
                'plugin': true
            },

            "dualScreen": {
                plugin: true,
	            showFirstSlideOnLoad: false,
	            defaultDualScreenViewId : "pip-parent-in-small",
	            mobileTag: 'mobile',
            },

            //"streamSelector": {
            //    plugin: true
            //},

            // "sourceSelector": {
            //     plugin: true
            // },

            "closedCaptions": {
                plugin: true
            }

            // "infoScreen": {
            //     plugin: true,
            //     parent: "controlsContainer",
            //     order: 3,
            //     align: "right",
            //     minWidth: 400,
            //     minWidthClass: 'infoScreenSmall',
            //     template: ""
            // }
        }
    });
</script>
</body>
</html>