<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lecture Capturs test page</title>
    <script type="text/javascript" src="../../../../../tests/qunit/qunit-bootstrap.js"></script>
    <script type="text/javascript" src="../../../../../mwEmbedLoader.php"></script>
    <script type="text/javascript" src="../../../../../docs/js/doc-bootstrap.js"></script>
</head>
<body>
<ul>
    <li><a href="html5/">HTML5 Tests</a></li>
    <li><a href="html5-hls/">HTML5 hls.js Tests</a></li>
    <li><a href="flash/">Flash Tests</a></li>
    <li><a href="hls/">Flash Hls Tests</a></li>
</ul>
<h1>Lecture Capturs test page</h1>
<br />
<div id="kaltura_player" style="width: 960px; height: 640px;float: left;"></div>
<br style="clear: both;" /><br />
<script>
    kWidget.featureConfig({
        'targetId': 'kaltura_player',
        'wid': '_2095431',
        'uiconf_id' : '33946281',
        'entry_id': "1_14ebdq2m", //2 videos
        'flashvars': {
           'ks' : "djJ8MjA5NTQzMXxJsyY_cV_mv27o7QFHj4kpKaU_kH1t5mUHT2VnnDNTZs19l9MxLvRLKlfu8tfznRTSj_RQEpEJARInSBO7Ut24j-aym59nUcN2dMXFBOH6HKHDL6LS3neMG5qOkXzxl8AvETNDNcVHlZNiQWjTEuZAjhUbG3x_OgdLds8R94gf8PrblDoKQrYWJF9LemVq1-k7Hp0YkIXiPoo6pPh6fW5LJHKdT1214A2n5ZjkwH8KkP5tsfDVEAWrQnlfewho8gSUJ11aFimFE-Vu5VS7Rq-iLmbfyEZGUVcrY82I5ShH_B5ggdtJeyZQqGYBrDc2mVscp63K48Pq5TdIBhfp9Sfw6EpYnhbSAlC62zzIL7I5BYZoYNFQxgkFM48kHMySt6zJtMAOatwl9diafzq93I-",
			"autoPlay": "true",
			"chapters": {
				"layout": "vertical",
				"plugin": "true",
				"thumbnailRotator": "false"
			},
			"dualScreen": {
				"plugin": "true"
			},
			"sideBarContainer": {
				"clickToClose": "true",
				"plugin": "true",
				"position": "left"
			},
            'disableHLSOnJs': true
        }
    });
</script>
</body>
</html>