body{

}

.screen{
    /*z-index: 10;*/
    background-image:url("BACKGROUND.png")!important;
    background-size: 100% 100%;
    position: absolute;

}
center {
    margin-left: auto;
    margin-right: auto;

}
a{
    font-size: 2.9vw;
    text-decoration: none;
    color: white;
}

h1 {

    font-family: 'Lato', Helvetica, Arial, serif
;
    color: #ffffff;
    font-size: 10vw;;
    font-weight: 900;
    line-height: 10vw;
    text-align: left;
    transform: scaleY(1.0002);

}

h2 {
    font-size: 3.9vw;
    color: white;
    font-weight: normal;
}

.title-text{
    font-size: 5.9vw;
    color: white;
    font-weight: bold;
    text-align: center;
}
.sub-text{
    font-size: 2.5vw;
    color: white;
    text-align: center;
    font-weight: 100;

    margin-bottom: 2vw;

}
.confirm-box{
    position: relative;
    width: 50%;
    height:10vw;
    overflow: hidden;
    background-color: #00dcff;
    display: table;
    margin:0 auto;
    text-align: center;
    font-size: 3vw;
    vertical-align: middle;
    color: white;
    line-height:10vw;
}
.confirm-box:hover{
    cursor:pointer;
}


.header-container{
}
.answers-container{
    position: absolute;
    top: 24%;

}
.display{
    position:relative;
}
.question-container{
    padding-top: 1vw;
}
.display-question{
    margin-left: auto;
    margin-right: auto;
    color:  #ffffff;
    font-size: 2.9vw;
    font-weight: 700;
    text-align:center;
    width:80%;
    word-wrap: break-word;
}
.single-answer-box-bk{
    width: 96vw;
    height:4vw;
    padding-top: 1.8vw;
    padding-bottom: 1.8vw;
    margin-top:1vw;
    overflow: hidden;
    background: url(AnswerBg.png);
    background-size: 100% 100%;
}


.single-answer-box{
    display: inline-block;
    width: 96vw;
    color:white;
    font-size: 2.2vw;

    text-align:center;
    vertical-align: middle;
}

.single-answer-box-apply {
    display: inline-block;
    width:20vw;
    float: right;
    text-align:center;
    font-size: 2.9vw;
    margin-right: -0.9vw
    /*margin-top:1vw;*/
    /*padding-top: 1.8vw;*/
    /*padding-bottom: 1.8vw;*/
}
.single-answer-box-apply:hover {
    cursor: pointer;
}

.ftr-container{
    /*padding-top: 1vw;*/
    width: 100%;
    position: absolute;
    bottom: 0;
}
.ftr-left{
    display: inline-block;
    color:black;
    font-size: 2.9vw;
    /*margin-left: 2vw;*/
}
.ftr-right{
    display: inline-block;
    font-size: 2.9vw;
    /*width: 33vw;*/
    float: right;
    text-align: right;
    padding-right: 5vw;
}
.ftr-right:hover {
    cursor: pointer;
}
.hint-box{
    width: 9vw;
    height: 10vw;
    background-image: url(Hint.png);
    float: right;
    margin-top: -7vw;
    margin-bottom: 2vw;
    color:black;
    line-height: 10vw;
    font-weight: 700;
    font-size: 2vw;
    text-align: center;
    background-size: 100% 100%;
    vertical-align: middle;
}
.hint-box:hover{
    cursor: pointer;
}

.q-box{
    width: 10vw;
    height: 11vw;
    line-height:11vw;
    background-image: url(hexaTransp.png);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-size: 100% 100%;
}
.q-box-false{
    width: 10vw;
    height: 11vw;
    line-height:11vw;
    background-image: url(Submitted_Wrong.png);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-size: 100% 100%;
}
.q-box-false:hover{
    cursor: pointer;
}

.q-box,:hover{
    cursor: pointer;
}
.display-content{
    text-align: center;
    font-size: 3vw;
}

.gotItBox{

    width: 15vw;
    height: 10vw;
    line-height: 10vw;
    font-weight: 700;
    text-align: center;
    font-size: 3vw;
    vertical-align: middle;
    border: white;
    border-style: solid;
    border-width: thin;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 2vw;
    margin-right: 2vw;

}
.yourAnswer{
    color: white;
    font-size: 3vw;
    margin-top: 1vw;
}

.reviewAnswerPlace{
    text-align: left;
    margin-left: 27vw;
    margin-top: 8vw;
}
.theQuestion{
    font-size: 4vw;
    color:white;
}
.yourAnswerText{
    font-size: 4vw;
    color: white;
    margin-top: 2vw;
}
.correctAnswer{
    color: white;
    font-size: 3vw;
    margin-top: 1vw;
}
.correctAnswerText{
    font-size: 4vw;
    color: white;
    margin-top: 3vw;

}
.wrongAnswer{
    text-decoration:line-through;
    color:#362b36;
}

/*.reviewAnswer {*/
    /*display: table;*/
    /*position: absolute;*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/

/*.reviewAnswerNrDiv{*/
    /*width: 20vw;*/
    /*float: left;*/
/*}*/

.reviewAnswerNr{

    width: 17vw;
    height: 18vw;
    background-image: url(answerNr.png);
    text-align: center;

    line-height: 18vw;
    font-weight: 700;
    font-size: 8vw;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 6vw;
    margin: auto;
}

