.logo360{
    background-image: url(360.gif);
    background-size: cover;
    position: absolute;
    width: 75px;
    height: 40px;
    opacity: 0.7;
    cursor: pointer;
}
.logo360.bottomRight{
    bottom: 0;
    right: 0;
    margin: 5px 20px;
}
.canvas360{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    margin: auto;
}