.mwPlayerContainer video { width: 100%; height: 100%; }
.videoHolder { position: relative; overflow: hidden;  width: 100%; height: 100%; }
.mwPlayerContainer.fullscreen {
	position: absolute !important;
	width: 100% !important;
	height: 100%! important;
	z-index: 9999;
	min-height: 100%;
	top: 0;
	left: 0;
	margin: 0;
}
.mwPlayerContainer { position: relative }

.mwEmbedPlayer { width: 100%; height: 100%; overflow: hidden; position: absolute; top: 0; left: 0; }

.mv-player .control-bar.hover {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}


.player_select_list {
	color:white;
	font-size:10pt;
/*	display:none;*/
}
.player_select_list a:visited {
	color:white;
}
.mv_playhead {
	position:absolute;
	top:0;
	left:0;
	width:17px;
	height:21px;
	/*http://art.gnome.org/themes/gtk2*/
}

.mv_status {
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	float:left;
}
.set_ogg_player_pref{
	text-align:left;
}

.large_play_button {
	display:block;
	width: 130px;
	height: 96px;
	margin: auto;
/*	margin: -202px 0 0 154px;*/
	position: absolute;
	z-index: 3;
	cursor: pointer;
}

/* jquery.ui overrides */

.ui-icon_link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}
.ui-icon_link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: 0.2em;
	right: auto;
	top: 50%;
	margin-top: -8px;
	zoom: 1;
}
.ui-icon_link span.ui-text {
	position: absolute;
	left: 0.2em;
	right: auto;
	margin-top: -3px;
	zoom: 1;
}

.ui-progressbar-value{
	/* @embed */
	background-image: url('images/pbar-ani.gif');
}

.ui-widget-overlay {
	background: black; opacity: .40; filter: Alpha(Opacity=40);
}

.ui-widget-content input {
	padding: 5px;
}
.ui-widget-content a {
	color: #777;
}

ul.ui-provider-selection {
	list-style-type: none;
	margin: 0 0 0.6em 0;
	overflow: hidden;
	padding: 0;
	text-align: center;
}

ul.ui-provider-selection li {
	border-left: 1px solid black;
	float: left;
	line-height: 1.1em;
	margin: 0 0.5em 0 -0.5em;
	padding: 0 0.5em;
	color: blue;
	list-style-image:none;
	cursor:pointer;
}

ul.ui-provider-selection li .ui-selected {
	color: black;
	font-weight: bold;
}

ul.ui-provider-selection li a.ui-active {
	color: black;
	font-weight: bold;
}

ul.ui-provider-selection li a {
	color: blue;
	text-decoration: none;
}
.fg-menu .ui-icon{
	position:relative;
	top:-1px;
}

.ui-dialog-buttonpane a{
	float: right;
	margin-right: 10px;
}


/* Custom */
.mv-player .overlay-win { background: transparent; border: 0; } /* Custom */
.mv-player .overlay-content { padding: 10px; }
.mv-player .overlay-content h3 { display: block; font-size: 16px; font-weight: bold; color: #fff; font-family: arial; }
.mv-player .overlay-win h2 { font-size: 18px; margin-top: 0; }
.mv-player .overlay-content div { font-size: 12px; color: #fff; font-weight: bold; }
.mv-player .overlay-content div a { color: #00a8ff }
.mv-player .overlay-content div a:hover { color: #3abcff }
.mv-player .overlay-content ul { list-style: none; margin: 0 0 10px 0; padding: 0; }
.mv-player .vol_container {
	background: #272727;
	opacity: .90;
	filter:Alpha(Opacity=90);
	position:absolute;
	left:0px;
}
.mv-player .ui-icon ui-icon-closethick { border: 1px solid #606060; background: #222;font-weight: normal; color: #EEE; }
.mv-player .overlay-win textarea { background: #e4e4e4; height: 35px; padding: 6px; color: #666; border: 0; }
.mv-player .overlay-content .copycode { color: #333; padding: 8px 12px; font-weight: bold; float: right; cursor: pointer; }
.control-bar .ui-icon_link { border: 0; }
.control-bar .ui-state-hover { border: 0; }
.control-bar {
	position:relative;
	overflow: visible;
}
