.mwPlayerContainer video { width: 100%; height: 100%; }
.videoHolder { 
	position: relative; 
	overflow: hidden;  
	width: 100%; 
	height: 100%;
	background: #000; 
}
.mwPlayerContainer.fullscreen {
	position: absolute !important;
	width: 100% !important;
	height: 100%! important;
	z-index: 9999;
	min-height: 100%;
	top: 0;
	left: 0;
	margin: 0;
}
.mwPlayerContainer { position: relative; overflow: hidden; }

.mwEmbedPlayer {
	background-color: rgba(0,0,0,0);
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.mv-player .control-bar.hover {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}


.player_select_list {
	color:white;
	font-size:10pt;
/*	display:none;*/
}
.player_select_list a:visited {
	color:white;
}
.mv_playhead {
	position:absolute;
	top:0;
	left:0;
	width:17px;
	height:21px;
	/*http://art.gnome.org/themes/gtk2*/
}

.mv_status {
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	float:left;
}
.set_ogg_player_pref{
	text-align:left;
}

.large_play_button {
	display:block;
	width: 130px;
	height: 96px;
	margin: auto;
/*	margin: -202px 0 0 154px;*/
	position: absolute;
	z-index: 3;
	cursor: pointer;
}


/* Custom */
.mv-player .overlay-win { background: transparent; border: 0; } /* Custom */
.mv-player .overlay-content { padding: 10px; }
.mv-player .overlay-content h3 { display: block; font-size: 16px; font-weight: bold; color: #fff; font-family: arial; }
.mv-player .overlay-win h2 { font-size: 18px; margin-top: 0; }
.mv-player .overlay-content div { font-size: 12px; color: #fff; font-weight: bold; }
.mv-player .overlay-content div a { color: #00a8ff }
.mv-player .overlay-content div a:hover { color: #3abcff }
.mv-player .overlay-content ul { list-style: none; margin: 0 0 10px 0; padding: 0; }
.mv-player .vol_container {
	background: #272727;
	opacity: .90;
	filter:Alpha(Opacity=90);
	position:absolute;
	left:0px;
}
.mv-player .ui-icon ui-icon-closethick { border: 1px solid #606060; background: #222;font-weight: normal; color: #EEE; }
.mv-player .overlay-win textarea { background: #e4e4e4; height: 35px; padding: 6px; color: #666; border: 0; }
.mv-player .overlay-content .copycode { color: #333; padding: 8px 12px; font-weight: bold; float: right; cursor: pointer; }
.control-bar .ui-icon_link { border: 0; }
.control-bar .ui-state-hover { border: 0; }
.control-bar {
	position:relative;
	overflow: visible;
}
