.player_select_list {
	color:white;
	font-size:10pt;
/*	display:none;*/
}
.player_select_list a:visited {
	color:white;
}
.mv_playhead {
	position:absolute;
	top:0;
	left:0;
	width:17px;
	height:21px;
	/*http://art.gnome.org/themes/gtk2*/
}

.mv_status {
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	float:left;
}
.set_ogg_player_pref{
	text-align:left;
}

.large_play_button {
	display:block;
	width: 130px;
	height: 96px;
	margin: auto;
/*	margin: -202px 0 0 154px;*/
	position: absolute;
	z-index: 3;
	cursor: pointer;
}

.error {
	position:absolute;
	top: 46%;
	left: 50%;
	margin: 0 0 0 -160px;
	width: 280px;
	border: 1px solid #eee;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	background: #fff;
	padding: 10px;
	color: #000;
	font-size: 14px;
	overflow: hidden;
}
.error h2 {
	font-size: 14px;
}

/* jquery.ui overrides */

.ui-icon_link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;	
}
.ui-icon_link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: 0.2em;
	right: auto;
	top: 50%;
	margin-top: -8px;
	zoom: 1;
}
.ui-icon_link span.ui-text {	
	position: absolute;
	left: 0.2em;
	right: auto;	
	margin-top: -3px;
	zoom: 1;
}

.ui-progressbar-value{
	background-image: url('images/pbar-ani.gif');
}

.ui-widget-overlay{
	background: url('images/ui-bg_diagonals-thick_20_666666_40x40.png') repeat scroll 50% 50% #666666;
	opacity:0.5;
}

.ui-widget-content input {
	padding: 5px;
}
.ui-widget-content a {
	color:#fff;
}

ul.ui-provider-selection {
	list-style-type: none;
	margin: 0 0 0.6em 0;
	overflow: hidden;
	padding: 0;
	text-align: center;
}

ul.ui-provider-selection li {
	border-left: 1px solid black;
	float: left;
	line-height: 1.1em;
	margin: 0 0.5em 0 -0.5em;
	padding: 0 0.5em;
	color: blue;
	list-style-image:none;	
	cursor:pointer;	
}

ul.ui-provider-selection li .ui-selected {
	color: black;
	font-weight: bold;
}

ul.ui-provider-selection li a.ui-active {
	color: black;
	font-weight: bold;
}

ul.ui-provider-selection li a {
	color: blue;
	text-decoration: none;	
}
.fg-menu .ui-icon{
	position:relative;
	top:-1px;
}

.ui-dialog-buttonpane a{
	float: right;
	margin-right: 10px;
}
