
/*****************************
General
*****************************/
.webcastPolls .parent-center
{
    width: 100%;
    height: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

/*****************************
screen internal poll wrapper
*****************************/

.webcastPolls .screen-content {
    padding: 10px;
    position: relative;
    height: 100%;
}

.webcastPolls .poll-container, .webcastPolls .tmpl
{
    display:table;
    width: 100%;
    height: 100%;
}

.webcastPolls .icon-close{
    display: none !important;
}

/*****************************
Loading
*****************************/
.webcastPolls .loading-container {

}

/*****************************
Poll
*****************************/
.webcastPolls .poll  {
    display:none;
}

.webcastPolls .poll .question{
    float:left;
    color: #fff;
    font-size:200%;
}


.webcastPolls .poll .upper-row {
    position:relative;
}

.webcastPolls .poll .responds {
    float:right;
}

.webcastPolls .poll .responds .responds-number {
    font-size:250%;
}

.webcastPolls .poll .answers-container {
    clear:both;
    margin-top:10px;
}

.webcastPolls .poll .answer {
    margin-bottom: 10px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    height:30px;
    overflow:hidden;
    background:rgba(255, 255, 255,0.4);
    color: #000;

}

.webcastPolls .poll .answer-text {
    margin-left:20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.webcastPolls .poll .answer:hover {
    background-color: rgb(86,114,53);
}

.webcastPolls .poll .answer.selected {
    background-color: rgb(86,168,15);
}