
/*****************************
General
*****************************/
.webcastPolls {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    box-sizing: border-box;
    padding: 1em;
    background-color:rgba(0,0,0,0.5);
    font-family: 'Lato', 'Helvetica', 'Arial';
}

.webcastPolls .poll-container
{
    width: 100%;
    height: 100%;
    display:table;
}

.webcastPolls .poll-container-content
{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
}

/*****************************
Loading
*****************************/
.webcastPolls .loading-container {
    display:table-cell;
    vertical-align: middle;
    text-align: center;
}

/*****************************
Poll (shared)
*****************************/
.webcastPolls .poll  {
    display:none;
    margin:auto;

}

/**** question elements ****/
.webcastPolls .poll .question{
    color: #fff;
    font-size:16px;
    line-height:19px;
    letter-spacing: 0.5px;
    margin:auto;
}



/**** respond elements ****/
.webcastPolls .poll .responds {
    font-size:13px;
    color: rgba(255,255,255,0.8);
    line-height: 20px;
}

.webcastPolls .poll .responds .responds-number {
    font-size:20px;
    letter-spacing:2px;
}

.webcastPolls .poll .responds .responds-text {
    letter-spacing:3px;

}

/**** answers elements ****/

.webcastPolls .poll .answer {
    margin-bottom: 10px;
    width:100%;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    overflow:hidden;
    background:rgba(0,0,0,0.5);
    text-align: left;
    border : rgba(255,255,255,0.1) solid 1px;
    vertical-align: middle;
    position:relative;

}

.webcastPolls .poll .answer .answer-result {
    height:2px;
    position:absolute;
    bottom:0;
    left:0;
    width:0%;
    background: rgb(126, 211,33);
}


.webcastPolls.allow-voting .poll .answer {
    border : rgba(255,255,255,0.2) solid 1px;
    cursor: pointer;
}


.webcastPolls .poll .answer .answer-text {
    font-size: 13px;
    color: rgba(255,255,255,0.3);
    letter-spacing: 0.5px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    float:left;
}

.webcastPolls .poll .answer .answer-result-text {
    float:right;
    margin-right:10px;
}

.webcastPolls.allow-voting .poll .answer-text {
    color: rgba(255,255,255,0.8);
}

.webcastPolls .poll .answer.selected {
    border: rgba(126,211,33,0.3) solid 1px;
}

.webcastPolls.allow-voting .poll .answer:hover, .webcastPolls.allow-voting .poll .answer.selected {
    background-color: rgba(0,0,0,0.85);
    color: white;
    border: rgba(126,211,33,0.6) solid 1px;
}


.webcastPolls .poll .answer .answer-row {
    clear:both;
}


/*****************************
Poll (medium)
*****************************/

.webcastPolls .medium-layout
{
    height:100%;
    width:100%;
}


.webcastPolls .medium-layout .poll{
    display:table;
    table-layout:fixed;
    width:100%;
    min-width:464px;
}


.webcastPolls .medium-layout .poll .column-left {
    display: table-cell;
    position:relative;
    width: 45%;
}


.webcastPolls .medium-layout .poll .column-right {
    display: table-cell;
    width: 55%;
}


/**** question elements ****/
.webcastPolls .medium-layout .poll .question{
    width:180px;
}

.webcastPolls .medium-layout .poll .question-widget{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/**** responds elements ****/

.webcastPolls .medium-layout .poll .responds-widget{
    position:absolute;
    bottom:10px;
    left:0;
    right:0;
}

/**** answers elements ****/
.webcastPolls .medium-layout .poll .answers-widget{
    margin-right:40px;
}


.webcastPolls .medium-layout .poll .answer {
    display: inline-block;
    position:relative;
    line-height: normal;
    height:48px;
}


.webcastPolls .medium-layout  .poll .answer-text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    margin:0 5px 0 5px;
}




/*****************************
Poll (large)
*****************************/

.webcastPolls .large-layout
{
    height:100%;
    width:100%;
}

.webcastPolls .large-layout .poll  {
    width:597px;
}

/**** question elements ****/

.webcastPolls .large-layout .poll .question{
    width:455px;
}

.webcastPolls .large-layout .poll .question-widget {
    position:relative;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 30px;
}

/**** responds elements ****/

.webcastPolls .large-layout .poll .responds-widget{
    text-align:left;
    margin-top:25px;
    margin-right:20px;
}

.webcastPolls .large-layout .poll .responds-text {
    margin-left:30px;
}

/**** answers elements ****/

.webcastPolls .large-layout .poll .answers-widget {
    clear:both;
    margin-top:10px;
}

.webcastPolls .large-layout .poll .answer {
    margin-bottom: 10px;
    height:48px;
    line-height: 48px;
    vertical-align: middle;
}

.webcastPolls .large-layout  .poll .answer-text {
    margin-left:29px;
}
