.modal_editor {
	/*background:#AAA none repeat scroll 0 0;
	border:3px solid #666666;*/
	left:10px;
	top:10px;
	right:10px;
	bottom:10px;
	position:fixed;		
	z-index:100;
}

.displayHTML a:visited {
	color:white;
}

.loadingSpinner {
	width:32px;
	height:32px;
	display:block;
	padding:0px;
	background-image: url('images/loading_ani.gif');
}

.mw-imported-resource{
	border: thin solid black;
}

.kaltura-icon {
	background-image:url('images/kaltura_logo_sm_transparent.png') !important;
	background-repeat:no-repeat;
	display: block;
	height: 12px;
	width: 12px;
	margin-top: 2px !important;
	margin-left: 3px !important;	
}

.mw-fullscreen-overlay {
	background: rgb(0, 0, 0) none repeat scroll 0% 0%;
	position: fixed;
	top: 0pt;
	left: 0pt;
	width: 100%;
	height: 100%;
	-moz-background-clip: border;
	-moz-background-origin: padding;
	-moz-background-inline-policy: continuous;
}



/**
* Special Video player play-btn
* Lets us use root common style sheets with jquery based skins
* ( without additional assets in the embedPlayer skins folder )
*/
.play-btn-large {
	width: 70px;
	height: 53px;
	/* @embed */
	background : url('images/player_big_play_button.png');
	position : absolute;
	cursor : pointer;
	border : none !important;
	z-index : 1;
	
	left : 50%;
	top : 50%;
	margin-left: -35px;
	margin-top : -26px;
}

.play-btn-large:hover {
	/* @embed */
	background : url('images/player_big_play_button_hover.png');
}

.carouselContainer {
	position : absolute;
	width : 100%;
	z-index : 2;
}

.carouselVideoTitle {
	position : absolute;
	top : 0px;
	left : 0px;
	width : 100%;
	background : rgba(0, 0, 0, 0.8);
	color : white;
	font-size : small;
	font-weight : bold;
	z-index : 2;
}

.carouselVideoTitleText {
	display : block;
	padding : 10px 10px 10px 20px;
}

.carouselTitleDuration {
	position : absolute;
	top : 0px;
	right : 0px;
	padding : 2px;
	background-color : #5A5A5A;
	color : #D9D9D9;
	font-size : smaller;
	z-index : 2;
}

.carouselImgTitle {
	position : absolute;
	width : 100%;
	text-align : center;
	color : white;
	font-size : small;
	background : rgba(0, 0, 0, 0.4);
}

.carouselImgDuration {
	position : absolute;
	top : 2px;
	left : 2px;
	background : rgba( 0, 0, 0, 0.7 );
	color : white;
	padding : 1px 6px;
	font-size : small;
}

.carouselPrevButton, .carouselNextButton {
	display : block;
	position : absolute;
	bottom: 23px;
}

.carouselPrevButton {
	left : 5px;
}

.carouselNextButton {
	right: 6px;
}

.alert-container {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	background-image: linear-gradient(bottom, rgb(215,215,215) 4%, rgb(230,230,230) 55%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(215,215,215) 4%, rgb(230,230,230) 55%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(215,215,215) 4%, rgb(230,230,230) 55%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(215,215,215) 4%, rgb(230,230,230) 55%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(215,215,215) 4%, rgb(230,230,230) 55%, rgb(255,255,255) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.04, rgb(215,215,215)), color-stop(0.55, rgb(230,230,230)), color-stop(1, rgb(255,255,255)));
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 80%;
	max-height: 30%;
}

.alert-title {
    background-color : #E6E6E6;
    padding : 5px;
    border-bottom : 1px solid #D1D1D1;
    font-weight : normal !important;
	font-size: 14px !important;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px
}

.alert-message {
    padding : 5px;
    font-weight : normal !important;
	text-align: center;
	font-size: 14px !important;
}

.alert-buttons-container {
    text-align: center;
    padding-bottom: 5px;
}

.alert-button {
    background-color:  #474747;
	color: white;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
	padding: 2px 10px;
	background-image: linear-gradient(bottom, rgb(25,25,25) 4%, rgb(47,47,47) 55%, rgb(71,71,71) 68%);
	background-image: -o-linear-gradient(bottom, rgb(25,25,25) 4%, rgb(47,47,47) 55%, rgb(71,71,71) 68%);
	background-image: -moz-linear-gradient(bottom, rgb(25,25,25) 4%, rgb(47,47,47) 55%, rgb(71,71,71) 68%);
	background-image: -webkit-linear-gradient(bottom, rgb(25,25,25) 4%, rgb(47,47,47) 55%, rgb(71,71,71) 68%);
	background-image: -ms-linear-gradient(bottom, rgb(25,25,25) 4%, rgb(47,47,47) 55%, rgb(71,71,71) 68%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.04, rgb(25,25,25)), color-stop(0.55, rgb(47,47,47)), color-stop(0.68, rgb(71,71,71)) );
}

.alert-text {
	color : black !important;
}