/*
  Style sheet for purchaseSubscription plugin
  It's recomended to prefix your plugin styles with the plugin name
*/
.purchaseSubscription {

}

.purchaseSubscription .slick-arrow {
    z-index: 100;
}

.purchaseSubscription .slick-prev {
    left: 0;
}

.purchaseSubscription .slick-next {
    right: 0;
}

.purchaseSubscription.screen {
    padding-top: 0;
}

.purchaseSubscription .icon-close {
    right: 1em !important;;
    top: 1em !important;
}

.purchaseSubscription .screen-content {
    padding: 0;
    /*position: relative;*/
    height: 100%;
    width: 100%;
}

.purchaseSubscription .itemWrapper {
    position: relative;
}

.purchaseSubscription .posterWrapper {
    /*position: absolute;*/
}

.purchaseSubscription .itemInfo {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 60%;
    height: 210px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-family: Roboto;
     font-weight: 400;
    font-size: 15px;
}

.purchaseSubscription .posterShade {
    background: linear-gradient(to top,#000,rgba(0,0,0,.3) 40%,rgba(0,0,0,0));
    width: 100%;
    height: 100%;
}

.purchaseSubscription .button::before{
    font-family: icomoon;
}

.purchaseSubscription .button {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.purchaseSubscription .button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}