<ul>
    <% for ( var i = 0; i < mediaList.length; i++ ) { %>
    <%var mediaItem =  mediaList[i];%>
    <li class="chapterBox" data-chapter-index="<%=mediaItem.order%>">
            <% if( meta.includeThumbnail) { %>
            <div class="k-thumb" alt="Thumbnail for <%=mediaItem.title%>" data-chapter-index="<%=mediaItem.order%>"
                 style="background-image:url(<%=mediaItem.thumbnail.url%>);">
            <% } %>
                <div class="chapterBoxShadow"></div>
                <div class="chapterBoxInner">
                    <div class="k-time-data">
                        <% if( meta.includeItemStartTime) { %>
                        <span class="k-start-time">
                            <span class="icon-start_time"></span>
                            <span><%=mediaItem.startTimeDisplay%></span>
                        </span>
                        <% } %>
                        <% if( meta.includeMediaItemDuration) { %>
                        <span class="k-duration">
                            <span class="icon-duration"></span>
                            <span id="mediaItemDuration"><%=mediaItem.durationDisplay%></span>
                        </span>
                        <% } %>
                    </div>
                    <div class="k-title-container" title="<%=mediaItem.title%>">
                        <% if( meta.includeItemNumberPattern) { %>
                        <span class="itemNumber"><%=mediaItem.chapterNumber%></span>
                        <% } %>
                        <%
                        var chapterTitle = mediaItem.title;
                        var tooltip = null;
                        if( mediaItem.title && chapterTitle.length > meta.titleLimit ){
                            tooltip =  mediaItem.title;
                            chapterTitle = chapterTitle.substr(0, meta.titleLimit-4 ) + ' ...';
                        } %>
                        <span class="k-title" title="<%=tooltip%>"><%=chapterTitle%></span>
                    </div>
                </div>
            </div>

    </li>
    <% } %>
</ul>