<li class="mediaBox chapterBox collapsed"
    data-chapter-index="<%=mediaItem.chapterNumber%>"
    data-obj-id="<%=mediaItem.id%>"
    data-box-type="<%=mediaItem.type%>"
    data-mediaBox-index="<%=mediaItem.order%>"
    data-chapter-collapsed="true">

    <div class="boxImg">
        <img src="<%=mediaItem.thumbnail.url%>" alt="Thumbnail for <%=mediaItem.title%>"/>
    </div>
    <div class="boxInfo">
        <div class="chapterNumberWrapper">
            <div class="chapterRibbon" title="<%=meta.titles.chapterNumber%>"></div>
            <%
                var ribbonChapterNumber = mediaItem.chapterNumber;
                if (mediaItem.chapterNumber.toString().length === 1){
                    ribbonChapterNumber = "0" + (mediaItem.chapterNumber + 1);
                }
            %>
            <span class="chapterNumber"><%=ribbonChapterNumber%></span>
        </div>
        <div class="k-title-container mediaBoxText">
            <span class="k-chapter-title" title="<%=mediaItem.title%>"><%=mediaItem.title%></span>
        </div>
        <div class="k-description-container mediaBoxText">
            <span class="k-description" title="<%=mediaItem.description%>"><%=mediaItem.description%></span>
        </div>
        <span class="mediaBoxText k-chapter-time" title="<%=meta.titles.chapterStartTime%>">
            <span class="icon-start_time"></span>
            <span><%=mediaItem.startTimeDisplay%></span>
        </span>
        <span class="k-duration mediaBoxText k-chapter-time" title="<%=meta.titles.chapterDuration%>">
            <span class="icon-duration"></span>
            <span id="mediaItemDuration"><%=mediaItem.durationDisplay%></span>
        </span>
    </div>
    <div class="boxShadow"></div>
    <% if (mediaItem.hasChildren){%>
    <div class="slideBoxToggle icon-toggle" title="<%=meta.titles.chapterToggle%>"></div>
    <%}%>
</li>
