<li class="mediaBox slideBox <% if (mediaItem.chapterNumber !== -1){%>collapsed<%}%>"
    role="button"
    aria-label="<%=meta.titles.slide%> - <%=mediaItem.description%>"
    data-chapter-index="<%=mediaItem.chapterNumber%>"
    data-slide-index="<%=mediaItem.slideNumber%>"
    data-box-type="<%=mediaItem.type%>"
    data-obj-id="<%=mediaItem.id%>"
    data-starttime="<%=mediaItem.startTime%>"
    data-mediaBox-index="<%=mediaItem.order%>"
    tabindex="<%=mediaItem.tabIndex%>">
    <div class="boxImg" title="<%=mediaItem.title%>" data-show-tooltip="true">
        <img src="<%=mediaItem.thumbnail.url%>" alt="Thumbnail for <%=mediaItem.title%>"/>
    </div>
    <div class="boxInfo">
        <div class="slideGutter">
            <% if (mediaItem.hasParent){ %>
                <div class="slideNumber" title="<%=meta.titles.slideNumber%>" data-show-tooltip="true">
                    <%=(mediaItem.chapterNumber + 1)%>.<%=(mediaItem.slideNumber + 1)%>
                </div>
            <%}%>
            <% if (mediaItem.startTimeDisplay){ %>
                <span class="mediaBoxText k-chapter-time" title="<%=meta.titles.slideStartTime%>" data-show-tooltip="true">
                    <span class="icon-start_time"></span>
                    <span><%=mediaItem.startTimeDisplay%></span>
                </span>
            <%}%>
        </div>
    </div>
    <div class="slideOverlay"></div>
    <div class="boxOutline"></div>
    <div class="separator"></div>
</li>
