<li class="mediaBox slideBox <% if (mediaItem.chapterNumber !== -1){%>collapsed<%}%>"
    data-chapter-index="<%=mediaItem.chapterNumber%>"
    data-slide-index="<%=mediaItem.slideNumber%>"
    data-box-type="<%=mediaItem.type%>"
    data-obj-id="<%=mediaItem.id%>"
    data-mediaBox-index="<%=mediaItem.order%>">
    <div class="boxImg" alt="Thumbnail for <%=mediaItem.title%>">
        <img src="<%=mediaItem.thumbnail.url%>"/>
    </div>
    <div class="boxInfo">
        <div class="slideGutter" title="Slide number">
            <% if (mediaItem.hasParent){ %>
                <%=(mediaItem.chapterNumber + 1)%>.<%=(mediaItem.slideNumber + 1)%>
            <%}%>
        </div>
        <div class="k-title-container mediaBoxText" title="<%=mediaItem.title%>">
            <span class="k-title" title="<%=mediaItem.title%>"><%=mediaItem.title%></span>
        </div>
        <span class="mediaBoxText k-chapter-time" title="Slide start time">
            <span class="icon-start_time"></span>
            <span><%=mediaItem.startTimeDisplay%></span>
        </span>
    </div>
    <div class="boxShadow"></div>
</li>
