<!DOCTYPE HTML>
<html>
<head>
<title>External Auth</title>
<script type="text/javascript" src="../../../../tests/qunit/qunit-bootstrap.js"></script>
<script type="text/javascript" src="../../../../mwEmbedLoader.php"></script>
<script type="text/javascript" src="../../../../docs/js/doc-bootstrap.js"></script>

</head>
<body>
<h2>External Auth plugin</h2>
<br />
<div id="kdoc-more-desc">Demonstrates basic external auth support. This API enables an player iframe to request authentication from a parent application that provides KS tokens ( like kaltura mediaSpace ) </div>
<div id="kaltura_player" style="width:600px;height:370px;float:left"></div>

<script type="text/javascript" src="../../tests/resources/qunit-kaltura-bootstrap.js"></script>
<script>
	var localPath = document.location.href;
	var authFrameUrl = localPath.split('externalAuth.html')[0] + 'ksPostMessageFrame.php';
	var doPlayerEmbed = function(){
		kWidget.featureConfig( {
			'targetId': 'kaltura_player',
			'wid' : '_243342',
			'uiconf_id': '12905712',
			'entry_id': '0_mjbelixh',
			'flashvars':{
				'externalAuth':{
					'plugin': true,
					'authFrameUrl' : authFrameUrl,
					'authFrameTimeout': 4
				}
			}
		});
	}
	doPlayerEmbed();
</script>
<div style="clear:both"></div>
<br>
If you have already authenticated, you may need to clear your session to see end to end example:<br>
<input id="logout" type="button" value="Logout"></input>
<input id="login" type="button" value="Show login window"></input>
<script>
	$('#logout').click(function(){
		$.get( authFrameUrl + '?action=logout' );
		// refresh player embed: 
		doPlayerEmbed();
	})
	$('#login').click(function(){
		var authPage = (window.open( authFrameUrl, 
				'kalturaauth',
				 "menubar=no,location=yes,resizable=no,scrollbars=no,status=no" +
				 "left=50,top=100,width=400,height=250" 
			));
	});
</script>
<h3> Implementation of postMessage frame page </h3>
The external auth plugin will load a iframe url inside. This iframe page is responsible for communicating to the external auth plugin if the user is authenticated:
<pre class="prettyprint linenums">
&lt;script&gt;
/ listen to login respond with ks, error login or error domain: 
window.addEventListener("message", function( event ){
	// the data of the check will be: kaltura-externalAuth-check
	if( event.data == 'kaltura-externalAuth-check' ){
		var originDomain  = event.origin.split('/').slice(2,3)[0];
		// origin domain should almost always be cdnapisec.kaltura.com ( unless in an on-prem setup )
		if( isValidDomain( originDomain ) ){
			// check if you have a KS and retun it. 
			if( ks ){
				event.source.postMessage( JSON.stringify( {'ks': ks}),  event.origin);
			} else {
				event.source.postMessage( JSON.stringify( {'error': 'login'}),  event.origin);
			}
		} else {
			event.source.postMessage( JSON.stringify( {'error': 'domain'}),  event.origin);
		}
	}
});
&lt;/script&gt;
</pre>
<h3> What type of KS should be used? </h3>
Since this player is just responsible for playback a special KS should be generated specific to playback. This will minimize exposure of additional permissions to the playback context:
<pre class="prettyprint linenums">
$conf = new KalturaConfiguration( '243342' );
$conf->serviceUrl = $wgKalturaServiceUrl;
$conf->serviceBase = $wgKalturaServiceBase;
$client = new KalturaClient( $conf );

return $client->session->start ( $wgKalturaUserSecret,
	$_SERVER['REMOTE_ADDR'],
	KalturaSessionType::USER,
	'243342',
	3600, // expire in one hour
	"sview:0_mjbelixh" // give permission to "view" a given entry
);
</pre>
</body>
</html>