<% if( quiz.state === "welcome") { %>
<div class="ivqContainer">
    <div class="welcome"></div>
    <div class="welcomeMessage"></div>
    <div class="welcomeMessage InvideoTipMessage"></div>
    <div class="bottomContainer">
        <div class="confirm-box"></div>
    </div>
</div>
<% } %>
<% if( quiz.state === "question") { %>
<div class="header-container">
    <div class="display-question"></div>
</div>
<div class="answers-container"></div>
<div class = "ftr-container">
    <div class="ftr-left"></div>
    <div class="ftr-right"></div>
</div>
<% } %>
<% if (quiz.state === "contentScreen"){%>
<div class="ivqContainer">
    <div class="title-text"></div>
    <div class="sub-text"></div>
    <div class="display-content"></div>
    <div class="bottomContainer">
        <div class="confirm-box"></div>
    </div>
</div>
<% } %>
<% if (quiz.state === "hexScreen"){%>
<div class="ivqContainer">
    <div class="title-text"></div>
    <div class="sub-text"></div>
    <div class="dispay-all-container">
        <div class="hexagon-container"></div>
    </div>
    <div class="bottomContainer">
        <div class="confirm-box"></div>
    </div>
</div>
<% } %>
<% if (quiz.state === "reviewAnswer"){%>
    <div class="header-container"></div>
    <div class = "reviewAnswerNr"> </div>
    <div class ="reviewAnswerPlace" >
        <div class="theQuestion"></div>
        <div class="yourAnswerText"></div>
        <div class="yourAnswer"></div>
        <div class="correctAnswerText"></div>
        <div class="correctAnswer"></div>
    </div>
<div class="gotItBox"></div>
<% } %>
<% if (quiz.state === "hintWhyScreen"){%>
    <div class="header-container"></div>
    <div class="hint-container"></div>
<% } %>

