<% if( quiz.state === "welcome") { %>
<h1><span >Welcome</span></h1>
<div class="sub-text"></div>
<div class='confirm-box'></div>

<% } %>
<% if( quiz.state === "question") { %>
<div class="header-container">
    <div class="display-question"></div>
</div>
<div class="answers-container"></div>
<div class = "ftr-container">
    <div class="ftr-left"></div>
    <div class="ftr-right"></div>
</div>

<% } %>

<% if (quiz.state === "contentScreen"){%>
<div class="title-text"></div>
<div class="sub-text"></div>
<div class="display-content"></div>
<div class='confirm-box'></div>
<% } %>

<% if (quiz.state === "reviewAnswer"){%>
<div class="header-container"></div>

<!--<div class="reviewAnswer">-->


    <!--<div class ="reviewAnswerNrDiv" >-->
        <div class = "reviewAnswerNr"> </div>
    <!--</div>-->
    <div class ="reviewAnswerPlace" >

        <div class="theQuestion"></div>
        <!--<div class="header-container"></div>-->
        <div class="yourAnswerText"></div>
        <div class="yourAnswer"></div>
        <div class="correctAnswerText"></div>
        <div class="correctAnswer"></div>


    </div>
<div class="gotItBox"></div>

<!--</div>-->

<% } %>

<% if (quiz.state === "why"){%>
<div class="header-container"></div>
<div class="sub-text"></div>
<div class="hint-container"></div>
<div class="confirm-box"></div>
<% } %>

<% if( quiz.state === "hint") { %>
<h2>hint</h2>
<div class = "hint-container"></div>
<div class="confirm-box"></div>
<% } %>

