<div class="txt-btn enhanced-mode">Enhanced mode</div>
<div class="txt-btn player-mode"><%=gM('tr-player-mode')%></div>
<div class="share-container">
    <div class="share-btn share-email" title="Email"></div>
    <div class="share-btn share-copy" title="Share"></div>
</div>
<div class="playlist-test1 transcript-body" title="Playlist"> - 1 - </div>
<div class="playlist-test2 transcript-body" title="Playlist"> - 2 - </div>
<div class="playlist-test3 transcript-body" title="Playlist"> - 3 - </div>
