<div class="swa-container" >
    <span class="swa-title swa-top-item"><%=self.getConfig('headerTitle')%></span>
    <div class="search-box">
        <form id="search" class="search-form">
            <div class="input-wrapper">
                <input type="text" class="search-input" placeholder="Search All Videos">
                <a class="search-btn"></a>
            </div>
        </form>
    </div>
</div>
<ul class="swa-ul">
    <li class="swa topics-item"  >
        Topic a
    </li>
    <li class="swa topics-item"  >
        Topic a
    </li>
    <li class="swa topics-item"  >
        Topic a
    </li>
</ul>