<div class="swa-playlist">
    <div class="swa-container" >
        <span class="swa-title swa-top-item"><%=self.getConfig('headerTitle')%></span>
        <div class="search-box">
            <form id="search" class="search-form">
                <div class="input-wrapper">
                    <input type="text" class="search-input" placeholder="Search All Videos">
                    <a class="swa search-btn"></a>
                </div>
            </form>
        </div>
    </div>
    <div class="swa-carousel-container">
        <a href="#" class="prev prev-stage"><span>&lsaquo;</span></a>
        <div class="swa jcarousel">
            <ul class="swa-ul"></ul>
        </div>
        <a href="#" class="next next-stage"><span>&rsaquo;</span></a>
        <div class="clear"></div>
    </div>
</div>