.k-chapters-container.horizontal {
	padding-top:5px;
}
.k-chapters-container .chapterDivider{
	height: 50px;
	width: 1px;
	background:#aaa;
	position:absolute;
	top:10px;
	left:2px;
}

.k-chapters-container .chapterBox{
	background: #eee;
	cursor:pointer;
	position:relative;
	padding-left: 10px;
	padding-right: 10px;
}
.k-chapters-container .chapterBox:hover{
	background: #ddd;
}
.k-chapters-container .chapterBox.active{
	background: #ccc;
}
/*
* horizontal layout styles:
*/
.k-chapters-container.horizontal .chapterBox{
	position:relative;
	min-height:65px;
	max-width:200px;
	display:inline;
	float:left;
	padding-left:10px;
	padding-right:20px;
	border-bottom: solid thin #aaa;
	height:100%;
}

.k-chapters-container .k-carousel{
	float:left;
}

.k-chapters-container .k-scroll{
	display: block;
	cursor:pointer;
	float: left;
	width: 20px;
	height:100%;
	opacity:.7;
	text-decoration: none;
}
.k-chapters-container .k-next{
	background: no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAQAAAD1lzQWAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfcCR0BGhpKxvJRAAAAhUlEQVQI12NgYJCcL3lekp8BBiTna/7X+y9zASbEpMTPxcDKIKTPfBAixHSkSmoHA4oQw38N3+3G/42hGhkhQtb7f0owMPxm+LCIiYGBgUGq/JsEAwMDg8CdpVOg9hj/N/5vd/ucw38WdC4DixL/DwYGBu47E1INjzD+gdoBk4WC/xrIXADEAzdXKDh+NAAAAABJRU5ErkJggg==);
	background-position:center; 
}

.k-chapters-container .k-next:hover{
	opacity:1;
	background-color:#eee;
}
.k-chapters-container .k-prev{
	background: no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAQAAAD1lzQWAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfcCR0BFDQIk9IQAAAAj0lEQVQI12NggAJJfsnzkvMZGFhgXOaDQvq/DaACEC4rAyuDED8TgsvAILXjSBWDJL/MBb3/xv+N//tu/6/BwMAgtxDCtXr+X4OBgYGBaekUgTsMDAwM3ySkyhkYGBgY/rOcc7C7bfzf+L/mf8n5WISYGBgY/xgemZDKfYeBgYtBiR/qTogqqD0Iof8aDAwAfkM1Z1BrKhkAAAAASUVORK5CYII=);
	background-position:center; 
}
.k-chapters-container .k-prev:hover{
	background-color:#eee;
	opacity:1;
}
.k-chapters-container .k-time-for {
	font-style: italic;
}

/****************************************************************** 
* Vertical overrides 
******************************************************************/
.k-chapters-container.k-vertical .chapterDivider{
	height: 1px;
	width: 80%;
	background:#aaa;
	position:absolute;
	top:2px;
	left:10px;
}
.k-chapters-container.k-vertical .chapterBox{
	padding-top:10px;
}
.k-chapters-container.k-vertical {
	width:400px;
}
.k-chapters-container.k-vertical .chapterBox .k-thumb {
	float:left;
	margin-right:10px;
}

.k-chapters-container.k-vertical .k-scroll{
	float: none;
	width: 100%;
	height: 20px; 
}
.k-chapters-container.k-vertical .k-carousel{
	float: none;
} 
.k-chapters-container.k-vertical .k-next{
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAQAAABn7dZ6AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfcCR0FEyvN0+H+AAAAhklEQVQI12NgYPivYb1Ocj4DFMB4LP81/Pp/eAgwMDA8T2RgQPBYzkt8VGFg4GJgSGBgeNbp1//Mg4GBlYHBgPE/y3mbgtlfVRgY/jJwvfgpwcDwm+Hdxb/2jAwMCCkGBpjw848QC1nOOdjdNv5v/F/vv8wFSX4GBIBIYQhDpA6byi1ECAMAoP045A/DsTkAAAAASUVORK5CYII=');
	background-position:center;
}
.k-chapters-container.k-vertical .k-prev{
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAQAAABn7dZ6AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfcCR0FEzqnY8EMAAAAkUlEQVQI12NggAJJfrmFh03/szCgAkl+mQt6/+1un3NAkYIIG/83RpJiZGCQ5Gc+KKTPClXEfWdCquERxj9MCGH2F38ZGBi+qhTMPm/zn4WZ94SIASsDA4PUjj2RTTzMBqwMv4X22RhcZGK48JuBgUFqx6ZCxhvPEz8s+MbAwMB/x/AFAwOD5Hzrdf814A6B8gCavDND8yApewAAAABJRU5ErkJggg==');
	background-position:center;
}

.icon-time {
	width: 14px;
	height: 14px;
	background-position: 0px 0px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAAXNSR0IArs4c6QAAAAJiS0dEAP+Hj8y/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3AwLFgof1JUmSQAAAPxJREFUGNNNjr9Kw3AYAO8XSiElWMd+UCqCg4j5o4FOJbRkcRe6ZugT+CDFoXvfQHRzTAbdpIk4RnDSjqU2Fgraz6EOrndwHAAgiaTyJgtJJdkRA9IkawQN6pVh46xZF/TnS6BdeBrn05H2tDcdxbmn7QKQxNM410AdUVBHgzj3VBJOHkMdDwFC3dXHw1BP7/E/uyt1/gt1uquzd8v+2mKqvzcVBVNtsfZq9Y/NufjzZ3ga7DbF/3GauXV4Z2FPAExmMpOBPbE4uEVbUemqpOIDiC+pq1GpLWDWj0pXOyoLWXTU1aic9cGA1giuLl8ulke1av/1+OH6hsJ8/wKzOGLwMY2QCgAAAABJRU5ErkJggg==);
}
