.k-chapters-container.horizontal {
	padding-top:5px;
}
.k-chapters-container .chapterDivider{
	height: 50px;
	width: 1px;
	background:#aaa;
	position:absolute;
	top:10px;
	left:2px;
}

.k-chapters-container .chapterBox{
	background: #eee;
	cursor:pointer;
}
.k-chapters-container .chapterBox:hover{
	background: #ddd;
}
.k-chapters-container .chapterBox.active{
	background: #ccc;
}
/*
* horizontal layout styles:
*/
.k-chapters-container.horizontal .chapterBox{
	position:relative;
	min-height:65px;
	max-width:200px;
	display:inline;
	float:left;
	padding-left:10px;
	padding-right:20px;
	border-bottom: solid thin #aaa;
	height:100%;
}

.k-chapters-container .k-carousel{
	float:left;
}

.k-chapters-container .k-scroll{
	display: block;
	cursor:pointer;
	float: left;
	width: 20px;
	height:100%;
	opacity:.7;
	text-decoration: none;
}
.k-chapters-container .k-next{
	background: no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAQAAAD1lzQWAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfcCR0BGhpKxvJRAAAAhUlEQVQI12NgYJCcL3lekp8BBiTna/7X+y9zASbEpMTPxcDKIKTPfBAixHSkSmoHA4oQw38N3+3G/42hGhkhQtb7f0owMPxm+LCIiYGBgUGq/JsEAwMDg8CdpVOg9hj/N/5vd/ucw38WdC4DixL/DwYGBu47E1INjzD+gdoBk4WC/xrIXADEAzdXKDh+NAAAAABJRU5ErkJggg==);
	background-position:center; 
}

.k-chapters-container .k-next:hover{
	opacity:1;
	background-color:#eee;
}
.k-chapters-container .k-prev{
	background: no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAQAAAD1lzQWAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfcCR0BFDQIk9IQAAAAj0lEQVQI12NggAJJfsnzkvMZGFhgXOaDQvq/DaACEC4rAyuDED8TgsvAILXjSBWDJL/MBb3/xv+N//tu/6/BwMAgtxDCtXr+X4OBgYGBaekUgTsMDAwM3ySkyhkYGBgY/rOcc7C7bfzf+L/mf8n5WISYGBgY/xgemZDKfYeBgYtBiR/qTogqqD0Iof8aDAwAfkM1Z1BrKhkAAAAASUVORK5CYII=);
	background-position:center; 
}
.k-chapters-container .k-prev:hover{
	background-color:#eee;
	opacity:1;
}
/**
* Time icon:
*/
.k-chapters-container .icon-clock{
	position:relative;
	top:2px;
	left:-8px;
	height: 12px;
	width:12px;
}
.k-chapters-container .icon-clock:before,
.k-chapters-container .icon-clock:after {
	content: "";
	position:absolute;
	top:50%;
	left:0;
	
	left:2px;
	width:13px;
	height:13px;
	border:2px solid #999;
	margin-top:-8px;
	background:transparent;
}

.k-chapters-container .icon-clock:before {
	/* css3 */
	-webkit-border-radius:18px;
	-moz-border-radius:18px;
	border-radius:18px;
}

.k-chapters-container .icon-clock:after {
	left:10px;
	width:4px;
	height:5px;
	border-width:0 0 2px 2px;
	margin-top:-5px;
	background:transparent;
}

.k-chapters-container .icon-clock:hover:before,
.k-chapters-container .icon-clock:focus:before,
.k-chapters-container .icon-clock:active:before,
.k-chapters-container .icon-clock:hover:after,
.k-chapters-container .icon-clock:focus:after,
.k-chapters-container .icon-clock:active:after {
    border-color:#999;
    background:transparent;
}
