.k-player-kaltura_player_4 .k-title {
	color: red;
}

.k-player-kaltura_player_4.k-chapters-container.k-horizontal .chapterBox{
	height: 65px !important;
	background-color: #A8D187;
	padding-left: 0px;
}

.k-player-kaltura_player_4.k-chapters-container .chapternumber {
	font-size: 16px;
}

.k-player-kaltura_player_4.k-chapters-container .k-description {
	display:none;
}

.k-player-kaltura_player_4.k-chapters-container .k-duration {
	right: 20px;
	bottom: 5px;
}

.k-player-kaltura_player_4.k-chapters-container .k-duration span {
	font-size: 13px;
}
