.k-player-kaltura_player_4 .k-title-container {
	font-size: 21px;
	line-height:47px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
}

.k-player-kaltura_player_4 .chapterNumber {
	color: #166599;
}

.k-player-kaltura_player_4 .k-title {
	color: #ECF4FA;
}

.k-player-kaltura_player_4.k-chapters-container.k-horizontal .chapterBox{
	height: 65px !important;
	background-color: #85C6F1;
	padding-left: 0px;
	border-bottom: 1px solid #659ACA;
}

.k-player-kaltura_player_4.k-chapters-container .k-description {
	display:none;
}

.k-player-kaltura_player_4.k-chapters-container .k-duration {
	right: 12px;
	bottom: 21px;
}

.k-player-kaltura_player_4.k-chapters-container .k-duration span {
	font-size: 20px;
}
