<div class="related-files">
  <% $.each(files, function(idx, file){ %>
  <div class="related-files__file related-file" data-click="download" data-id="<%=file.id%>" title="<%=file.filename%>">
    <div class="related-file__icon-wrap">
      <span class="related-file__icon related-file__icon--<%=file.type%>"></span>
    </div>
    <div class="related-file__info-wrap">
      <div class="related-file__name"><%=file.filename%></div>
      <div class="related-file__date"><%=file.createdAtFormatted%></div>
    </div>
  </div>
  <% }); %>
  <span class="related-files__close-btn" data-click="hideScreen" title="<%=gM('mwe-relatedFiles-closeScreen')%>"></span>
</div>