.screen .cvaaScreenPanel {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.cvaa .screen-content .tmpl {
	display: table;
	width: 100%;
	height: 100%;
}

#cvaaPreview #previewWindow{
	padding: 10px;
	display: inline-block;
}

.screen .cvaaScreenPanel #cvaaPreview{
	text-align: center;
	margin-bottom: 50px;
	height: 50px;
}

.size-small .screen .cvaaScreenPanel #cvaaPreview{
	margin-bottom: 20px;
}

.size-small #kFontFamily{
	width:100px;
}

.fullscreen .screen .cvaaScreenPanel{
	padding-top: 100px;
}
.mobile.fullscreen .screen .cvaaScreenPanel{
	padding-top: 20px;
}
.screen .cvaaScreenPanel .column-1-2{
	float: left;
	width: 50%;
	margin-top: -10px;
	margin-left: -30px;
}
.size-small .screen .cvaaScreenPanel .column-1-2{
	margin-left: 0;
}
.screen .cvaaScreenPanel .column-1-4{
	float: left;
	width: 25%;
}

.cvaa .ui-slider {
	height: 0.3em;
	cursor: pointer;
	background-color: #ffffff;
	margin: 5px;
}

.cvaa .ui-slider-handle {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #ffffff;
}

.cvaa .fontSizeContainer,
.cvaa .fontOpacityContainer,
.cvaa .backgroundOpacityContainer,
.cvaa .windowOpacityContainer,
.cvaa .fontFamilyContainer,
.cvaa .fontEdgeStyleContainer{
	margin-bottom: 25px;
}

.cvaa input[type="text"]{
	width: 20px;
	float: right;
	color: #ffffff;
	background: transparent;
	border: none;
}

.cvaa ul{
	list-style: none;
}

.cvaa ul > div{
	margin-bottom: 5px;
}

.cvaa li{
	float: left;
	margin: 0 5px 5px 0;
}

.cvaa li span{
	background-color: #000;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	height: 30px;
	width: 30px;
	line-height: 30px;
	display: block;
	cursor: pointer;
	border: 1px solid #fff;
}
.size-small .cvaa li span{
	height: 12px;
	width: 12px;
}

.size-medium .cvaa li span{
	height: 23px;
	width: 23px;
}

.cvaa #cvaaButtons{
	float: right;
	margin-top: 60px;
	margin-right: 25px;
}
.size-small .cvaa #cvaaButtons{
	margin-top: 30px;
	margin-right: 0;
}
.fullscreen .cvaa #cvaaButtons{
	margin-top: 150px;
}
.mobile.fullscreen .cvaa #cvaaButtons{
	margin-top: 15px;
}

.cvaa .colorContainer{
	margin: 10px auto;
	display: table;
}

.cvaa .colorContainer span.White{
	background-color: #ffffff;
}
.cvaa .colorContainer span.Yellow{
	background-color: #ffff00;
}
.cvaa .colorContainer span.Green{
	background-color: #00ff00;
}
.cvaa .colorContainer span.Cyan{
	background-color: #00ffff;
}
.cvaa .colorContainer span.Blue{
	background-color: #0000ff;
}
.cvaa .colorContainer span.Magenta{
	background-color: #ff00ff;
}
.cvaa .colorContainer span.Red{
	background-color: #ff0000;
}
.cvaa .colorContainer span.Black{
	background-color: #000000;
}

.cvaa .active span{
	outline: 3px solid #3EAFE6;
	outline-offset: 1px;
}