<div class="cvaaScreenPanel">

	<div id="cvaaPreview">
		<span id="previewWindow">
			<span id="previewText">
				Captions look like this
			</span>
		</span>
	</div>

	<div class="column-1-4">
		<div class="fontSizeContainer">
			<input type="text" id=<%=cvaaOptions.options.sliders.fontSize.valueSelector%>>
			<div><%=cvaaOptions.options.sliders.fontSize.label%></div>
			<div id=<%=cvaaOptions.options.sliders.fontSize.selector%>></div>
		</div>

		<div class="fontFamilyContainer">
			<div><%=cvaaOptions.options.dropdowns.fontFamily.label%></div>
			<select id=<%=cvaaOptions.options.dropdowns.fontFamily.selector%>>
				<% $.each(cvaaOptions.family, function(idx, property){ %>
				<option value="<%=property.prop%>"><%=property.text%></option>
				<% }); %>
			</select>
		</div>


		<div class="fontEdgeStyleContainer">
			<div><%=cvaaOptions.options.dropdowns.edgeStyle.label%></div>
			<select id=<%=cvaaOptions.options.dropdowns.edgeStyle.selector%>>
				<% $.each(cvaaOptions.edgeStyle, function(idx, property){ %>
				<option value="<%=property.prop%>"><%=property.text%></option>
				<% }); %>
			</select>
		</div>
	</div>

	<div class="column-1-2">
			<ul class="colorContainer">
				<div><%=cvaaOptions.options.colors.fontColor.label%></div>
				<% $.each(cvaaOptions.color, function(idx, property){ %>
				<li id="<%=cvaaOptions.options.colors.fontColor.selector%>" value="<%=property.prop%>">
					<span class=<%=property.text%>></span>
				</li>
				<% }); %>
			</ul>

			<ul class="colorContainer">
				<div><%=cvaaOptions.options.colors.backgroundColor.label%></div>
				<% $.each(cvaaOptions.color, function(idx, property){ %>
				<li id="<%=cvaaOptions.options.colors.backgroundColor.selector%>" value="<%=property.prop%>">
					<span class=<%=property.text%>></span>
				</li>
				<% }); %>
			</ul>


			<ul class="colorContainer">
				<div><%=cvaaOptions.options.colors.windowColor.label%></div>
				<% $.each(cvaaOptions.color, function(idx, property){ %>
				<li id="<%=cvaaOptions.options.colors.windowColor.selector%>" value="<%=property.prop%>">
					<span class=<%=property.text%>></span>
				</li>
				<% }); %>
			</ul>
	</div>

	<div class="column-1-4">
		<div class="fontOpacityContainer">
			<input type="text" id=<%=cvaaOptions.options.sliders.fontOpacity.valueSelector%>></input>
			<div><%=cvaaOptions.options.sliders.fontOpacity.label%></div>
			<div id=<%=cvaaOptions.options.sliders.fontOpacity.selector%>></div>
		</div>
		<div class="backgroundOpacityContainer">
			<input type="text" id=<%=cvaaOptions.options.sliders.backgroundOpacity.valueSelector%>></input>
			<div><%=cvaaOptions.options.sliders.backgroundOpacity.label%></div>
			<div id=<%=cvaaOptions.options.sliders.backgroundOpacity.selector%>></div>
		</div>
		<div class="windowOpacityContainer">
			<input type="text" id=<%=cvaaOptions.options.sliders.windowOpacity.valueSelector%>></input>
			<div><%=cvaaOptions.options.sliders.windowOpacity.label%></div>
			<div id=<%=cvaaOptions.options.sliders.windowOpacity.selector%>></div>
		</div>
	</div>

	<div id="cvaaButtons">
		<button type="button" class="resetCvaaSettings">Reset to default</button>
		<button type="button" class="saveCvaaSettings">Save settings</button>
	</div>

</div>