<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>360 video</title>
    <script type="text/javascript" src="../../../../../tests/qunit/qunit-bootstrap.js"></script>
    <script type="text/javascript" src="../../../../../mwEmbedLoader.php"></script>
    <script type="text/javascript" src="../../../../../docs/js/doc-bootstrap.js"></script>
</head>
<body>
<p style="width:600px">HLS</p>
<div id="kdp" style="width:600px;height:370px;float:left"></div>
<script>
    kWidget.embed({
        "targetId": "kdp",
        "wid": "_2196781",
        "uiconf_id": "12905712",
        "entry_id": "1_afvj3z0u",
        "flashvars": {
//            'EmbedPlayer.WebKitPlaysInline':true,
            'disableHLSOnJs':false,
            'video360': {
                'plugin': true
            },
            'largePlayBtn': {
                'plugin': false
            }
        }
    });
</script>
<p style="width:600px">dash</p>
<div id="kdp1" style="width:600px;height:370px;float:left"></div>
<script>
    kWidget.embed({
        "targetId": "kdp1",
        "wid": "_2196781",
        "uiconf_id": "12905712",
        "entry_id": "1_afvj3z0u",
        "flashvars": {
//            'EmbedPlayer.WebKitPlaysInline':true,
            'disableHLSOnJs':true,
            'video360': {
                'plugin': true
            },
            'dash':{
                'plugin':true
            },
            'largePlayBtn': {
                'plugin': false
            }
        }
    });
</script>
<p style="width:600px">mp4</p>
<div id="kdp2" style="width:600px;height:370px;float:left"></div>
<script>
    kWidget.embed({
        "targetId": "kdp2",
        "wid": "_2196781",
        "uiconf_id": "12905712",
        "entry_id": "1_afvj3z0u",
        "flashvars": {
//            'EmbedPlayer.WebKitPlaysInline':true,
            'disableHLSOnJs':true,
            'video360': {
//                moveMultiplier: 1,
                'plugin': true
            },
            'share': {
                'plugin': true
            },
            "controlBarContainer": {
                "hover": false
            },
            'largePlayBtn': {
                'plugin': false
            },
            'doubleClick':{
                'plugin':true,
                'adTagUrl': 'http://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/ad_rule_samples&ciu_szs=300x250&ad_rule=1&impl=s&gdfp_req=1&env=vp&output=xml_vmap1&unviewed_position_start=1&cust_params=sample_ar%3Dpremidpost&cmsid=496&vid=short_onecue&correlator=[timestamp]',
                'disableCompanionAds' : false,
                'debugMode':false
            }
        }
    });
</script>
</body>
</html>