<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>360 video</title>
    <script type="text/javascript" src="../../../../../tests/qunit/qunit-bootstrap.js"></script>
    <script type="text/javascript" src="../../../../../mwEmbedLoader.php"></script>
    <script type="text/javascript" src="../../../../../docs/js/doc-bootstrap.js"></script>
</head>
<body>
<p style="width:600px">HLS</p>
<div id="kdp" style="width:600px;height:370px;float:left"></div>
<script>
	kWidget.embed({
		"targetId": "kdp",
        "wid": "_2196781",
        "uiconf_id": "12905712",
        "entry_id": "1_afvj3z0u",
//        "wid": "_1082342", // disney embeded subtitle
//        "uiconf_id": "35673902",
//        "entry_id": "1_hhtuoo3u",
		"flashvars": {
//            'EmbedPlayer.WebKitPlaysInline':true,
			'disableHLSOnJs':false,
			'video360': {
				'plugin': true
			},
			'closedCaptions': {
				"useExternalClosedCaptions":true,
				'plugin': true
			},
			'largePlayBtn': {
				'plugin': false
			}
		}
	    ,readyCallback: function(){
		    var kdp = document.getElementById('kdp');
		    kdp.kBind( 'playerReady', function () {
			    kdp.sendNotification("loadExternalClosedCaptions", {
				    languages: [{
					    "language": "Hebrew",
					    "languageCode": "he",
					    "isDefault": true,
					    "label": "Hebrew",
					    "type": "vtt",
					    "src": "http://localhost/test1.vtt",
					    "fileExt": "vtt"
				    },{
					    "language": "English",
					    "languageCode": "gg",
					    "isDefault": true,
					    "label": "English",
					    "type": "vtt",
					    "src": "http://localhost/test.vtt",
					    "fileExt": "vtt"

				    }]
			    });
		    });
	    }
	});
</script>
</body>
</html>