<div class="chromecast">

	<div class="dialog">
		<div class="thumbHolder">
			<img src="<%= this.embedPlayer.poster %>"></img>
		</div> 
		<span class="title"></span>
			<div class="playingIcon">
				<i class="icon-chromecast"></i>
			</div>
		<span class="state-playing"><%= gM('mwe-chromecast-playing') %></span>
		<span class="state-loading"><%= gM('mwe-chromecast-loading') %></span>
		<span class="deviceName"></span>
	</div>
</div>