.chromecastPlaying{
	color: #35BCDA;
	font-size: 13px;
	position: absolute;
	margin-left: 48px;
	width: 50%;
	margin-top: 13px;
}
.chromecastReceiverName{
	margin-top: 30px;
}
.chromecastPlayingIcon{
	color: #35BCDA;
	font-size: 36px;
	float: left;
	margin-top: 10px;
	margin-left: 0px;
}
.chromecastTitle{
	color: white;
	width: 50%;
}
.chromecastThumbBorder{
	border: 2px solid #ffffff;
	float: left;
}
.chromecastPlayback{
	position: absolute;
	top: 50%;
	left: 60%;
	width: 100%;
	transform: translate(-50%, -50%);
}