.navbar{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
}
.navbar .nav>li>a{
	padding: 10px 10px 10px;
} 
body.kdoc{
	position: relative;
	padding-bottom: 160px;/* Height of the footer */
	font-family:Arial,"Tahoma","Geneva",sans-serif;
}
/* Hide the redner time on top level doc pages */
.kdoc .kdocPlayerRenderTime{
	display:none;
}
footer{
	background-color:#00a0bb;
	position:absolute;
	bottom:0;
	width:100%;
	left:0px;
	height:160px;			/* Height of the footer */
	background:#00a0bb;
}
footer .footer-content{
	font-size:12px;
	width: 940px;
	margin-left:auto;
	margin-right:auto;
	padding-top:5px;
	color:#fff;
}
.footer-top{
	margin-top:10px;
	margin-right:200px;
}
footer .divider {
	border-top: 1px solid #1ba7c0;
	background-corlo:#1396ad;
	height:1px;
	padding-top:5px;
	margin-left:100px;
	margin-right:100px;
}
.footer-bottom img{
	float:left;
	padding-right:10px;
}
.social-links{
	float:right;
	width:150px;
}
.social-links h2{
	margin: 0px;
	line-height: 25px;
	padding-top:0px;
	padding-bottom:5px;
}
.social-links ul{
	margin:0px;
}
.social-links li{
	display: inline;
	list-style-type: none;
}
.social-links a{
	width: 24px;
	height: 24px;
	display: inline-block;
	overflow: hidden;
	padding: 0;
	margin: 0;
	border: 0;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-image: url("../images/social-links.png");
	line-height: 999px;
}
.social-links a.twitter{
	/*default*/
	background-position: 0px -2px;
}
.social-links a.chat{
	background-position: -30px;
}
.social-links a.linkedin{
	background-position: -60px;
}
.social-links a.facebook{
	background-position: -90px;
}

footer .footer-content .social-links h2{
	font-size:14px;
}
footer .footer-content a{
	color:#ccc;
}

.hero-unit{
	background-color:transparent;
	color:#fff;
	width:900px;
	height: 375px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	padding-left:0px;
	padding-right:0px;
	padding-top:10px;
}
.hero-unit a{
	color:#fff;
}
.hero-unit .player-container {
	width: 600px;
	height: 338px;
	position:relative;
	margin-left: auto;
	margin-right: auto;
	background-color: #888;
	background-color: rgba(0, 0, 0, 0.2);
	border: solid thin white;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 7px #000;
	-webkit-box-shadow: 0px 0px 7px #000;
	box-shadow: 0px 0px 7px #000;
}

.player-container-absolute{
	position: absolute;
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;
}
.hero-unit .tagline h1{
	font-style:italic;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
	font-size:50px;
}
.hero-unit .tagline p{
	margin-top:10px;
	padding-top: 5px;
	color:#01556e;
	text-shadow: 0 0 1px rgba(87, 207, 227, 1);
	font-size: 22px;
}
.hero-unit .tagline{
	width:100%;
	text-align: center;
}
.page-bg-gradient{
	z-index:-1;
	width:100%;
	top:100px;
	left:0px;
	right:0px;
	position:absolute;
	border-top: 1px solid #0087a0;
	background: #00c9ea; /* Old browsers */
	background: -moz-linear-gradient(top, #00c9ea 0%, #0087a0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00c9ea), color-stop(100%,#0087a0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00c9ea 0%,#0087a0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00c9ea 0%,#0087a0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00c9ea 0%,#0087a0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00c9ea 0%,#0087a0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c9ea', endColorstr='#0087a0',GradientType=0 ); /* IE6-9 */
}
.page-bg-gradient.landing{
	height:350px;
}
.page-bg-gradient.featurepage{
	height:50px;
}
.page-bg-gradient.kdoc-header{
	position:inline;
	height:50px;
	position:relative;
	top: -5px;
	color: #FFF;
}
.page-bg-gradient h2{
	font-weight:400;
	font-size:24px;
	width:940px;
	color:#FFF;
	margin-left:auto;
	margin-right:auto;
}
.page-bg-gradient h2 span{
	color:#ccc;
}

.kdoc-header h2{
	padding-top:5px;
	font-weight: 400;
}
.span6 h2{
	font-size:22px;
}
.iframelink{
	font-size:small;
}
@media (min-width: 979px){
	.nav-collapse.pull-right{
		margin-top: 44px;
	}
}

.nav-collapse.pull-right.collapse{
	overflow: hidden;
}

.typeahead.dropdown-menu{
	z-index:1030;
}
.container-fluid.content-body{
	margin-top: 40px;
}
.navbar-search .search-query {
	background-color: #fff;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	border: 1px solid #ccc;
	width:150px;
}
.navbar-inner {
	background: #fff;
	color: #000;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	text-shadow: none;
}
.navbar .nav > li > a, .navbar .nav > li > a:hover  {
	color: #148194;
	background: #fff;
	font-size:16px;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
	color: #01556e;
	background: #fff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.container-fluid{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.feature-list a{
	text-decoration: none;
}
.feature-list a h2{
	color:#888;
}
.feature-list a:hover h2{
	color:#000;
}

[class^="kicon-"],
[class*=" kicon-"] {
	display: inline-block;
	width: 20px;
	height: 17px;
	*margin-right: .3em;
	line-height: 17px;
	vertical-align: text-top;
	background-image: url("../images/kdoc-icons.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.kicon-keyfeatures{
	background-position: 0px 0px;
}
/* tools uses keyfeatures icon for now */
.kicon-tools{
	background-position: 0px 0px;
}
.kicon-plugins{
	background-position: 0px -18px;
}
.kicon-customization{
	background-position: 0px -37px;
}

[class^="kpcicon-"],
[class*=" kpcicon-"] {
	margin-top: -3px;
	display: inline-block;
	width: 35px;
	height: 34px;
	*margin-right: .3em;
	line-height: 35px;
	vertical-align: text-top;
	background-image: url("../images/feature-config-icons.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.kpcicon-demo{
	background-position: -35px 0px;
}
a:hover .kpcicon-demo, .active .kpcicon-demo{
	background-position: 0px 0px;
}

.kpcicon-customize{
	background-position: -35px -36px;
}
a:hover .kpcicon-customize, .active .kpcicon-customize{
	background-position: 0px -36px;
}

.kpcicon-integrate{
	background-position: -35px -70px;
}
a:hover .kpcicon-integrate, .active .kpcicon-integrate{
	background-position: 0px -70px;
}

.kpcicon-html5{
	background-position: -35px -99px;
}
a:hover .kpcicon-html5, .active .kpcicon-html5{
	background-position: 0px -99px;
}

.kpcicon-flash{
	background-position: -35px -131px;
}
a:hover .kpcicon-flash, .active .kpcicon-flash{
	background-position: 0px -131px;
}
#playbackModeSelector{
	clear:both;
	background: #ccc;
	width: 270px;
	height: 32px;
	position:relative;
	padding:5px;
	display: block
}
#playbackModeSelector .divider{
	position: absolute;
	width: 1px;
 	height: 34px;
	background: #999;
	right: 136px;
	top: 4px;
}
#playbackModeSelector a{
	text-decoration: none;
	padding-right:15px;
	color:#000;
}
#playbackModeSelector a span{
	position: relative;
	top:5px;
}
.feature-config{
	padding-top: 10px;
}
.nav-tabs.feature-config > li > a{
	font-size:large;
	font-weight:800;
	padding-left:60px;
	padding-right:60px;
}
.landing #contentHolder{
	margin-top:50px;
}
#contentHolder{
	margin-top:97px;
}
.featurepage #contentHolder{
	margin-left:215px;
}
.landing #kdoc-navbarcontainer{
	display:none;
}
#kdoc-navbarcontainer {
	position:relative;
	width: 200px;
	top: 102px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#kdoc-navbar {
	margin-left: 0px;
	background-color: #fff;
	list-style-type: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#kdoc-navbarcontainer .nav-header{
	text-transform: none;
	font-size:14px;
	font-weight:400;
}
#kdoc-navbarcontainer .nav-header a{
	color:#000;
	text-decoration: none;
}
#kdoc-navbarcontainer .nav-header span{
	padding:8px;
	font-weight:400;
}
.nav-header.nav-category{
	border-bottom: thin solid #ccc;
}
.nav-header.nav-category:hover, .nav-header.nav-category.active {
	background-color:#005564;
}
 li.nav-header.nav-category{
 	padding:0px;
 }
 .nav-header.nav-category a.link-category{
 	display:inline-block;
	padding-top:12px;
	padding-bottom:12px;
	padding-left: 7px;
	width:100%;
 }
 .nav-header.nav-category:hover a span,  .nav-header.nav-category.active a span{
	color:#FFF;
}
.nav-header.nav-category:hover .kicon-keyfeatures, .nav-header.nav-category.active .kicon-keyfeatures{
	background-position: -20px 0px;
}
/* tools uses features icon for now */
.nav-header.nav-category:hover .kicon-tools, .nav-header.nav-category.active .kicon-tools{
	background-position: -20px 0px;
}
	
.nav-header.nav-category:hover .kicon-plugins, .nav-header.nav-category.active .kicon-plugins{
	background-position: -20px -18px;
}
.nav-header.nav-category:hover .kicon-customization, .nav-header.nav-category.active .kicon-customization{
	background-position: -20px -37px;
}
#kdoc-navbarcontainer  .featureset{
	padding-left:15px;
	padding-right:0px;
}
#kdoc-navbarcontainer  .featureset ul{
	margin-left:0px;
}
#kdoc-navbarcontainer .featureset li:hover, 
#kdoc-navbarcontainer .featureset li:hover a,
#kdoc-navbarcontainer .featureset li.active, 
#kdoc-navbarcontainer .featureset li.active a{
	background-color:#1ea4ba;
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#kdoc-navbarcontainer .featureset{
	font-weight:400;
	color:#c6f7ff;
}
#kdoc-navbarcontainer .nav-featureset a{
	color:#c6f7ff;
}
#kdoc-navbarcontainer .featureset li{
	padding-left:10px;
}
#kdoc-navbarcontainer .featureset a{
	color:#c6f7ff;
}
.row-fluid .span6{
	padding-left:5px;
}


@media (min-width: 768px) and (max-width: 979px) {
	.navbar-search{
		display: inline-block;
		float: right;
	}
	footer .footer-content{
		width:98%;
		padding:5px;
	}
	#githublink{
		display: none;
	}
	.page-bg-gradient h2{
		padding-left: 20px;
	}
	#kdoc-navbarcontainer {
		width:180px;
	}
	.featurepage #contentHolder{
		margin-left:190px;
	}
	.container-fluid {
		color: #000;
		width:auto;
	}
	.container-fluid.content-body{
		margin-top:40px;
		padding-right:2px;
		padding-left:2px;
	}
	.navbar-fixed-top {
		margin-bottom: 0px;
	}
	.nav-collapse, .nav-collapse.collapse{
		margin-top: 0px;
	}
	.nav-collapse.pull-right{
		margin-top: 0px;
	}
	.navbar-fixed-top .navbar-inner{
		padding: 0px;
	}
	.navbar .btn-navbar {
		display: block;
		margin-top: 46px;
	}
	.hero-unit{
		width:100%;
		padding-top:0px;
		margin-bottom: 90px
	}
	.hero-unit .tagline {
		text-align: center;
		float: none;
		margin-top: 0px;
		width: 640px;
		margin-left: auto;
		margin-right: auto;
	}
	.hero-unit .tagline h1{
		margin: 10px;
	}
	.hero-unit .player-container {
		float:none;
		width:640px;
		height:345px;
		margin-right: auto;
		margin-left: auto;
		clear:both;
	}
}

@media (max-width: 767px){
	footer .footer-content{
		width:98%;
		padding:5px;
	}
	body.kdoc{
		padding-bottom: 220px;/* Height of the footer */
	}
	footer{
		height:auto;
	}
	.navbar-search{
		display: inline-block;
		float: right;
	}
	#githublink{
		display: none;
	}
	.page-bg-gradient h2{
		padding-left: 20px;
	}
	.row-fluid .span6{
		width:100%;
	}
	#kdoc-navbarcontainer {
		width:150px;
	}
	.featurepage #contentHolder{
		margin-left:155px;
	}
	.hero-unit{
		width:100%;
		padding-top:0px;
		padding-bottom:90px;
	}
	.nav-tabs.feature-config > li > a{
		padding-left:30px;
		padding-right:30px;
	}
	.container-fluid {
		color: #000;
		width:auto;
	}
	.container-fluid.content-body{
		margin-top: 40px;
		padding-right:2px;
		padding-left:2px;
	}
	.nav-collapse.pull-right{
		margin-top:0px;
	}
	.navbar-fixed-top {
		margin-bottom: 0px;
		margin-right:0px;
		margin-left:0px;
	}
	.navbar-fixed-top .navbar-inner{
		padding: 0px;
	}
	.hero-unit .tagline {
		width: 100%;
		margin-top:0px;
		text-align: center;
	}
	.hero-unit .tagline h1{
		font-size:35px;
	}
	 .navbar .btn-navbar {
	 	display: block;
		margin-top: 46px;
	}
	
	.hero-unit .player-container {
		float:right;
		width:100%;
		height:auto;
		margin-right: auto;
		margin-left: auto;
		clear:both;
	}
}
@media (max-width: 550px) {
	.nav-tabs.feature-config > li > a {
		font-weight:400;
		padding-left:5px;
		padding-right:5px;
	}
}
@media (max-width: 500px) {
	#kdoc-navbarcontainer{
		width:100%;
		position: relative;
		top: 100px;
	}
	.featurepage #contentHolder{
		width:100%;
		margin-left:0px;
		margin-top: 100px;
		float:left;
	}
}

.navbar .brand {
	color: #BBB;
}

.container-fluid .navbar .nav .active > a, .navbar .nav .active > a:hover{
	background-color: #fff;
}

.nav-list .active {
	background-color: #FFF;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-left:10px;
}

@-webkit-keyframes blink {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
span.blink{
	text-decoration: blink;
	-webkit-animation-name: blink;  
	-webkit-animation-iteration-count: infinite;  
	-webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
	-webkit-animation-duration: .5s; 
}
.tab-content {
    overflow-y: show;
}
.tab-content .tdValue{ 
	max-width: 160px;
}

.tabs-left > .nav-tabs {
	margin-right: 12px;
}

