.hero-unit{
	background-color:transparent;
	color:#fff;
}

#page-bg-gradient{
	z-index:-1;
	position:absolute;
	top:100px;
	height:350px;
	width:100%;
	background: #00c9ea; /* Old browsers */
	background: -moz-linear-gradient(top, #00c9ea 0%, #0087a0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00c9ea), color-stop(100%,#0087a0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00c9ea 0%,#0087a0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00c9ea 0%,#0087a0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00c9ea 0%,#0087a0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00c9ea 0%,#0087a0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c9ea', endColorstr='#0087a0',GradientType=0 ); /* IE6-9 */
}

.nav-collapse.pull-right{
	margin-top: 44px;
}
.typeahead.dropdown-menu{
	z-index:1030;
}
.container-fluid.content-body{
	margin-top: 40px;
}
.navbar-search .search-query {
	background-color: #fff;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	border: 1px solid #ccc;
	width:160px;
}
.navbar-inner {
	background: #fff;
	color: #000;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	text-shadow: none;
}
.navbar .nav > li > a, .navbar .nav > li > a:hover  {
	color: #148194;
	background: #fff;
	font-size:16px;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
	color: #01556e;
	background: #fff;
}
.container-fluid{
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 767px){
	.container-fluid {
}
@media (min-width: 768px) and (max-width: 979px) {
.container-fluid {
	color: #BBB;
	width:auto;
}
.navbar .brand {
	color: #BBB;
}

.container-fluid .navbar .nav .active > a, .navbar .nav .active > a:hover{
	background-color: #fff;
}

.nav-list .active {
	background-color: #FFF;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-left:10px;
}

@-webkit-keyframes blink {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
span.blink{
	text-decoration: blink;
	-webkit-animation-name: blink;  
	-webkit-animation-iteration-count: infinite;  
	-webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
	-webkit-animation-duration: .5s; 
}
.tab-content {
    overflow-y: show;
}
.tab-content .tdValue{ 
	max-width: 160px;
}

.tabs-left > .nav-tabs {
	margin-right: 12px;
}

