.hero-unit{
	background-color:transparent;
	color:#fff;
	width:900px;
	height: 220px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	padding-left:0px;
	padding-right:0px;
}
.hero-unit a{
	color:#fff;
}
.hero-unit .player-container {
	float:right;
	width:420px;
	height:236px;
	position:relative;
}

.player-container-absolute{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.hero-unit .tagline h1{
	font-style:italic;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
	font-size:50px;
}
.hero-unit .tagline p{
	margin-top:10px;
	padding-top: 5px;
}
.hero-unit .tagline{
	float:left;
	margin-top:35px;
	width:400px;
}
.page-bg-gradient{
	z-index:-1;
	width:100%;
	top:100px;
	left:0px;
	right:0px;
	position:absolute;
	border-top: 1px solid #0087a0;
	background: #00c9ea; /* Old browsers */
	background: -moz-linear-gradient(top, #00c9ea 0%, #0087a0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00c9ea), color-stop(100%,#0087a0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00c9ea 0%,#0087a0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00c9ea 0%,#0087a0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00c9ea 0%,#0087a0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00c9ea 0%,#0087a0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c9ea', endColorstr='#0087a0',GradientType=0 ); /* IE6-9 */
}
.page-bg-gradient.landing{
	height:350px;
}
.page-bg-gradient.featurepage{
	height:50px;
}
.page-bg-gradient.kdoc-header{
	position:inline;
	height:50px;
	position:relative;
	top: -5px;
	color: #FFF;
}
.kdoc-header h2{
	padding-top:5px;
	font-weight: 400;
}
.iframelink{
	font-size:small;
}
.nav-collapse.pull-right{
	margin-top: 44px;
}
.typeahead.dropdown-menu{
	z-index:1030;
}
.container-fluid.content-body{
	margin-top: 40px;
}
.navbar-search .search-query {
	background-color: #fff;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	border: 1px solid #ccc;
	width:160px;
}
.navbar-inner {
	background: #fff;
	color: #000;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	text-shadow: none;
}
.navbar .nav > li > a, .navbar .nav > li > a:hover  {
	color: #148194;
	background: #fff;
	font-size:16px;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
	color: #01556e;
	background: #fff;
}
.container-fluid{
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}
.feature-list a h2{
	color:#888;
}
.feature-list a:hover h2{
	color:#000;
}

[class^="kicon-"],
[class*=" kicon-"] {
  display: inline-block;
  width: 20px;
  height: 17px;
  *margin-right: .3em;
  line-height: 17px;
  vertical-align: text-top;
  background-image: url("../images/kdoc-icons.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.kicon-keyfeatures{
	background-position: 0px 0px;
}
.kicon-plugins{
	background-position: 0px -18px;
}
.kicon-customization{
	background-position: 0px -37px;
}

[class^="kpcicon-"],
[class*=" kpcicon-"] {
  margin-top: -3px;
  display: inline-block;
  width: 35px;
  height: 34px;
  *margin-right: .3em;
  line-height: 35px;
  vertical-align: text-top;
  background-image: url("../images/feature-config-icons.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.kpcicon-demo{
	background-position: -35px 0px;
}
a:hover .kpcicon-demo, .active .kpcicon-demo{
	background-position: 0px 0px;
}

.kpcicon-customize{
	background-position: -35px -36px;
}
a:hover .kpcicon-customize, .active .kpcicon-customize{
	background-position: 0px -36px;
}

.kpcicon-integrate{
	background-position: -35px -70px;
}
a:hover .kpcicon-integrate, .active .kpcicon-integrate{
	background-position: 0px -70px;
}
.feature-config{
	padding-top: 10px;
}
.nav-tabs.feature-config > li > a{
	font-size:large;
	font-weight:800;
	padding-left:60px;
	padding-right:60px;
}

#playbackModeSelector{
	clear:both;
}

@media (min-width: 768px) and (max-width: 979px) {
	.container-fluid {
		color: #000;
		width:auto;
	}
	.container-fluid.content-body{
		margin-top:1px;
	}
	.nav-collapse.pull-right{
		margin-top:0px;
	}
	.navbar-fixed-top {
		margin-bottom: 0px;
	}
	.navbar-fixed-top .navbar-inner{
		padding: 0px;
	}
	.navbar .btn-navbar {
		margin-top: 46px;
	}
	.hero-unit{
		width:100%;
		padding-top:0px;
		margin-bottom: 170px;
	}
	.hero-unit .tagline {
		text-align: center;
		float: none;
		margin-top: 0px;
		width: 640px;
		margin-left: auto;
		margin-right: auto;
	}
	.hero-unit .tagline h1{
		margin: 10px;
	}
	.hero-unit .player-container {
		float:none;
		width:640px;
		height:345px;
		margin-right: auto;
		margin-left: auto;
		clear:both;
		top: -350px;
	}
}

@media (max-width: 767px){
	.hero-unit{
		width:100%;
		padding-top:0px;
	}
	.nav-tabs.feature-config > li > a{
		padding-left:30px;
		padding-right:30px;
	}
	.container-fluid {
		color: #000;
		width:auto;
	}
	.container-fluid.content-body{
		margin-top:1px;
	}
	.nav-collapse.pull-right{
		margin-top:0px;
	}
	.navbar-fixed-top {
		margin-bottom: 0px;
	}
	.navbar-fixed-top .navbar-inner{
		padding: 0px;
	}
	.hero-unit .tagline {
		width: 100%;
		margin-top:0px;
		text-align: center;
	}
	.hero-unit .tagline h1{
		font-size:35px;
	}
	 .navbar .btn-navbar {
		margin-top: 46px;
	}
	
	.hero-unit .player-container {
		float:right;
		width:100%;
		height:auto;
		margin-right: auto;
		margin-left: auto;
		clear:both;
	}
}
@media (max-width: 500px){
	.nav-tabs.feature-config > li > a{
		font-weight:400;
		padding-left:5px;
		padding-right:5px;
	}
}

.navbar .brand {
	color: #BBB;
}

.container-fluid .navbar .nav .active > a, .navbar .nav .active > a:hover{
	background-color: #fff;
}

.nav-list .active {
	background-color: #FFF;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-left:10px;
}

@-webkit-keyframes blink {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
span.blink{
	text-decoration: blink;
	-webkit-animation-name: blink;  
	-webkit-animation-iteration-count: infinite;  
	-webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
	-webkit-animation-duration: .5s; 
}
.tab-content {
    overflow-y: show;
}
.tab-content .tdValue{ 
	max-width: 160px;
}

.tabs-left > .nav-tabs {
	margin-right: 12px;
}

