<div class="infoScreenPanel">
	<div class='title' aria-label="{mediaProxy.entry.name}" tabindex="0">{mediaProxy.entry.name}</div>
	<span class="icon-infoScreen-clock" ></span><span class='created' aria-label="Uploaded on {mediaProxy.entry.createdAt|dateFormat}" tabindex="0" >Uploaded on {mediaProxy.entry.createdAt|dateFormat}</span>
	<span class="icon-infoScreen-eye"></span><span class='plays' aria-label="{mediaProxy.entry.plays|numberWithCommas} plays" tabindex="0">{mediaProxy.entry.plays|numberWithCommas} plays</span>
	<div class='description' aria-label='{mediaProxy.entry.description}' tabindex="0">{mediaProxy.entry.description}</div>
</div>
