<div class="infoScreenPanel">
	<div class='title' title="{mediaProxy.entry.name}" tabindex="0">{mediaProxy.entry.name}</div>
	<span class="icon-infoScreen-clock" ></span><span class='created' title="Uploaded on {mediaProxy.entry.createdAt|dateFormat}" tabindex="0" >Uploaded on {mediaProxy.entry.createdAt|dateFormat}</span>
    <span class="icon-infoScreen-eye"></span><span class='plays' title="{mediaProxy.entry.plays|numberWithCommas} plays" tabindex="0">{mediaProxy.entry.plays|numberWithCommas} plays</span>
	<div class='description' title="{mediaProxy.entry.description}" tabindex="0">{mediaProxy.entry.description}</div>
</div>