.controlBarContainer { position: absolute; bottom: 0; width: 100%; }
.controlBarContainer a { text-decoration: none; }
.controlBarContainer.hover { display: none; }
.controlsContainer { height: 2.5em; }
.btn { 
	display: inline-block;
	height: 100%; 
	margin: 0;
	padding: 0;	
	width: 3em;
	cursor: pointer;
	border: 0;
	font-size: 1em;
}
.dropup .btn {
	line-height: 2.6em;
}
.pull-right {
	float: right;
}
.large-play-btn { 
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 5.8em;
	margin: -0.5em 0 0 -0.5em;
	text-decoration: none;
	border-radius: 5em;	
}
.playHead { 
	position: relative;
}
.watched {
	position: absolute;
	top: 0; left: 0;
	width: 0%;
	height: 100%;
	z-index: 2;
}
.buffered {
	position: absolute;
	top: 0; left: 0;
	height: 100%;
}
.playHead .ui-slider-handle {
	z-index: 4; 
	position: absolute;
	left: 0; 
	top: -.5em; 
	width: 1.1em; 
	height: 1.1em; 
	margin-left: -8px;
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;
	cursor: pointer;
}
.volumeControl {
	display: inline-block;
	height: 100%;
}
.volumeControl .slider {
	display: inline-block;
	width: 80px;
	background: #999;
	border: 1px solid #999;
	border-radius: 2px;
}
.volumeControl .ui-slider-handle {
	border: 1px solid #fff;
	border-radius: 10px;
	background: #fff;
}
.timers {
	position: relative;
	font-size: 0.85em;
	display: inline;
	font-weight: bold;
	letter-spacing: 0.1px;
	line-height: 2.7em;
	font-family: Arial;
}
.currentTime {
	padding-left: 0.8em;
}
.duration {
	padding-right: 0.8em;
}
.overlay {
	position: absolute;
	top: 0; left: 0; width: 100%; height: 100%;
	z-index: 100;
}
.alert-container { 
	z-index: 101; 
	position: absolute; 
	top: 0; 
	height: 100%; 
	width: 100%; 
	vertical-align: middle; 
}
.alert { 
	display:table-cell; 
	width: 100%; 
	height: 100%; 
	vertical-align: middle; 
}
.alert-title { 
	font-size: 1.8em; 
	padding-left: 1.8em; 
	padding-bottom: 0.6em; 
}
.alert-body { 
	background: blueviolet; 
	padding: 1.5em 2.2em; 
	font-size: 1.5em; 
}
.alert-footer {
	text-align: right;
	padding-top: 1.2em;
	padding-right: 2em;
}
.alert-footer .btn {
	min-width: 100px;
	border: 1px solid;
	border-radius: 4px;
	padding: 6px;
}

/*! jQuery UI - v1.10.2 - 2013-04-28
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.slider.css, jquery.ui.tooltip.css
* Copyright 2013 jQuery Foundation and other contributors Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 4;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .5em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.5em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}
.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
	border-width: 2px;
}

/* Bootstrap */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 100px;
  padding: 0 0;
  margin: 2px 0 0;
  list-style: none;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 0;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: rgba(34, 34, 34, 0.5);
  border-bottom: 1px solid rgba(70, 70, 70, 0.5);
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  font-size: 0.9em;
  color: #999999;
  white-space: nowrap;
  /*background-color: rgba(153, 153, 153, 0.8);*/
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  text-decoration: none;
  color: #ffffff;
  background-color: #000;

}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: default;
}
.open {
  *z-index: 1000;
}
.open > .dropdown-menu {
  display: block;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 78%;
}
.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -2px;
  -webkit-border-radius: 5px 5px 5px 0;
  -moz-border-radius: 5px 5px 5px 0;
  border-radius: 5px 5px 5px 0;
}

/* Colors */ 
.PlayerContainer {
	background: #000; 
	color: #fff; 
}
.Controls { background: rgba(0,0,0,0.8); }
.playHead { background: rgba(0,0,0,0.6); }
.btn {
	background: transparent;
	color: #fbfbfb;
}
.btn:hover {
	background: blueviolet;
	color: #fff;
}
.large-play-btn {
	background: #000;
	color: #efefef;
}
.large-play-button:hover {
	color: blueviolet;
}
.playHead .disabled {
	background: #898989;
}
.watched {
	background-color: #2ec7e1;
}
.buffered {
	opacity: 0.4;
	background-color: #484848;
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-size: 15px 15px;
}
.playHead .ui-slider-handle {
	background-color: #ffffff;
	background-repeat: repeat-x;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#dddddd));
	background: -webkit-linear-gradient(top, #ffffff, #dddddd);
	background: -moz-linear-gradient(top, #ffffff, #dddddd);
	background: -ms-linear-gradient(top, #ffffff, #dddddd);
	background: -o-linear-gradient(top, #ffffff, #dddddd);
	-webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px 1px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 1px 0px rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
}
.playHead .ui-slider-handle:hover {
	box-shadow: 0 1px 30px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 1px 30px rgba(255, 255, 255, 1); 
    -moz-box-shadow: 0 1px 30px rgba(255, 255, 255, 1);
    border:1px solid rgba(255,255,255, 0.8);	

}
.currentTime {
	color: #e8e8e8;
}
.duration {
	color: #b1aeab;
}
.overlay {
	background: rgba(0,0,0,0.6);
}
.alert-footer .btn {
	background: #fbfbfb;
	color: #000;
	border-color: #999;
}

.dropdown-menu {
  	opacity: 0.85;
	background: #222222;
}
.pull-right > .dropdown-menu {
	right: 10px;
}