#captionMenu
{
	cursor:hand;
	cursor:pointer;
	height:28px;
}
.captionMenuDim
{
	overflow:hidden;
	width:77px;
	height:28px;
}
.captionMenuPos
{
	position:absolute;
	left:10px;
	top:10px;
}
.captionMenuText
{
	text-align:center;
	font-family:Arial;
	font-size:12px;
	color:#fff;
}
.languageControlsArea
{
	text-decoration:none;
}
.languageControlsArea
{
	text-decoration:none;
}
#captionMenuTitle
{
	font-weight:bold;
	border-bottom:1px solid #000;
	border-top:1px solid #000;
	border-left:1px solid #000;
	border-right:1px solid #000;
	padding-top:5px;
	opacity:1;
	filter:alpha(opacity=100);
	filter:'alpha(opacity=100)';
}
.captionMenuItem
{
	width:75px;
	height:23px;
	border-bottom:1px solid #000;
	border-left:1px solid #000;
	border-right:1px solid #000;
	padding-top:5px;
	float:left;
	color:#ccc;
}
.selMenuItem
{
	background:#666;
	opacity:0.8;
	filter:alpha(opacity=80);
	filter:'alpha(opacity=80)';
	color:#eee;
}
.rolledover
{
	opacity:0.8;
	filter:alpha(opacity=80);
	filter:'alpha(opacity=80)';
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e3e3e', endColorstr='#111');
	background: -webkit-gradient(linear, left top, left bottom, from(#3e3e3e), to(#111));
	background: -moz-linear-gradient(top,  #3e3e3e,  #111);
	color:#eee;
}
.gradient
{
	opacity:0.8;
	filter:alpha(opacity=80);
	filter:'alpha(opacity=80)';
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#111');
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
	background: -moz-linear-gradient(top,  #333,  #111);
}
.subplySubtitles
{
	bottom:10px;
	font-size:16px;
	font-weight:bold;
	padding:3px;
	color:#fff;
	font-family:sans-serif;
	position:absolute;
	width:auto;
	text-align:center;
	background: rgba(0,0,0,0.7);
	/*text-shadow: 1px 1px black;*/
}