.track span {
	color: white;
	letter-spacing: 0.04em;
	text-align: center;
	padding: 0.2em;
	line-height: 1.5em;
}
.track span a {
	text-decoration: none;
	color : #BBF;
}
.track span a:visited{
	color : #BBF;
}

