.mw-debug-info {
    background-color: rgba(20,20,20,0.50);
    position: absolute;
    max-width: 60%;
    overflow: hidden;
    padding: 5px;
    margin: 10px;
    z-index: 100;
    pointer-events: none
}


.mw-debug-info-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mw-debug-info-a:link ,
.mw-debug-info-a:visited,
.mw-debug-info-a:hover,
.mw-debug-info-a:active {

    white-space: nowrap;
    color: white;
    pointer-events: auto
}


.mw-debug-info-separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.mw-debug-info-separator::before, .mw-debug-info-separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid white;
}
.mw-debug-info-separator::before {
    margin-right: .25em;
}
.mw-debug-info-separator::after {
    margin-left: .25em;
}


.mw-debug-info-btn {
    padding: 4px 4px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    pointer-events: auto;
    border: solid 1px #20538D;
    text-decoration: none;
}

.mw-debug-info-btn:hover {
    background: #44535c;
    text-decoration: none;
}
.mw-debug-info-btn-group {
    margin-top: 6px;
    border-top: 1px solid white;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
}

.mw-debug-info-close-btn {
    position: absolute;
    right:3px;
    top:3px;
}

.mw-debug-info-copy-btn {
}

.mw-debug-info-getIps-btn {
}

.mw-debug-info-email-btn {

}