@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.woff') format('woff'),
	url('../fonts/icomoon.ttf') format('truetype'),
	url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-contract, .icon-related, .icon-cc, .icon-cog, .icon-expand, .icon-info, .icon-volume-mute, .icon-volume-low, .icon-volume-high, .icon-share, .icon-replay, .icon-like, .icon-checkmark, .icon-unlike, .icon-play, .icon-pause, .icon-expand2, .icon-flag, .icon-camera, .icon-download, .icon-close, .icon-ad {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-volume-mute:before {
	content: "\e600";
}
.icon-volume-low:before {
	content: "\e601";
}
.icon-volume-high:before {
	content: "\e602";
}
.icon-unlike:before {
	content: "\e603";
}
.icon-share:before {
	content: "\e604";
}
.icon-close:before {
	content: "\e605";
}
.icon-checkmark:before {
	content: "\e606";
}
.icon-cc:before {
	content: "\e607";
}
.icon-camera:before {
	content: "\e608";
}
.icon-replay:before {
	content: "\e609";
}
.icon-related:before {
	content: "\e60a";
}
.icon-play:before {
	content: "\e60b";
}
.icon-pause:before {
	content: "\e60c";
}
.icon-like:before {
	content: "\e60d";
}
.icon-info:before {
	content: "\e60e";
}
.icon-fullscreen-exit-alt:before {
	content: "\e60f";
}
.icon-fullscreen-alt:before {
	content: "\e610";
}
.icon-flag:before {
	content: "\e611";
}
.icon-expand2:before {
	content: "\e612";
}
.icon-expand:before {
	content: "\e613";
}
.icon-download:before {
	content: "\e614";
}
.icon-contract:before {
	content: "\e615";
}
.icon-cog:before {
	content: "\e616";
}
.icon-ad:before {
	content: "\e617";
}
