@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/icomoon.woff') format('woff'),
         url('../fonts/icomoon.ttf') format('truetype'),
         url('../fonts/icomoon.svg?#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-volume-mute:before {
	content: "\e600";
}

.icon-volume-low:before {
	content: "\e601";
}

.icon-volume-high:before {
	content: "\e602";
}

.icon-unlike:before {
	content: "\e603";
}

.icon-share:before {
	content: "\e604";
}

.icon-close:before {
	content: "\e605";
}

.icon-checkmark:before {
	content: "\e606";
}
.icon-check:before {
	content: "\e606";
}
.icon-caret:before {
	content: "\e624";
}
.icon-cc:before {
	content: "\e607";
}

.icon-camera:before {
	content: "\e608";
}

.icon-replay:before {
	content: "\e609";
}

.icon-related:before {
	content: "\e60a";
}

.icon-play:before {
	content: "\e60b";
}

.icon-pause:before {
	content: "\e60c";
}

.icon-like:before {
	content: "\e60d";
}

.icon-info:before {
	content: "\e60e";
}

.icon-fullscreen-exit-alt:before {
	content: "\e60f";
}

.icon-fullscreen-alt:before {
	content: "\e610";
}

.icon-flag:before {
	content: "\e611";
}

.icon-expand2:before {
	content: "\e612";
}

.icon-expand:before {
	content: "\e613";
}

.icon-download:before {
	content: "\e614";
}

.icon-contract:before {
	content: "\e615";
}

.icon-cog:before {
	content: "\e616";
}

.icon-ad:before {
	content: "\e617";
}

.icon-list:before {
	content: "\e618";
}

.icon-chromecast:before {
	content: "\e619";
}

.icon-next:before {
	content: "\e61b";
}

.icon-prev:before {
	content: "\e61a";
}

.icon-duration:before {
	content: "\e61d";
}

.icon-start_time:before {
	content: "\e61c";
}

.icon-chapterMenu:before {
	content: "\e61e";
}

.icon-clear:before {
	content: "\e61f";
}

.icon-magnifyGlass:before {
	content: "\e620";
}

.icon-switchSource:before {
	content: "\e621";
}

.icon-off-air:before {
    content: "\e622";
}
.icon-on-air:before {
    content: "\e623";
}
.icon-toggle:before {
    content: "\e624";
}
.icon-locator:before {
    content: "\e625";
}
.icon-toggleAll:before {
    content: "\e626";
}
.icon-audio:before {
    content: "\e627";
}
.icon-new-tab:before {
    content: "\e628";
}
.mobileSkin .icon-cog:before {
    content: "\e900";
}
.mobileSkin .icon-share:before {
    content: "\e901";
}
.mobileSkin .icon-more:before {
    content: "\e902";
}
.mobileSkin .icon-chromecast:before {
    content: "\e903";
}
.mobileSkin .icon-airplay:before {
    content: "\e904";
}
.mobileSkin .icon-contract:before {
    content: "\e905";
}
.mobileSkin .icon-expand:before {
    content: "\e906";
}
.mobileSkin .icon-play:before {
    text-shadow: 0px 0px 2px rgba(0,0,0,0.10);
    content: "\e907";
}
.mobileSkin .icon-pause:before {
    text-shadow: 0px 0px 2px rgba(0,0,0,0.10);
    content: "\e908";
}
.mobileSkin .icon-prev:before {
    content: "\e909";
}
.mobileSkin .icon-next:before {
    content: "\e90a";
}
.mobileSkin .icon-richmedia:before {
    content: "\e90b";
}
.mobileSkin .icon-info:before {
    content: "\e90c";
}
.mobileSkin .icon-cc:before {
    content: "\e90d";
}
.mobileSkin .icon-speedrate:before {
    content: "\e90e";
}
.mobileSkin .icon-flag:before {
    content: "\e90f";
}
.mobileSkin .icon-attachments:before {
    content: "\e910";
}
.mobileSkin .icon-download:before {
    content: "\e911";
}
.mobileSkin .icon-swap:before {
    content: "\e912";
}
.mobileSkin .icon-mainslide:before {
    content: "\e913";
}
.mobileSkin .icon-single:before {
    content: "\e914";
}
.mobileSkin .icon-split:before {
    content: "\e915";
}
.mobileSkin .icon-viewpoint:before {
    content: "\e916";
}
.mobileSkin .icon-related:before {
    content: "\e91c";
}
.mobileSkin .icon-ad:before {
    content: "\e91e";
}
.mobileSkin .icon-arrow-left:before {
    content: "\e917";
}
.mobileSkin .icon-close:before {
    content: "\e918";
}
.icon-vr:before {
    content: "\e91f";
}


