
<layout id="full" skinPath="assets/skins/v1.0/basic-flat.swf"> 
	<VBox id="player" width="100%" height="100%" styleName="black"> 
 
		<Plugin id="FreeWheel" width="0%" height="0%" preSequence="1" postSequence="1" asyncInit="true"
			path="freewheelPlugin/v1.0/KDPPlugin.swf"
			adManagerUrl="http://adm.fwmrm.net/p/fox_live/AdManager.swf"
			serverUrl="http://1c6e2.v.fwmrm.net"
			networkId="116450"
			playerProfile="116450:FDM_Live"
			videoAssetNetworkId="116450"
			overrideParameters="templateText=The Video Will Resume in %lnt%&amp;fallbackText=The Video Will Resume Soon&amp;textFont=Verdana&amp;textSize=11"
			extensions="SingleAdExtension=http://adm.fwmrm.net/p/fox_live/SingleAdExtension.swf&amp;CountdownTimerExtension=http://adm.fwmrm.net/p/fox_live/CountdownTimerExtension.swf"/> 
 
		<!-- this canvas is to allow layers to be placed above the video area--> 
		<Canvas height="100%" width="100%" id="PlayerHolder" styleName="black"> 
 
			<!-- video area--> 
			<Video id="video" width="100%" height="100%" mantainAspectRatio="false" /> 
 
			<!-- toggle states of the player (start pause end...)--> 
			<Screens id="screensLayer" width="100%" height="100%"
				mouseOverTarget="{PlayerHolder}" styleName="clickThrough"
				startScreenId="startScreen" startScreenOverId="startScreen"
				pauseScreenOverId="pauseScreen" pauseScreenId="pauseScreen"
				endScreenId="endScreen" endScreenOverId="endScreen" /> 
 
			<!-- CC text container --> 
			<VBox id="CloseCaptionsContainer" width="100%" height="100%"> 
				<Spacer height="100%" /> 
				<Plugin id="closedCaptions" loadingPolicy="noWait" path="closedCaptionsPlugin/v3.4.20/closedCaptionsPlugin.swf" width="100%" height="50"
					ccUrl="{mediaProxy.entryMetadata.ClosedCaptions}" opacity="0" fontFamily="Arial" fontsize="12" /> 
			</VBox> 
 
			<!-- FDM Plugin  --> 
			<Plugin id="FDMAdapter" width="100%" height="100%"
      			loadingPolicy="noWait"
      			path="fdmadapter/v1.0/FDMAdapterPlugin.swf"
      			pluginList="FDMInfo,FDMSimilarVideos,FDMShare,FDMSettings"
				libraryUrl="assets/modules/v1.0/FDMModulesLibrary.swf"
				notifications="FDMInfoClick,FDMSimilarVideosClick,FDMSettingsClick,FDMShareClick"
				ccUrl="{mediaProxy.entryMetadata.ClosedCaptions}"/> 
 
			<!-- Gigya --> 
			<Plugin id="gigya" loadingPolicy="noWait" path="gigyaPlugin/v3.4.20/gigyaPlugin.swf" width="50%" height="100%" x="150"/> 
		</Canvas> 
 
		<!-- ############## Analytics ############## --> 
		<!-- Omniture: Entertainment --> 
		<Plugin id="omniture" width="0" height="0"
			path="omniturePlugin/v3.4.20/omniturePlugin.swf"
			trackingServer="foxentertainment.122.2o7.net" visitorNamespace="vs" account="fsvampdev" trackMilestones="25,50,75,100"
			customEvents="shareGetLinkEvent,shareGetEmbedEvent,shareSendEmailEvent,shareDoSocialEvent,ccEnableCCEvent,ccDisableCCEvent,viewVideoInfoEvent"
 
			videoViewEvent="event4"
			videoViewEventEvar3="eVar3"	videoViewEventEvar3Value="{mediaProxy.entry.name}:{mediaProxy.entryMetadata.Series}:{mediaProxy.entryMetadata.Season}:{mediaProxy.entryMetadata.Episode}"
			videoViewEventEvar31="eVar31"	videoViewEventEvar31Value="{mediaProxy.entryMetadata.Rating}"
			videoViewEventEvar36="eVar36"	videoViewEventEvar36Value="{mediaProxy.entry.id}"
			videoViewEventEvar41="eVar41"	videoViewEventEvar41Value="{mediaProxy.entry.name}"
			videoViewEventEvar47="eVar47"	videoViewEventEvar47Value="{mediaProxy.entryMetadata.Series}"
			videoViewEventEvar48="eVar48"	videoViewEventEvar48Value="{mediaProxy.entryMetadata.Season}"
			videoViewEventEvar49="eVar49"	videoViewEventEvar49Value="{mediaProxy.entryMetadata.Episode}"
 
			videoViewEventProp3="prop3"	videoViewEventProp3Value="{mediaProxy.entry.name}:{mediaProxy.entryMetadata.Series}:{mediaProxy.entryMetadata.Season}:{mediaProxy.entryMetadata.Episode}"
			videoViewEventProp31="prop31"	videoViewEventProp31Value="{mediaProxy.entryMetadata.Rating}"
			videoViewEventProp36="prop36"	videoViewEventProp36Value="{mediaProxy.entry.id}"
			videoViewEventProp41="prop41"	videoViewEventProp41Value="{mediaProxy.entry.name}"
			videoViewEventProp47="prop47"	videoViewEventProp47Value="{mediaProxy.entryMetadata.Series}"
			videoViewEventProp48="prop48"	videoViewEventProp48Value="{mediaProxy.entryMetadata.Season}"
			videoViewEventProp49="prop49"	videoViewEventProp49Value="{mediaProxy.entryMetadata.Episode}"
 
			playerPlayEndEvent="event5"
			playerPlayEndEventEvar3="eVar3"	playerPlayEndEventEvar3Value="{mediaProxy.entry.name}:{mediaProxy.entryMetadata.Series}:{mediaProxy.entryMetadata.Season}:{mediaProxy.entryMetadata.Episode}"
			playerPlayEndEventEvar31="eVar31"	playerPlayEndEventEvar31Value="{mediaProxy.entryMetadata.Rating}"
			playerPlayEndEventEvar36="eVar36"	playerPlayEndEventEvar36Value="{mediaProxy.entry.id}"
			playerPlayEndEventEvar41="eVar41"	playerPlayEndEventEvar41Value="{mediaProxy.entry.name}"
			playerPlayEndEventEvar47="eVar47"	playerPlayEndEventEvar47Value="{mediaProxy.entryMetadata.Series}"
			playerPlayEndEventEvar48="eVar48"	playerPlayEndEventEvar48Value="{mediaProxy.entryMetadata.Season}"
			playerPlayEndEventEvar49="eVar49"	playerPlayEndEventEvar49Value="{mediaProxy.entryMetadata.Episode}"
 
			shareGetLinkEvent="event29"
			shareGetLinkEventEvar3="eVar3"	shareGetLinkEventEvar3Value="{mediaProxy.entry.name}:{mediaProxy.entryMetadata.Series}:{mediaProxy.entryMetadata.Season}:{mediaProxy.entryMetadata.Episode}"
			shareGetLinkEventEvar31="eVar31"	shareGetLinkEventEvar31Value="{mediaProxy.entryMetadata.Rating}"
			shareGetLinkEventEvar36="eVar36"	shareGetLinkEventEvar36Value="{mediaProxy.entry.id}"
			shareGetLinkEventEvar41="eVar41"	shareGetLinkEventEvar41Value="{mediaProxy.entry.name}"
			shareGetLinkEventEvar47="eVar47"	shareGetLinkEventEvar47Value="{mediaProxy.entryMetadata.Series}"
			shareGetLinkEventEvar48="eVar48"	shareGetLinkEventEvar48Value="{mediaProxy.entryMetadata.Season}"
			shareGetLinkEventEvar49="eVar49"	shareGetLinkEventEvar49Value="{mediaProxy.entryMetadata.Episode}"
 
			shareGetEmbedEvent="event30"
			shareGetEmbedEventEvar3="eVar3"	shareGetEmbedEventEvar3Value="{mediaProxy.entry.name}:{mediaProxy.entryMetadata.Series}:{mediaProxy.entryMetadata.Season}:{mediaProxy.entryMetadata.Episode}"
			shareGetEmbedEventEvar31="eVar31"	shareGetEmbedEventEvar31Value="{mediaProxy.entryMetadata.Rating}"
			shareGetEmbedEventEvar36="eVar36"	shareGetEmbedEventEvar36Value="{mediaProxy.entry.id}"
			shareGetEmbedEventEvar41="eVar41"	shareGetEmbedEventEvar41Value="{mediaProxy.entry.name}"
			shareGetEmbedEventEvar47="eVar47"	shareGetEmbedEventEvar47Value="{mediaProxy.entryMetadata.Series}"
			shareGetEmbedEventEvar48="eVar48"	shareGetEmbedEventEvar48Value="{mediaProxy.entryMetadata.Season}"
			shareGetEmbedEventEvar49="eVar49"	shareGetEmbedEventEvar49Value="{mediaProxy.entryMetadata.Episode}"
 
			shareSendEmailEvent="event31"
			shareSendEmailEventEvar3="eVar3"	shareSendEmailEventEvar3Value="{mediaProxy.entry.name}:{mediaProxy.entryMetadata.Series}:{mediaProxy.entryMetadata.Season}:{mediaProxy.entryMetadata.Episode}"
			shareSendEmailEventEvar31="eVar31"	shareSendEmailEventEvar31Value="{mediaProxy.entryMetadata.Rating}"
			shareSendEmailEventEvar36="eVar36"	shareSendEmailEventEvar36Value="{mediaProxy.entry.id}"
			shareSendEmailEventEvar41="eVar41"	shareSendEmailEventEvar41Value="{mediaProxy.entry.name}"
			shareSendEmailEventEvar47="eVar47"	shareSendEmailEventEvar47Value="{mediaProxy.entryMetadata.Series}"
			shareSendEmailEventEvar48="eVar48"	shareSendEmailEventEvar48Value="{mediaProxy.entryMetadata.Season}"
			shareSendEmailEventEvar49="eVar49"	shareSendEmailEventEvar49Value="{mediaProxy.entryMetadata.Episode}"
 
			shareDoSocialEvent="event44"
			shareDoSocialEventProp16="prop16"	shareDoSocialEventProp16Value="{network}"
			shareDoSocialEventEvar3="eVar3"	shareDoSocialEventEvar3Value="{mediaProxy.entry.name}:{mediaProxy.entryMetadata.Series}:{mediaProxy.entryMetadata.Season}:{mediaProxy.entryMetadata.Episode}"
			shareDoSocialEventEvar16="eVar16"	shareDoSocialEventEvar16Value="{network}"
			shareDoSocialEventEvar31="eVar31"	shareDoSocialEventEvar31Value="{mediaProxy.entryMetadata.Rating}"
			shareDoSocialEventEvar36="eVar36"	shareDoSocialEventEvar36Value="{mediaProxy.entry.id}"
			shareDoSocialEventEvar41="eVar41"	shareDoSocialEventEvar41Value="{mediaProxy.entry.name}"
			shareDoSocialEventEvar47="eVar47"	shareDoSocialEventEvar47Value="{mediaProxy.entryMetadata.Series}"
			shareDoSocialEventEvar48="eVar48"	shareDoSocialEventEvar48Value="{mediaProxy.entryMetadata.Season}"
			shareDoSocialEventEvar49="eVar49"	shareDoSocialEventEvar49Value="{mediaProxy.entryMetadata.Episode}"
 
			ccEnableCCEvent="event38"
			ccEnableCCEventEvar3="eVar3"	ccEnableCCEventEvar3Value="{mediaProxy.entry.name}:{mediaProxy.entryMetadata.Series}:{mediaProxy.entryMetadata.Season}:{mediaProxy.entryMetadata.Episode}"
			ccEnableCCEventEvar31="eVar31"	ccEnableCCEventEvar31Value="{mediaProxy.entryMetadata.Rating}"
			ccEnableCCEventEvar36="eVar36"	ccEnableCCEventEvar36Value="{mediaProxy.entry.id}"
			ccEnableCCEventEvar41="eVar41"	ccEnableCCEventEvar41Value="{mediaProxy.entry.name}"
			ccEnableCCEventEvar47="eVar47"	ccEnableCCEventEvar47Value="{mediaProxy.entryMetadata.Series}"
			ccEnableCCEventEvar48="eVar48"	ccEnableCCEventEvar48Value="{mediaProxy.entryMetadata.Season}"
			ccEnableCCEventEvar49="eVar49"	ccEnableCCEventEvar49Value="{mediaProxy.entryMetadata.Episode}"
 
			ccDisableCCEvent="event39"
			ccDisableCCEventEvar3="eVar3"	ccDisableCCEventEvar3Value="{mediaProxy.entry.name}:{mediaProxy.entryMetadata.Series}:{mediaProxy.entryMetadata.Season}:{mediaProxy.entryMetadata.Episode}"
			ccDisableCCEventEvar31="eVar31"	ccDisableCCEventEvar31Value="{mediaProxy.entryMetadata.Rating}"
			ccDisableCCEventEvar36="eVar36"	ccDisableCCEventEvar36Value="{mediaProxy.entry.id}"
			ccDisableCCEventEvar41="eVar41"	ccDisableCCEventEvar41Value="{mediaProxy.entry.name}"
			ccDisableCCEventEvar47="eVar47"	ccDisableCCEventEvar47Value="{mediaProxy.entryMetadata.Series}"
			ccDisableCCEventEvar48="eVar48"	ccDisableCCEventEvar48Value="{mediaProxy.entryMetadata.Season}"
			ccDisableCCEventEvar49="eVar49"	ccDisableCCEventEvar49Value="{mediaProxy.entryMetadata.Episode}"
 
			viewVideoInfoEvent="event40"
			viewVideoInfoEventEvar3="eVar3"	viewVideoInfoEventEvar3Value="{mediaProxy.entry.name}:{mediaProxy.entryMetadata.Series}:{mediaProxy.entryMetadata.Season}:{mediaProxy.entryMetadata.Episode}"
			viewVideoInfoEventEvar31="eVar31"	viewVideoInfoEventEvar31Value="{mediaProxy.entryMetadata.Rating}"
			viewVideoInfoEventEvar36="eVar36"	viewVideoInfoEventEvar36Value="{mediaProxy.entry.id}"
			viewVideoInfoEventEvar41="eVar41"	viewVideoInfoEventEvar41Value="{mediaProxy.entry.name}"
			viewVideoInfoEventEvar47="eVar47"	viewVideoInfoEventEvar47Value="{mediaProxy.entryMetadata.Series}"
			viewVideoInfoEventEvar48="eVar48"	viewVideoInfoEventEvar48Value="{mediaProxy.entryMetadata.Season}"
			viewVideoInfoEventEvar49="eVar49"	viewVideoInfoEventEvar49Value="{mediaProxy.entryMetadata.Episode}"
 
			openFullscreenEvent="event33"
			openFullscreenEventEvar36="eVar36"	openFullscreenEventEvar36Value="{mediaProxy.entry.id}"
			openFullscreenEventEvar41="eVar41"	openFullscreenEventEvar41Value="{mediaProxy.entry.name}"
			openFullscreenEventEvar47="eVar47"	openFullscreenEventEvar47Value="{mediaProxy.entryMetadata.Series}"
			openFullscreenEventEvar48="eVar48"	openFullscreenEventEvar48Value="{mediaProxy.entryMetadata.Season}"
			openFullscreenEventEvar49="eVar49"	openFullscreenEventEvar49Value="{mediaProxy.entryMetadata.Episode}" /> 
		<!--
			event6	- Video: Ad Start
			event7	- Video: Ad Complete
			event26	- Video: 25% viewed
			event27	- Video: 50% viewed
			event28	- Video: 75% viewed
			event41	- Video: Star Rating Set
		--> 
 
		<!-- Nielsen --> 
		<Plugin id="nielsen" width="0%" height="0%" includeInLayout="false"
			path="http://gg-dev.glanceguide.com/kaltura/NielsenPlugin.swf"
			clientid="us-502202" vcid="c07" nolTags="category={mediaProxy.entry.categories}&amp;title={mediaProxy.entry.name}" /> 
 
		<!-- this is the controllers box --> 
		<VBox id="ControlsContainer" width="100%" height="40" horizontalAlign="center"> 
			<HBox id="ControllerScreen" width="100%" height="30"
				paddingLeft="10" paddingRight="10" paddingTop="4"
				horizontalGap="20" verticalAlign="middle" styleName="darkBg"> 
 
				<!-- play button --> 
				<Button id="playBtnControllerScreen" command="play"
					buttonType="iconButton" focusRectPadding="0" icon="playIcon"
					overIcon="playIcon" downIcon="playIcon"
					disabeledIcon="playIcon" selectedUpIcon="pauseIcon"
					selectedOverIcon="pauseIcon" selectedDownIcon="pauseIcon"
					selectedDisabledIcon="pauseIcon"
					k_buttonType="buttonIconControllerArea" color1="11184810"
					color2="16777215" color3="16777215" color4="11184810"
					color5="0" font="Arial" /> 
 
				<!-- horizontal volume controller: mute/unmute and volume bar --> 
				<VolumeBar id="volumeBar" styleName="volumeBtn" buttonHeight="20" layoutMode="horizontal" shouldHideSlider="false" width="100"
					height="20" buttonWidth="20" buttonType="iconButton" tooltip="Change Volume"
					color1="14540253" color2="16777215" color3="16777215" color4="14540253" color5="0" font="Arial"/> 
				<!-- vertical volume controller: mute/unmute and volume bar --> 
				<!--
				<VolumeBar id="volumeBar" styleName="volumeBtn" width="20" height="20"
					buttonType="iconButton" color1="11184810" color2="16777215"
					color3="16777215" color4="11184810" color5="0" font="Arial" />
				--> 
 
				<!-- scrubber box. the scrubber and 2 timers --> 
				<VBox id="scrubberContainer" width="100%" height="30"
					verticalAlign="middle" verticalGap="-3" notVisible="{mediaProxy.isLive}"> 
					<Spacer height="7" /> 
					<HBox width="100%" paddingTop="3"> 
						<Timer id="timerControllerScreen1" width="100%" styleName="timerProgressRight" format="mm:ss" height="12" /><Label text="/" width="10" styleName="timerProgressLeft" /><Timer id="timerControllerScreen2" width="35" styleName="timerProgressLeft" format="mm:ss" height="12" timerType="total" /> 
					</HBox> 
				</VBox> 
 
				<!-- information  button --> 
				<Button id="infoBtnControllerScreen" buttonType="iconButton"
					kClick="sendNotification('FDMInfoClick')" height="22"
					styleName="controllerScreen" focusRectPadding="10"
					icon="creditsIcon" k_buttonType="buttonIconControllerArea"
					tooltip="Info" color1="11184810"
					color2="16777215" color3="16777215" color4="11184810"
					color5="0" font="Arial" /> 
 
				<!-- settings controller --> 
				<Button id="settingsBtnControllerScreen" buttonType="iconButton"
					kClick="sendNotification('FDMSettingsClick')" height="22"
					styleName="controllerScreen" focusRectPadding="0"
					icon="generalIcon" k_buttonType="buttonIconControllerArea"
					tooltip="Settings" color1="11184810"
					color2="16777215" color3="16777215" color4="11184810"
					color5="0" font="Arial" /> 
 
				<!-- sharing controller --> 
				<Button id="shareBtnControllerScreen" buttonType="iconButton"
					kClick="sendNotification('FDMShareClick')" height="22"
					styleName="controllerScreen" focusRectPadding="0"
					enabled="{FDMAdapter.mediaPlayerExists}"
					icon="shareIcon" k_buttonType="buttonIconControllerArea"
					tooltip="Sharing is Caring" color1="11184810"
					color2="16777215" color3="16777215" color4="11184810"
					color5="0" font="Arial" /> 
 
				<!-- volume controller: mute/unmute and volume bar  --> 
				<Button id="fullScreenBtnControllerScreen" buttonType="iconButton"
					command="fullScreen" height="22"
					enabled="{FDMAdapter.enableButton}"
					styleName="controllerScreen" focusRectPadding="0"
					icon="openFullScreenIcon" k_buttonType="buttonIconControllerArea"
					tooltip="Fullscreen" color1="11184810"
					color2="16777215" color3="16777215" color4="11184810"
					color5="0" font="Arial" /> 
			</HBox> 
			<!-- scrubber box. --> 
			<VBox id="scrubberContainer" width="100%" height="10"
				verticalAlign="middle" verticalGap="-3" horizontalAlign="center"
				notVisible="{mediaProxy.isLive}"> 
				<Scrubber id="scrubber" width="100%" height="10" styleName="" color1="16777215" color2="16777215" /> 
			</VBox> 
		</VBox> 
	</VBox> 
	<screens> 
		<!-- start state  --> 
		<screen id="startScreen"> 
			<VBox id="startContainer" width="100%" height="100%"
				verticalAlign="middle" horizontalAlign="center"> 
				<Spacer width="100%" /> 
				<Tile id="startTile" width="100%" verticalGap="10"
					verticalAlign="middle" horizontalAlign="center"> 
					<Button id="onVideoPlayBtnStartScreen" command="play"
						buttonType="onScreenButton" minWidth="60"
						labelPlacement="top" label="Play" styleName="onScreenBtn"
						upIcon="playIcon" overIcon="playIcon" downIcon="playIcon"
						disabeledIcon="playIcon" selectedUpIcon="playIcon"
						selectedOverIcon="playIcon" selectedDownIcon="playIcon"
						selectedDisabledIcon="playIcon"
						k_buttonType="buttonIconControllerArea"
						tooltip="Play Video" color1="14540253" color2="16777215"
						color3="3355443" color4="10066329" color5="16777215" font="Arial" /> 
				</Tile> 
				<Spacer width="100%" /> 
			</VBox> 
		</screen> 
		<!-- pause state screen --> 
		<screen id="pauseScreen"> 
			<VBox id="pauseContainer" width="100%" height="100%"
				verticalAlign="middle" horizontalAlign="center"> 
				<Spacer height="100%" /> 
				<Tile id="pauseTile" width="100%" verticalGap="10"
					verticalAlign="middle" horizontalAlign="center"> 
					<Button id="onVideoPlayBtnPauseScreen" command="play"
						buttonType="onScreenButton" minWidth="60"
						labelPlacement="top" label="Resume" styleName="onScreenBtn"
						upIcon="playIcon" overIcon="playIcon" downIcon="playIcon"
						disabeledIcon="playIcon" selectedUpIcon="playIcon"
						selectedOverIcon="playIcon" selectedDownIcon="playIcon"
						selectedDisabledIcon="playIcon"
						k_buttonType="buttonIconControllerArea"
						tooltip="Resume Playing" color1="14540253" color2="16777215"
						color3="3355443" color4="10066329" color5="16777215" font="Arial" /> 
				</Tile> 
				<Spacer height="100%" /> 
			</VBox> 
		</screen> 
		<!-- end state screen --> 
		<screen id="endScreen"> 
			<VBox id="endContainer" width="100%" height="100%"
				verticalAlign="middle" horizontalAlign="center"> 
				<Spacer height="100%" /> 
				<Tile id="endTile" width="100%" verticalGap="10"
					verticalAlign="middle" horizontalAlign="center"> 
					<Button id="replayBtnEndScreen"
						kClick="sendNotification('doPlay')"
						buttonType="onScreenButton" minWidth="60"
						labelPlacement="top" label="Play Again"
						styleName="onScreenBtn" upIcon="replayIcon"
						k_buttonType="buttonIconControllerArea" tooltip="Play Again"
						color1="14540253" color2="16777215" color3="3355443"
						color4="10066329" color5="16777215" font="Arial" /> 
 
					<Button id="shareBtnEndScreen"
						kClick="sendNotification('FDMShareClick')"
						buttonType="onScreenButton" minWidth="60"
						labelPlacement="top" label="Share"
						styleName="onScreenBtn" upIcon="shareIcon"
						k_buttonType="buttonIconControllerArea"
						tooltip="Share This Video" uiconfId="48502"
						color1="14540253" color2="16777215" color3="3355443"
						color4="10066329" color5="16777215" font="Arial" /> 
				</Tile> 
				<Spacer height="100%" /> 
			</VBox> 
		</screen> 
	</screens> 
	<extraData> 
		<FDMConfig> 
    	<socialConfig> 
			<socialSite name="facebook"> 
				<script><![CDATA[
					function(){
						var rand = Math.floor(Math.random()*99999);
						var VAMP_social_iframe = document.createElement("IFRAME");
						if(VAMP_social_iframe.style.setAttribute){
							VAMP_social_iframe.style.setAttribute("height", "1px");
							VAMP_social_iframe.style.setAttribute("width", "1px");
							VAMP_social_iframe.style.setAttribute("position", "absolute");
							VAMP_social_iframe.style.setAttribute("top", "-99999px");
							VAMP_social_iframe.style.setAttribute("left", "-99999px");
						}else{
							VAMP_social_iframe.setAttribute("style", "height:1px;width:1px;position:absolute;top:-999px;left:-999px;z-index:-1");
						}
 
						VAMP_social_iframe.setAttribute("id","VAMP_social_fb" + rand);
						VAMP_social_iframe_src = 'http://vampdev.foxfdm.com/facebook.php?';
						VAMP_social_iframe_src += 'fbName=${title}';
						VAMP_social_iframe_src += '&fbMessage=${message}';
						VAMP_social_iframe_src += '&fbDescription=${description}';
						VAMP_social_iframe_src += '&fbLink=${shareUrl}';
						VAMP_social_iframe_src += '&fbPicture=http://www.healthline.com/blogs/diet_nutrition/uploaded_images/beans,jpg-700668.jpg';
						VAMP_social_iframe_src += '&parentLocation=' + window.location.href;
 
						VAMP_social_iframe.setAttribute("src",VAMP_social_iframe_src);
						document.body.appendChild(VAMP_social_iframe);
 
						var VAMP_social_interval = self.setInterval(
							function(){
								var VAMP_social_fb = document.getElementById("VAMP_social_fb" + rand);
								if(window.location.hash == "#success"){
								//alert("Post was published.");
								//Call to the player function goes in here - success;
								window.clearInterval(VAMP_social_interval);
								VAMP_social_fb.parentNode.removeChild(VAMP_social_fb); 
							}
							else if (window.location.hash == "#failure"){
								//alert("Post was not published.");
								//Call to the player function goes in here - failure;
								window.clearInterval(VAMP_social_interval);
								VAMP_social_fb.parentNode.removeChild(VAMP_social_fb); 
							}
							window.location.hash = '';
 
						}, 1000);
					}
				]]></script> 
			</socialSite> 
			<socialSite name="myspace"> 
				<script><![CDATA[
					function() {
						var targetUrl = "http://www.myspace.com/Modules/PostTo/Pages/";
							targetUrl += "?t=" + encodeURIComponent('${title}');
							targetUrl += "&c=" + encodeURIComponent('${description}');
							targetUrl += "&u=" + encodeURIComponent('${shareUrl}');
						window.open(targetUrl, 'ptm', 'height=450,width=440').focus();
					}
				]]></script> 
			</socialSite> 
			<socialSite name="google"> 
				<script><![CDATA[
					function(){
						var targetUrl = "http://www.google.com/buzz/post?";
							targetUrl += "&url=" + encodeURIComponent('${shareUrl}');
							targetUrl += "&message=" + encodeURIComponent('${title}');
							targetUrl += "&imageurl=" + encodeURIComponent('${shareUrl}');
							targetUrl += "&type=small-button";
						window.open(targetUrl, 'googleShare', 'height=450,width=600').focus();
					}
				]]></script> 
			</socialSite> 
			<socialSite name="yahoo"> 
				<script><![CDATA[
					function(){
						var targetUrl = "http://buzz.yahoo.com/buzz?src=addthis";
							targetUrl += "&targetUrl=" + encodeURIComponent('${shareUrl}');
							targetUrl += "&headline=" + encodeURIComponent('${title}');
							targetUrl += "&summary=" + encodeURIComponent('${description}');
						window.open(targetUrl, 'yahooShare', 'height=450,width=600').focus();
					}
				]]></script> 
			</socialSite> 
			<socialSite name="twitter"> 
				<script><![CDATA[
					function(){
						window.open('http://twitter.com?status=' + encodeURIComponent("test title" + ' - ' + document.location));
					}
				]]></script> 
			</socialSite> 
    	</socialConfig> 
			<languageUrl><![CDATA[assets/languages/]]></languageUrl> 
			<templates> 
				<textFormats><!-- ${value} = metadata field,  #[value] = labels --> 
					<textFormat id="mediaInfo"><!-- Info Module: description --> 
						<item><![CDATA[[fontFormat=1]${Series} : ]]></item> 
						<item><![CDATA[[fontFormat=1]${name} <br/><br/>]]></item> 
						<item><![CDATA[[fontFormat=2]${duration|TIME} | ]]></item><!-- |TIME will convert value to time format --> 
						<item><![CDATA[[fontFormat=2]#[SEASON] ${Season}, ]]></item> 
						<item><![CDATA[[fontFormat=2]#[EPISODE] ${Episode} | ]]></item> 
						<item><![CDATA[[fontFormat=2]#[AIRED]: ${Airdate|DATE}<br/>]]></item><!-- |DATE will convert value to date format --> 
						<item><![CDATA[[fontFormat=2]${description}]]></item> 
					</textFormat> 
					<textFormat id="mediaThumbInfo"><!-- Similar Videos Module: description --> 
						<!-- <item><![CDATA[[fontFormat=4]${id} : ]]></item> --> 
						<!-- <item><![CDATA[[fontFormat=4]${name} | ]]></item> --> 
						<item><![CDATA[[fontFormat=4]${description}<br/>]]></item> 
						<item><![CDATA[[fontFormat=4]${duration|TIME}]]></item><!-- |TIME will convert value to time format --> 
						<!-- <item><![CDATA[[fontFormat=4]#[AIRED]: ${startDate|DATE}]]></item> --><!-- |DATE will convert value to date format --> 
					</textFormat> 
					<textFormat id="viewLabel"><!-- Info Module: views --> 
						<item><![CDATA[[fontFormat=3]${views} #[VIEWS]<br/>]]></item> 
					</textFormat> 
					<textFormat id="emailTo"> 
						<item><![CDATA[[fontFormat=5]#[email_to_form]]]></item> 
					</textFormat> 
					<textFormat id="emailFrom"> 
						<item><![CDATA[[fontFormat=5]#[email_from_form]]]></item> 
					</textFormat> 
					<textFormat id="emailBody"> 
						<item><![CDATA[[fontFormat=5]#[email_body_form]]]></item> 
					</textFormat> 
					<textFormat id="emailConfirmation"> 
						<item><![CDATA[[fontFormat=5]#[email_confirmation]]]></item> 
					</textFormat> 
					<textFormat id="closedCaptions"> 
						<item><![CDATA[[fontFormat=2]#[closed_caption]]]></item> 
					</textFormat> 
					<textFormat id="autoPlay"> 
						<item><![CDATA[[fontFormat=2]#[auto_play]]]></item> 
					</textFormat> 
		  		</textFormats> 
				<fontFormats> 
					<fontFormat id="1"><![CDATA[<font color='#ffffff' size='16'>]]></fontFormat> 
					<fontFormat id="2"><![CDATA[<font color='#cccccc' size='12'>]]></fontFormat> 
					<fontFormat id="3"><![CDATA[<font color='#FFFFFF' size='13'>]]></fontFormat> 
					<fontFormat id="4"><![CDATA[<font color='#cccccc' size='12'>]]></fontFormat> 
					<fontFormat id="5"><![CDATA[<font color='#999999' size='10'>]]></fontFormat> 
				</fontFormats> 
			</templates> 
			<conversionTemplates><!-- module will be converted to dictionary with name/value pair --> 
				<conversionTemplate	name="mediaInfo" description="mediaInfo" views="viewLabel" eventType="REQUEST_MEDIA_INFO"/> 
				<conversionTemplate name="similarVideos" description="mediaThumbInfo" eventType="REQUEST_SIMILAR_MEDIA"/> 
			</conversionTemplates> 
			<modulesConfig><!-- module specific configs, these config settings will be passed into each module during a module's registration --> 
				<module	name="FDMShare"> 
					<shareStates> 
						<shareState name="FDMShareSocial" defaultView="true" buttonLabel="share" titleLabel="share"> 
							<config> 
								<site name="Facebook" 	 	id="facebook"	sortOrder="0"	imgUrl="./assets/img/fbIcon.jpg"></site> 
								<site name="MySpace" 	 	id="myspace"	sortOrder="1"	imgUrl="./assets/img/mySpaceIcon.jpg"></site> 
								<site name="Twitter" 		id="twitter" 	sortOrder="2"	imgUrl="./assets/img/twitterIcon.jpg"></site> 
								<site name="Yahoo! Buzz" 	id="yahoo" 		sortOrder="3"	imgUrl="./assets/img/yahooIcon.jpg"></site> 
								<site name="Google Buzz" 	id="google" 	sortOrder="4"	imgUrl="./assets/img/googleIcon.jpg"></site> 
								<site name="Other" 			id="other" 		sortOrder="5"	imgUrl="./assets/img/otherIcon.jpg"></site> 
							</config> 
						</shareState> 
						<shareState name="FDMShareEmbed" defaultView="false" buttonLabel="embed"  titleLabel="embed"> 
							<config><![CDATA[<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" width="${width}" height="${height}"><param name="movie" value="${swf}"><param name="quality" value="high"><param name="bgcolor" value="#FFFFFF"><!--[if !IE]> <--><object data="${swf}" width="${width}" height="${height}" type="application/x-shockwave-flash"><param name="quality" value="high"><param name="bgcolor" value="#FFFFFF"><param name="pluginurl" value="http://www.adobe.com/go/getflashplayer"></object><!--> <![endif]--></object>]]></config> 
						</shareState> 
						<shareState name="FDMShareEmail" defaultView="false" buttonLabel="email"  titleLabel="email"> 
							<config> 
								<conversionTemplate name="email" to="emailTo" from="emailFrom" body="emailBody" confirmation="emailConfirmation" /> 
							</config> 
						</shareState> 
						<shareState name="FDMShareLink" defaultView="false" buttonLabel="link"  titleLabel="link"> 
							<config></config> 
						</shareState> 
					</shareStates> 
				</module> 
				<module	name="FDMSettings"> 
					<conversionTemplate name="labels" cc="closedCaptions" autoPlay="autoPlay" /> 
				</module> 
			</modulesConfig> 
			<!-- FDMInfo,FDMSimilarVideos,FDMSettings --> 
	  	</FDMConfig> 
		<!-- this is the ui of the gigya widget  --> 
		<GigyaUI theme="dark"> 
			<config> 
				<display showEmail="false" useTransitions="true"
					showBookmark="true" showPost="false" codeBoxHeight="auto" showCodeBox="false"
					showCloseButton="true" networksWithCodeBox=""
					networksToHide="livespaces, piczo, pageflakes, vox, tagged, hi5, multiply"
					networksToShow="friendster, igoogle, bebo, blogger, wordpress, orkut, livejournal, freewebs, blackplanet, myyearbook, typepad, xanga, netvibes, migente"
					bookmarksToShow="googlebookmarks,yahoo,delicious,digg,newsvine,reddit,ask,myaol,slashdot,skimbit,simpy,blogmarks,spurl,linkagogo,Magnolia,faves,segnalo,netvouz,blinklist,dropjack,feedmelinks" /> 
				<body> 
					<background frame-color="#BFBFBF" background-color="#292929"
						frame-thickness="0" gradient-color-begin="#292929"
						gradient-color-end="#292929" corner-roundness="0;0;0;0" /> 
					<controls corner-roundness="4;4;4;4" gradient-color-begin="#EAEAEA"
						gradient-color-end="#F4F4F4" bold="false"> 
						<snbuttons type="textUnder" frame-color="#666666"
							background-color="#292929" over-frame-color="#FFFFFF" color="#BFBFBF"
							gradient-color-begin="#666666" gradient-color-end="Transparent"
							size="10" bold="false" down-frame-color="#666666"
							down-gradient-color-begin="Transparent" over-gradient-color-end="#ffffff"
							down-gradient-color-end="#666666" over-color="#ffffff"
							down-color="#ffffff" over-bold="false"> 
							<more frame-color="#A4DBFF" over-frame-color="#A4DBFF"
								gradient-color-begin="#F4F4F4" gradient-color-end="#BBE4FF"
								over-gradient-color-begin="#A4DBFF" over-gradient-color-end="#F4F4F4" /> 
							<previous frame-color="#BBE4FF" over-frame-color="#A4DBFF"
								gradient-color-begin="#FFFFFF" gradient-color-end="#A4DBFF"
								over-gradient-color-begin="#A4DBFF" over-gradient-color-end="#F4F4F4" /> 
						</snbuttons> 
						<textboxes frame-color="#CACACA" background-color="#292929"
							color="#757575" gradient-color-begin="#292929"
							gradient-color-end="#292929" bold="false"> 
							<codeboxes color="#808080" frame-color="#6A6A6A"
								background-color="#606060" gradient-color-begin="Transparent"
								gradient-color-end="Transparent" size="10" /> 
							<inputs frame-color="#6a6a6a" color="#808080"
								gradient-color-begin="Transparent" gradient-color-end="Transparent" /> 
							<dropdowns list-item-over-color="#52A4DA" frame-color="#6a6a6a"
								background-color="#292929" color="#808080" gradient-color-begin="#292929"
								gradient-color-end="#292929" /> 
						</textboxes> 
						<buttons frame-color="#6a6a6a" background-color="Transparent"
							gradient-color-begin="#666666" gradient-color-end="Transparent"
							color="#FFFFFF" frame-thickness="1" size="12" bold="false"
							over-frame-color="#FFFFFF" down-frame-color="#6a6a6a"
							over-gradient-color-begin="#666666" down-gradient-color-begin="Transparent"
							over-gradient-color-end="#353535" down-gradient-color-end="Transparent"
							over-size="12" over-bold="false"> 
							<post-buttons frame-color="#6a6a6a"
								gradient-color-end="Transparent" /> 
						</buttons> 
						<listboxes frame-color="#CACACA" corner-roundness="4;4;4;4"
							gradient-color-begin="#F4F4F4" gradient-color-end="#FFFFFF" /> 
						<checkboxes checkmark-color="#FFFFC8" frame-color="#6a6a6a"
							down-gradient-color-begin="#292929" down-gradient-color-end="#292929"
							background-color="#292929" corner-roundness="3;3;3;3"
							gradient-color-begin="Transparent" gradient-color-end="Transparent"
							over-background-color="#292929" down-background-color="#292929" /> 
						<servicemarker gradient-color-begin="Transparent"
							gradient-color-end="#666666" /> 
						<tooltips frame-thickness="0" color="#292929"
							gradient-color-begin="#FFFFFF" gradient-color-end="#FFFFC8" size="10"
							frame-color="#FFDBA4" /> 
					</controls> 
					<texts color="808080"> 
						<privacy color="#808080" /> 
						<headers color="#FFFFFF" bold="false" /> 
						<labels color="#FFFFFF" bold="false" /> 
						<messages color="#202020" background-color="#FFFFA4"
							frame-thickness="0" corner-roundness="4;4;4;4" /> 
						<links color="#FFFFFF" underline="false" over-color="#666666"
							down-color="#666666" down-bold="false" /> 
					</texts> 
				</body> 
			</config> 
		</GigyaUI> 
	</extraData> 
	<uiVars></uiVars> 
</layout> 
