.share .share-input {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFW…mdkSyOXRtfnO3Onf7OPd7U37X6pFxyq2EURYzhHWXx3wIMAHqAXFj/hFWxAAAAAElFTkSuQmCC) no-repeat 10px center;
}
.share .shareembed-input {
    font-size: 12pt;
    font-family: 'Lato', Helvetica, Arial;
    font-weight: 400;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border: 1px solid rgb(127, 127, 127);
    border: 1px solid rgba(255, 255, 255, .5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding-right: 20px;
    width: 265px;
    height: 36px;
    color: white;
    color: rgba(255, 255, 255, 0.502);
    padding-left: 40px;
    background-color: rgba(26, 26, 26, 0.102) !important;
    cursor: auto;
    margin-bottom: 12px;
    float: left;
}

ul, li, ol, input, select, button, a {
    font-family: 'Open sans', Aria, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.714em;
    -webkit-font-smoothing: antialiased !important;
}
a {
    text-decoration: none;
    color: #4099FF;
}


/* ================================= */
/* --------- TRANSITION CSS --------- */
/* ================================= */
a, header.BGdark .logo a img, header, header.BGdark, .BGsecondary, #serviceList .carousel-indicators > li img, .BGdark .rightnav, .main-menu li, ul li, ul li:before, .otherServices .link span i, .otherServices li, .otherServices img, .otherServices li h6, .member img, .otherServices .link, .member .info, .member .info h6, .galleryImg a span, .galleryImg img, .contactInfo p i, .contactInfo p, .social ul li a i, .btn, .social li i, .panel-default > .panel-heading h4.active a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

