
<span class="share-close icon-share-close"  data-click="closeScreen"></span>
<div class="panel-center">
    <div class="share">

        <div class="share-input-container share-container">
            <input class="shareembed-input share-input" value="<%= self.getConfig('shareURL') %>"/>
            <div class="icon-share-Yes share-v-icon"></div>
        </div>
        <div class="share-input-container share-offset-container">
            <span class="share-label noselection"></span>
            <input value="00:00" class="shareembed-input share-offset"/>
        </div>
    </div>
</div>


