.mediaList{
    height: 100%;
    width: 100%;
}
.k-chapters-container{
    position:relative;
}
.k-chapters-container.horizontal {
    padding-top:5px;
}

.k-chapters-container ul {
    margin: 0 0 0 0;
    height: auto;
    padding: 0px;
}
.k-chapters-container .k-title-container{
    font-size:11px;
    font-weight: normal;
}
.k-chapters-container .chapterDivider{
    width: 100%;
	height: 1px;
    background: #aaa;
    position:absolute;
    top: 0px;
    left: 0px;
}
.k-chapters-container .chapterBox{
    background: #222222;
    /* IE 7 & 8 rule */
    background: #222\9;
    cursor:pointer;
    position:relative;
    list-style-type: none;

    float: left;
    height: 70px;
    overflow: hidden;
    width: 100%;
}
.k-chapters-container .chapterBox .k-thumb{
    float: left;
    margin-right:8px;
    margin-top: 3px;
	border: 1px solid #cacaca;
}
.k-chapters-container .chapterBoxInner{
    padding: 8px;
}
.k-chapters-container .chapterBox:hover{
    background: #444444;
    /* IE 7 & 8 rule */
    background: #444\9;
}
.k-chapters-container .chapterBox.active{
    background: #444444;
    /* IE 7 & 8 rule */
    background: #444\9;
}

.k-chapters-container .chapterNumber{
    float: left;
}
.k-chapters-container .k-description{
	padding-top: 5px;
    display: block;
    color: #cacaca;
    font-size: 10px;
}
.k-chapters-container .k-start-time{

}
.k-chapters-container .k-duration{
    float:right;
    position: absolute;
    right: 8px;
    top: 4px;
}

.k-chapters-container .k-duration span{
    font-size: 10px;
    line-height: 20px;
}

/*
* horizontal layout styles:
*/
.k-chapters-container.k-horizontal .chapterBox{
    position:relative;
    display:inline;
    float:left;
    padding-left:4px;
    padding-right:20px;
}

.k-chapters-container .k-carousel{
    -moz-box-shadow: 0 0 8px rgba(0,0,0,1) inset;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,1) inset;
    box-shadow: 0 0 8px rgba(0,0,0,1) inset;
}

.k-chapters-container .k-scroll{
    display: block;
    cursor:pointer;
    width: 20px;
    height:100%;
    opacity:.7;
    text-decoration: none;
    position:absolute;
    z-index: 3;
}
.k-chapters-container.k-horizontal .k-scroll.k-next{
    right:0px;
    top:0px;
}
.k-chapters-container.k-horizontal .k-scroll.k-right{
    left:0px;
    top:0px;
}
.k-chapters-container .k-next{
    background: no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAQAAAD1lzQWAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfcCR0BGhpKxvJRAAAAhUlEQVQI12NgYJCcL3lekp8BBiTna/7X+y9zASbEpMTPxcDKIKTPfBAixHSkSmoHA4oQw38N3+3G/42hGhkhQtb7f0owMPxm+LCIiYGBgUGq/JsEAwMDg8CdpVOg9hj/N/5vd/ucw38WdC4DixL/DwYGBu47E1INjzD+gdoBk4WC/xrIXADEAzdXKDh+NAAAAABJRU5ErkJggg==);
    background-position:center;
}
.k-chapters-container .k-next.disabled{
    visibility:hidden;
}
.k-chapters-container .k-next:hover{
    background-color: rgba(255,255,255,.5);
}
.k-chapters-container .k-prev{
    background: no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAQAAAD1lzQWAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfcCR0BFDQIk9IQAAAAj0lEQVQI12NggAJJfsnzkvMZGFhgXOaDQvq/DaACEC4rAyuDED8TgsvAILXjSBWDJL/MBb3/xv+N//tu/6/BwMAgtxDCtXr+X4OBgYGBaekUgTsMDAwM3ySkyhkYGBgY/rOcc7C7bfzf+L/mf8n5WISYGBgY/xgemZDKfYeBgYtBiR/qTogqqD0Iof8aDAwAfkM1Z1BrKhkAAAAASUVORK5CYII=);
    background-position:center;
}
.k-chapters-container .k-prev.disabled{
    visibility:hidden;
}
.k-chapters-container .k-prev:hover{
    background-color: rgba(255,255,255,.5);
}

.k-chapters-container .k-start-time span{
    color: #7198CA;
    font-size: 13px;
    line-height: 15px;
    margin-right: 4px;
}

.clearfix{
    clear: both;
}
.icon-time {
    margin: 3px 4px;
    width: 14px;
    height: 14px;
    float: left;
    background-position: 0px 0px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAA/klEQVR42o1SMQ7CMBBLWdoF9n4BRkYW4DFEPKUDA69A4hFsjCCxw8AHipDIgERbbHClKCkSJ1lJLvbFvZ4xiqZpBsAS2Nd1fcdaAy/givMG6wTomTCQXIhIgQNuglOuAqwJXqLoKZIFcmAm5Lp34thWuNRLvJh7BQ+wePTOM3HIHTKxlxUbWD8RHZ9DbmHUCFbK/xDStoPmbFSBTUg7hBcg8XIZULJRRp4pzALhtvnGjg3sEl5/WE0kYqwjq/q5UXNE7ON+hXUcNUcTUYHwwDo1P4J34nAQRkz0ggFYyFIqdA+AV9G2I6fKbEKpfTxygXhI//x4FXlpX3zsefEGmPHrz88SRGUAAAAASUVORK5CYII=);
}


/******************************************************************
* Vertical overrides
******************************************************************/
.k-chapters-container.k-vertical .chapterDivider{
    height: 1px;
    background:#aaa;
    position:absolute;
    top:0px;
    left:5px;
    right:5px;
    width:auto;
}
.k-chapters-container.k-vertical .chapterBox{
    width:100%;
}
.k-chapters-container.k-vertical .chapterBox .k-thumb {
    margin-right:7px;
    margin-bottom: 7px;
}

.k-chapters-container.k-vertical .k-scroll{
    float: none;
    width: 100%;
    height: 20px;
    position: absolute;
}
.k-chapters-container.k-vertical .k-carousel{
    float: none;
}
.k-chapters-container.k-vertical .k-next{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAQAAABn7dZ6AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfcCR0FEyvN0+H+AAAAhklEQVQI12NgYPivYb1Ocj4DFMB4LP81/Pp/eAgwMDA8T2RgQPBYzkt8VGFg4GJgSGBgeNbp1//Mg4GBlYHBgPE/y3mbgtlfVRgY/jJwvfgpwcDwm+Hdxb/2jAwMCCkGBpjw848QC1nOOdjdNv5v/F/vv8wFSX4GBIBIYQhDpA6byi1ECAMAoP045A/DsTkAAAAASUVORK5CYII=');
    background-position:center;
    bottom:0px;
}
.k-chapters-container.k-vertical .k-prev{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAQAAABn7dZ6AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfcCR0FEzqnY8EMAAAAkUlEQVQI12NggAJJfrmFh03/szCgAkl+mQt6/+1un3NAkYIIG/83RpJiZGCQ5Gc+KKTPClXEfWdCquERxj9MCGH2F38ZGBi+qhTMPm/zn4WZ94SIASsDA4PUjj2RTTzMBqwMv4X22RhcZGK48JuBgUFqx6ZCxhvPEz8s+MbAwMB/x/AFAwOD5Hzrdf814A6B8gCavDND8yApewAAAABJRU5ErkJggg==');
    background-position:center;
    top:0px;
}
.medialistContainer{
	overflow: auto;
	background-color: #111111;
}
.playListSelector{
	font-size: 11px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}