@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-m2plre');
	src:url('../fonts/icomoon.eot?#iefix-m2plre') format('embedded-opentype'),
	url('../fonts/icomoon.woff?-m2plre') format('woff'),
	url('../fonts/icomoon.ttf?-m2plre') format('truetype'),
	url('../fonts/icomoon.svg?-m2plre#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pause-chubby:before {
	content: "\e604";
}
.icon-play-chubby:before {
	content: "\e605";
}
.icon-volume-mute:before {
	content: "\e60e";
}
.icon-loop:before {
	content: "\e608";
}
.icon-gear:before {
	content: "\e609";
}
.icon-cog:before {
	content: "\e609";
}
.icon-audio:before {
	content: "\e60a";
}
.icon-subtitles:before {
	content: "\e60b";
}
.icon-check:before {
	content: "\e60c";
}
.icon-caret:before {
	content: "\e60d";
}
.icon-pause:before {
	content: "\e606";
}
.icon-play:before {
	content: "\e607";
}
.icon-replay:before {
	content: "\e607";
}
.icon-contract:before {
	content: "\e601";
}
.icon-expand:before {
	content: "\e602";
}
.icon-volume:before {
	content: "\e603";
}
.icon-volume-low:before {
	content: "\e603";
}
.icon-volume-high:before {
	content: "\e603";
}
.icon-globe:before {
	content: "\e600";
}
.icon-x:before {
	content: "\e60f";
}
.icon-attachment:before {
	content: "\e610";
}
.icon-cc:before {
	content: "\e611";
}
.icon-back:before {
	content: "\e612";
}
.icon-camera:before {
	content: "\e613";
}
.icon-flag:before {
	content: "\e614";
}
.icon-forward:before {
	content: "\e615";
}
.icon-info:before {
	content: "\e616";
}
.icon-related:before {
	content: "\e617";
}
.icon-settings:before {
	content: "\e618";
}
.icon-share:before {
	content: "\e619";
}

