<!DOCTYPE HTML>
<html>
<head>
    <title>Chapters</title>
    <script type="text/javascript" src="../../../../../tests/qunit/qunit-bootstrap.js"></script>
    <script type="text/javascript" src="../../../../../mwEmbedLoader.php"></script>
    <script type="text/javascript" src="../../../../../docs/js/doc-bootstrap.js"></script>
</head>
<body>
<h2>Chapters</h2>

<div id="kaltura_player" style="width:800px;height:570px;float:left"></div>
<script>
    kWidget.featureConfig({
        'targetId': 'kaltura_player',
        'wid': '_2222',
        'uiconf_id' : '41159601',
        'entry_id' : '1_ex0njfgh',
        'flashvars': {
            "chapters": {
                plugin: true
            }
        }
    });
</script>
</body>
</html>