@import url(http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900);
.qnaInterface{
}

.qnaInterface .qnaQuestionArea{
	background-color: #00b4d1;
	overflow: hidden;
}

.qnaInterface .qnaQuestionBox{
	background-color: #00b4d1;
	width: 100%;
	-webkit-box-shadow:	0px 7px 10px 0px rgba(0, 0, 0, 0.09);
	-moz-box-shadow:	0px 7px 10px 0px rgba(0, 0, 0, 0.09);
	box-shadow:			0px 7px 10px 0px rgba(0, 0, 0, 0.09);
}

.qnaInterface .qnaQuestionTextArea{
	background-color: transparent;
	font-family: 'Lato', Helvetica, Arial;
	font-size: 13px;
	/*font-weight: 100;*/
	line-height: 16px;
	text-align: left;
	color: #ffffff;
	border: transparent;
	border: none;
	margin-top: 10px;
	-webkit-box-shadow:	none;
	-moz-box-shadow:	none;
	box-shadow:			none;
	resize: none;
	overflow: hidden;
	height: 40px;
	/* Firefox */
	width: -moz-calc(100% - 45px);
	/* WebKit */
	width: -webkit-calc(100% - 45px);
	/* Opera */
	width: -o-calc(100% - 45px);
	/* Standard */
	width: calc(100% - 45px);
}

.qnaInterface .qnaQuestionButtonsArea{
	background-color: transparent;
	width: 100%;
	height: 28px;
}

.qnaInterface .qnaPluginButton{
}

.qnaInterface .qnaButtonsContainer{
	position: relative;
	width: 130px;
	float: right;
	margin-right: 10px;
	padding-top: 5px;
	display:inline-block
}

.qnaInterface .qnaPipeLable{
	background-color: transparent;
	font-family: 'Lato', Helvetica, Arial;
	font-size: 13px;
	font-weight: 300;
	line-height: 16px;
	text-align: left;
	color: #ffffff;
	border: transparent;
	border: none;
	margin-top: 13px;
	-webkit-box-shadow:	none;
	-moz-box-shadow:	none;
	box-shadow:			none;
	width: 10px;
	margin-left: 15px;
	float: left;
}

.qnaInterface .qnaButtonsPipeLable{
	background-color: transparent;
	font-family: 'Lato', Helvetica, Arial;
	font-size: 13px;
	font-weight: 300;
	line-height: 12px;
	text-align: left;
	color: #ffffff;
	border: transparent;
	border: none;
	margin-top: 3px;
	-webkit-box-shadow:	none;
	-moz-box-shadow:	none;
	box-shadow:			none;
	margin-left: 5px;
	margin-right: 5px;
	float: right;
}

.qnaInterface .controlBarBtn{
	background-color: transparent;
	border: none;
	line-height: 12px;
	text-align: left;
	font-family: 'Lato', Helvetica, Arial;
	font-size: 12px;
	color: #ffffff;
	float: right;
	margin-top: 2px;
}

.qnaInterface .qnaCancelButton{
	font-weight: 300;
}
.qnaInterface .qnaSendButton{
	font-weight: 500;
}

.qna-on-video-btn {
	z-index: 99999;
	background-color : #f0f0f0;
	position: absolute;
	right: 0;
	top: 50%;
	width: 38px;
	height: 76px;
	text-align: center;
	border-radius: 76px 0 0 76px;
	-moz-border-radius: 76px 0 0 76px;
	-webkit-border-radius: 76px 0 0 76px;
	text-align: center;
	vertical-align: middle;
	line-height: 76px;
}

.qna-on-video-btn:before {
	color: #414442;
	font-size: 14px;
}


/* font icons */
@font-face {
	font-family: 'qna';
	src:url('fonts/qna.eot?2bxczj');
	src:url('fonts/qna.eot?#iefix2bxczj') format('embedded-opentype'),
	url('fonts/qna.woff?2bxczj') format('woff'),
	url('fonts/qna.ttf?2bxczj') format('truetype'),
	url('fonts/qna.svg?2bxczj#qna') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-qna-"], [class*=" icon-qna-"] {
	font-family: 'qna';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-qna-drop:before {
	content: "\e600";
}

.icon-qna-drop2:before {
	content: "\e601";
}

.icon-qna-tech:before {
	content: "\e602";
}

.icon-qna-more:before {
	content: "\e603";
}

.icon-qna-expand:before {
	content: "\e604";
}

.icon-qna-Ask:before {
	content: "\e605";
}

.icon-qna-close:before {
	content: "\e606";
}
