@import url(http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900);
.qnaInterface{
	height: 100%;
}

.qnaInterface .qnaModuleBackground{
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;
}

.qnaInterface .qnaQuestionArea{
	background-color: #00b4d1;
	overflow: hidden;
	height: 88px;
}

.qnaInterface .qnaQuestionBox{
	background-color: #00b4d1;
	width: 100%;
	-webkit-box-shadow:	0px 7px 10px 0px rgba(0, 0, 0, 0.09);
	-moz-box-shadow:	0px 7px 10px 0px rgba(0, 0, 0, 0.09);
	box-shadow:			0px 7px 10px 0px rgba(0, 0, 0, 0.09);
}

.qnaInterface .qnaQuestionTextArea{
	background-color: transparent;
	font-family: 'Lato', Helvetica, Arial;
	font-size: 13px;
	/*font-weight: 100;*/
	line-height: 14px;
	text-align: left;
	color: #ffffff;
	border: transparent;
	border: none;
	margin-top: 10px;
	-webkit-box-shadow:	none;
	-moz-box-shadow:	none;
	box-shadow:			none;
	resize: none;
	overflow: hidden;
	height: 40px;
	/* Firefox */
	width: -moz-calc(100% - 45px);
	/* WebKit */
	width: -webkit-calc(100% - 45px);
	/* Opera */
	width: -o-calc(100% - 45px);
	/* Standard */
	width: calc(100% - 45px);
}

.qnaInterface .qnaQuestionButtonsArea{
	background-color: transparent;
	width: 100%;
	height: 28px;
}

.qnaInterface .qnaPluginButton{
}

.qnaInterface .qnaButtonsContainer{
	position: relative;
	width: 130px;
	float: right;
	margin-right: 10px;
	padding-top: 5px;
	display:inline-block
}

.qnaInterface .qnaPipeLable{
	background-color: transparent;
	font-family: 'Lato', Helvetica, Arial;
	font-size: 13px;
	font-weight: 300;
	line-height: 14px;
	text-align: left;
	color: #ffffff;
	border: transparent;
	border: none;
	margin-top: 13px;
	-webkit-box-shadow:	none;
	-moz-box-shadow:	none;
	box-shadow:			none;
	width: 4px;
	margin-left: 15px;
	float: left;
	cursor: default;
}

.qnaInterface .qnaButtonsPipeLable{
	background-color: transparent;
	font-family: 'Lato', Helvetica, Arial;
	font-size: 13px;
	font-weight: 300;
	line-height: 12px;
	text-align: left;
	color: #ffffff;
	border: transparent;
	border: none;
	margin-top: 3px;
	-webkit-box-shadow:	none;
	-moz-box-shadow:	none;
	box-shadow:			none;
	margin-left: 5px;
	margin-right: 5px;
	float: right;
}

.qnaInterface .controlBarBtn{
	background-color: transparent;
	border: none;
	line-height: 12px;
	text-align: left;
	font-family: 'Lato', Helvetica, Arial;
	font-size: 12px;
	color: #ffffff;
	float: right;
	margin-top: 2px;
}
.qnaInterface .controlBarBtn:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);;
}

.qnaInterface .qnaCancelButton{
	font-weight: 300;
}
.qnaInterface .qnaSendButton{
	font-weight: 500;
}

.badge {
	display: block;
	position: absolute;
	top: -12px;
	right: 8px;
	line-height: 20px;
	height: 20px;
	min-width: 10px;
	padding: 0 5px;
	font-family: 'Lato', Helvetica, Arial;
	font-weight: 600;
	color: #ffffff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.35);
	border: 1px solid;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
	text-indent: 0px;

	background: #76c044;
	border-color: #76c044;
	background-image: -webkit-linear-gradient(top, #76c044, #76c044);
	background-image: -moz-linear-gradient(top, #76c044, #76c044);
	background-image: -o-linear-gradient(top, #76c044, #76c044);
	background-image: linear-gradient(to bottom, #76c044, #76c044);
}


.qna-on-video-btn {
	z-index: 99999;
	/*background-color : #f0f0f0;*/
	background-color: #ffffff;
	position: absolute;
	right: 0;
	top: 50%;
	width: 38px;
	height: 76px;
	text-align: center;
	-moz-border-radius: 38px 0 0 38px;
	-webkit-border-radius: 38px 0 0 38px;
	border-radius: 38px 0 0 38px;
	text-align: center;
	vertical-align: middle;
	line-height: 76px;

	box-shadow: 0px 3px 50px 0px rgba(29, 222, 196, 0.35);
	-moz-box-shadow: 0px 3px 50px 0px rgba(29, 222, 196, 0.35);
	-webkit-box-shadow: 0px 3px 50px 0px rgba(29, 222, 196, 0.35);
	-o-box-shadow: 0px 3px 50px 0px rgba(29, 222, 196, 0.35);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.qna-on-video-btn:hover {

    text-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.65);
}

.qna-on-video-btn:before {
	color: #414442;
	font-size: 20px;
}

/* qna entries (Announcements/Threads) */

.qnaInterface .qnaEntryTitle{
	font-family: 'Lato', Helvetica, Arial;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	line-height: 18px;
	text-align: left;
	margin-left: 15px;
	margin-top: 3px;
}

.qnaInterface .qnaEntryText{
	font-family: 'Lato', Helvetica, Arial;
	color: #ffffff;
	font-size: 13px;
	font-weight: 200;
	text-align: left;
	margin-left: 15px;
	overflow: auto;
	margin-bottom: 5px;
	white-space: pre-wrap;
}

.qnaInterface .qnaAnnouncement{
	background-color: #76c044;
}

.qnaInterface .qnaAnnouncementRead{
	background-color: rgba(118, 192, 68, 0.3);
}

.qnaInterface .qnaEntryListLI{
	box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.16);
	width: 100%;
	margin-bottom: 4px;
	list-style-type: none;
	float: left;
	height: auto;
	min-height: 80px;
	overflow: hidden;
}

.qnaInterface .LastQnaEntryListLI{
	margin-bottom: 0px;
}

.qnaInterface .qnaAnnouncementTitle{
	float: left;
	font-family: 'Lato', Helvetica, Arial;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	line-height: 9px;
	text-align: left;
	margin-top: 14px;
	margin-left: 10px;
}

.qnaInterface .qnaAnnouncementTitleRead{
	float: left;
	font-family: 'Lato', Helvetica, Arial;
	color: #414442;
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	line-height: 9px;
	text-align: left;
	margin-top: 14px;
	margin-left: 10px;
}

.qnaInterface .qnaAnnouncementText{
	font-family: 'Lato', Helvetica, Arial;
	color: #ffffff;
	font-size: 13px;
	font-weight: 300;
	text-align: left;
	margin-top: 8px;
	margin-bottom: 5px;
	margin-left: 10px;
}

.qnaInterface .qnaAnnouncementTextRead{
	font-family: 'Lato', Helvetica, Arial;
	color: #414442;
	font-size: 13px;
	font-weight: 300;
	text-align: left;
	margin-top: 8px;
	margin-bottom: 5px;
	margin-left: 10px;
}

.qnaInterface .qnaThread{
	background-color: #f0f0f0;
}

.qnaInterface .qnaThreadTitle{
	float: left;
	font-family: 'Lato', Helvetica, Arial;
	color: #414442;
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	line-height: 9px;
	text-align: left;
	margin-top: 14px;
	margin-left: 10px;
}

.qnaInterface .qnaThreadText{
	font-family: 'Lato', Helvetica, Arial;
	color: #414442;
	font-size: 13px;
	font-weight: 300;
	text-align: left;
	margin-top: 8px;
	margin-bottom: 5px;
	margin-left: 10px;
	white-space: pre-wrap;
}


.qnaInterface .qnaEntryList{
	list-style: none;
	margin-left: 0px;
	overflow: auto;
	background-color: #ffffff;
}

.qnaInterface .listHolder{
	width: auto;

	/* Firefox */
	height: -moz-calc(100% - 88px);
	/* WebKit */
	height: -webkit-calc(100% - 88px);
	/* Opera */
	height: -o-calc(100% - 88px);
	/* Standard */
	height: calc(100% - 88px);
}

.qnaInterface .qnaEntryTitleRead{
	font-family: 'Lato', Helvetica, Arial;
	color: #414442;
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	line-height: 18px;
	text-align: left;
	margin-left: 15px;
	margin-top: 3px;
}

.qnaInterface .qnaEntryTextRead{
	font-family: 'Lato', Helvetica, Arial;
	color: #414442;
	font-size: 13px;
	font-weight: 200;
	text-align: left;
	margin-left: 15px;
	overflow: auto;
	margin-bottom: 5px;
	white-space: pre-wrap;
}

.qnaInterface .qnaAnnouncementIconRead{
	float: left;
	color: #414442;
	position: relative;
	left: 10px;
	margin-top: 11px;
	font-size: 17px;
}

.qnaInterface .qnaAnnouncementIcon{
	float: left;
	color: #ffffff;
	position: relative;
	left: 10px;
	margin-top: 11px;
	font-size: 17px;
}

.qnaInterface .qnaThreadTime{
	margin-top: 8px;
	float: right;
	position: relative;
	right: 10px;
	font-size: 9px;
	font-weight: 200;
	color: #ffffff;
}

.qnaInterface .qnaThreadTimeRead{
	margin-top: 8px;
	float: right;
	position: relative;
	right: 10px;
	font-size: 9px;
	font-weight: 200;
	color: #414442;
}

.qnaInterface > input:focus, button:focus {
    outline: 0 !important;
}

.qnaInterface > button:hover {
    opacity: 0.7;
    color: #002a80;
}

/* font icons */
@font-face {
	font-family: 'qna';
	src:url('fonts/qna.eot?2bxczj');
	src:url('fonts/qna.eot?#iefix2bxczj') format('embedded-opentype'),
	url('fonts/qna.woff?2bxczj') format('woff'),
	url('fonts/qna.ttf?2bxczj') format('truetype'),
	url('fonts/qna.svg?2bxczj#qna') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-qna-"], [class*=" icon-qna-"] {
	font-family: 'qna';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-qna-drop:before {
	content: "\e600";
}

.icon-qna-drop2:before {
	content: "\e601";
}

.icon-qna-tech:before {
	content: "\e602";
}

.icon-qna-more:before {
	content: "\e603";
}

.icon-qna-expand:before {
	content: "\e604";
}

.icon-qna-Ask:before {
	content: "\e605";
}

.icon-qna-close:before {
	content: "\e606";
}

.icon-qna-Announcement:before {
	content: "\e607";
}

/** nano scrollbar CSS **/
.nano {
	position : relative;
	width    : 100%;
	height   : 100%;
	overflow : hidden;
}
.nano > .nano-content {
	position      : absolute;
	overflow      : scroll;
	overflow-x    : hidden;
	top           : 0;
	right         : 0;
	bottom        : 0;
	left          : 0;
}
.nano > .nano-content:focus {
	outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
	display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
	display: block;
}
.nano > .nano-pane {
	background : rgba(215,215,215,.7);
	position   : absolute;
	width      : 8px;
	right      : 0;
	top        : 0;
	bottom     : 0;
	visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
	opacity    : .01;
	-webkit-transition    : .2s;
	-moz-transition       : .2s;
	-o-transition         : .2s;
	transition            : .2s;
	-moz-border-radius    : 5px;
	-webkit-border-radius : 5px;
	border-radius         : 5px;
}
.nano > .nano-pane > .nano-slider {
	background: #255;
	background: rgba(0,0,0,.5);
	position              : relative;
	margin                : 0 1px;
	-moz-border-radius    : 3px;
	-webkit-border-radius : 3px;
	border-radius         : 3px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
	visibility : visible\9; /* Target only IE7 and IE8 with this hack */
	opacity    : 0.99;
}