.mv-player .time-disp-dvr, .mv-player .live-stream-status {
	line-height: 32px;
	height: 29px;
	overflow: visible;
	font-size: 10.2px;
	float: right;
	display: inline;
	border: none;
	padding-right: 4px;
}

.mv-player .time-disp-dvr {
	padding-right: 10px;
}

.mv-player .time-disp-dvr-live {
	text-shadow: 0 0 10px #ffffff;
	font-weight: bold;
}

.mv-player .play_head_dvr {
	position: absolute;
}
.mv-player .play_head_dvr .ui-slider-handle {
	width:10px;
	height:15px;
	margin-left:-5px;
	margin-top: -0px;
	z-index: 2;	
}