.playlistItem img{
	float: left;
	padding: 4px;
	vertical-align:middle;
}
.playlistItem {
	font-size: .8em;
}
.playlistItem .clipText {
	float: left;
	width: 62%;
	vertical-align:text-top;
}
.playlistItem .clipDuration{
	float: right;
	height:20px;
	padding-top:10px;
}