
.media-rss-video-list .ui-state-default {
	background-color: #222;
	/* a single transparent pixel to override the jquery ui background */
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sGEBApKAahcBIAAAANSURBVAjXY2BgYGAAAAAFAAFe8yo6AAAAAElFTkSuQmCC);
}
.media-rss-video-list .ui-state-active {
	background-color: #444;
}

.playlistItem img{
	float: left;
	padding: 4px;
	vertical-align:middle;
}
.playlistItem {
	font-size: 12px;
	margin: 5px;
	padding: 2px;	
}
.playlistItem .clipText {
	width: 100%;
	vertical-align:text-top;
}
.playlistItem .clipTitle {
	float: left;
	display:block;
}
.playlistItem .clipDuration{
	float: right;
	height:20px;
	display:block;
	padding-right: 2px;
}
.playlistSet-container{
	font-size:12px;
	margin:5px;
}
.media-rss-video-list{
	margin:5px;
}

.playlistSetList{
	padding-left:15px;	
	font-size: 14px;
}
.playlistSetList a{
	color: #999;
}
.playlistSetList a.active{
	color: #fff;
}
.btnText { font-family: Arial; font-size: 13px; }