.mwPlayerContainer video { width: 100%; height: 100%; }
.mwPlayerContainer.fullscreen {
	position: absolute !important;
	width: 100% !important;
	height: 100%! important;
	z-index: 9999;
	min-height: 100%;
	top: 0;
	left: 0;
	margin: 0;
}
.mwPlayerContainer { position: relative; height: 100%; overflow: hidden; }

.videoHolder { 
	position: relative; 
	overflow: hidden;  
	width: 100%; 
	height: 100%;
	background: #000; 
}

.mwEmbedPlayer { width: 100%; height: 100%; overflow: hidden; position: absolute; top: 0; left: 0; }