<ul>
    <% for ( var i = 0; i < mediaList.length; i++ ) { %>
    <%var mediaItem =  mediaList[i];%>
    <li class="chapterBox" data-chapter-index="<%=i%>"
        <% if (meta.layout == "hotizontal") { %> style="width: <%= mediaItem.width %>px " <% } %> >
        <% if (i > 0) { %>
        <!--div class="chapterDivider"
            <% if (meta.layout == "hotizontal") { %> style="height: <%= mediaItem.thumbnail.height %>px " <% } %> >
        </div-->
        <% } %>
        <div class="chapterBoxInner" >
            <% if( meta.includeThumbnail) { %>
	        <div class="thumbnailHolder">
            <img class="k-thumb" alt="Thumbnail for <%=mediaItem.title%>" data-chapter-index="<%=i%>" src="<%=mediaItem.thumbnail.url%>"
                 style="width:<%=mediaItem.thumbnail.width%>px;
                 height: <%=mediaItem.thumbnail.height%>px"></img>
	        </div>
            <% } %>
            <span class="k-title-container" title="<%=mediaItem.title%>">
                <% if( meta.includeChapterStartTime) { %>
                <span class="k-start-time">
                    <span><%=mediaItem.startTimeDisplay%></span>
                </span>
                <% } %>
                <% if( meta.includeItemNumberPattern) { %>
                <span class="itemNumber"><%=mediaItem.itemNumber%></span>
                <% } %>
                <%
                var chapterTitle = mediaItem.title;
	            var tooltip = null;
                if( mediaItem.title && mediaItem.title.length > meta.titleLimit ){
	                tooltip =  mediaItem.title;
				    chapterTitle = mediaItem.title.substr(0, meta.titleLimit-4 ) + ' ...';
                } %>
                <span class="k-title" title="<%=tooltip%>"><%=chapterTitle%></span>
	            <!--span class="k-title" title="<%=tooltip%>"><%=chapterTitle.substr(parseInt(meta.titleLimit/2))%></span-->
            </span>
            <%
            var itemDesc = mediaItem.description;
	        var tooltip = null;
            if( mediaItem.description && mediaItem.description.length > meta.descLimit ){
	            tooltip =  mediaItem.description;
                itemDesc = mediaItem.description.substr(0, meta.descLimit-4 ) + ' ...';
            } %>
            <span class="k-description" title="<%=tooltip%>"><%=itemDesc%></span>
            <% if( meta.includeMediaItemDuration) { %>
            <span class="k-duration">
                <!--div class="icon-time"></div-->
                <span><%=mediaItem.durationDisplay%></span>
            </span>
            <% } %>
        </div>
    </li>
    <% } %>
</ul>