.onpagePlaylistInterface{
	font: normal 13px Arial !important;
	background-color: #111111 !important;
	color: #ffffff !important;
	overflow: auto !important;
	padding: 0px !important;
	width: 100%;
	height: 100%;
}
.onpagePlaylistInterface.k-vertical{
	border: 1px solid grey;
}
.k-chapters-container{
    position:relative;
	display: block;
	font-family: Arial;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0em;
}
.k-chapters-container.horizontal {
    padding-top:5px;
}

.k-chapters-container ul {
    margin: 0 0 0 0;
    height: auto;
    padding: 0px;
}
.k-chapters-container .k-title-container{
    font-size: 1.1em;
	margin-left: 100px;
	display: block;
	padding-right: 30px;
    font-weight: normal;
	color: #ffffff;
}
.k-chapters-container .chapterDivider{
    width: 100%;
	height: 1px;
    background: #aaa;
    position:absolute;
    top: 0px;
    left: 0px;
}
.k-chapters-container .chapterBox{
    background: #2d2d2d;
    cursor:pointer;
    position:relative;
    list-style-type: none;

    float: left;
    height: 70px;
    overflow: hidden;
    width: 100%;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.k-chapters-container .chapterBox .k-thumb{
    float: left;
    margin-right:8px;
    margin-top: 3px;
	overflow: hidden;
	/*border: 1px solid #cacaca;*/
}
.k-chapters-container .chapterBoxInner{
    padding: 8px;
}
.k-chapters-container .chapterBox:hover{
    background: #383838;
}
.k-chapters-container .chapterBox.active{
    background: #383838;
}

/* set disabled classes */
.k-chapters-container .chapterBox.disabled{
	opacity: 0.2;
	cursor: auto;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}
.k-chapters-container .chapterBox.disabled:hover{
	background: #2d2d2d;
}
.k-chapters-container .chapterBox.disabled.active:hover{
	background: #444444;
}
.k-chapters-container .k-duration.disabled{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; /* IE 8 rule only as other browsers set opacity=0.2 from parent container */
}
.k-chapters-container .chapterDivider.disabled{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; /* IE 8 rule only as other browsers set opacity=0.2 from parent container */
}
.medialistContainer.disabled{
	/*border: 1px solid #1C1C1C;*/
}

.k-chapters-container .chapterNumber{
    float: left;
}
.k-chapters-container .k-description{
	padding-top: 5px;
	margin-left: 100px;
    display: block;
    color: #888888;
    font-size: 0.9em;
}
.k-chapters-container .k-start-time{

}
.k-chapters-container .k-duration{
    float:right;
    position: absolute;
    right: 8px;
    top: 4px;
	font-size: 0.8em;
	color: #888888;
}

.k-chapters-container .k-duration span{
    font-size: 10px;
    line-height: 20px;
}

/*
* horizontal layout styles:
*/
.medialistContainer.k-chapters-container.k-horizontal{
	background: #2d2d2d;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: normal;
}
.k-chapters-container.k-horizontal .chapterBox{
    position:relative;
	line-height: 13px;
    display:inline;
}

.k-chapters-container .k-carousel{
    -moz-box-shadow: 0 0 8px rgba(0,0,0,1) inset;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,1) inset;
    box-shadow: 0 0 8px rgba(0,0,0,1) inset;
}

.k-chapters-container .k-scroll{
    display: block;
    cursor:pointer;
    width: 20px;
    height:100%;
    opacity:.7;
    text-decoration: none;
    position:absolute;
    z-index: 3;
}
.k-chapters-container.k-horizontal .k-scroll.k-next{
    right:0px;
    top:0px;
}
.k-chapters-container.k-horizontal .k-scroll.k-right{
    left:0px;
    top:0px;
}
.k-chapters-container .k-next{
    background: no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAQAAAD1lzQWAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfcCR0BGhpKxvJRAAAAhUlEQVQI12NgYJCcL3lekp8BBiTna/7X+y9zASbEpMTPxcDKIKTPfBAixHSkSmoHA4oQw38N3+3G/42hGhkhQtb7f0owMPxm+LCIiYGBgUGq/JsEAwMDg8CdpVOg9hj/N/5vd/ucw38WdC4DixL/DwYGBu47E1INjzD+gdoBk4WC/xrIXADEAzdXKDh+NAAAAABJRU5ErkJggg==);
    background-position:center;
}
.k-chapters-container .k-next.disabled{
    visibility:hidden;
}
.k-chapters-container .k-next:hover{
    background-color: rgba(255,255,255,.5);
}
.k-chapters-container .k-prev{
    background: no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAQAAAD1lzQWAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfcCR0BFDQIk9IQAAAAj0lEQVQI12NggAJJfsnzkvMZGFhgXOaDQvq/DaACEC4rAyuDED8TgsvAILXjSBWDJL/MBb3/xv+N//tu/6/BwMAgtxDCtXr+X4OBgYGBaekUgTsMDAwM3ySkyhkYGBgY/rOcc7C7bfzf+L/mf8n5WISYGBgY/xgemZDKfYeBgYtBiR/qTogqqD0Iof8aDAwAfkM1Z1BrKhkAAAAASUVORK5CYII=);
    background-position:center;
}
.k-chapters-container .k-prev.disabled{
    visibility:hidden;
}
.k-chapters-container .k-prev:hover{
    background-color: rgba(255,255,255,.5);
}

.k-chapters-container .k-start-time span{
    color: #7198CA;
    font-size: 13px;
    line-height: 15px;
    margin-right: 4px;
}

.clearfix{
    clear: both;
}
.icon-time {
    margin: 3px 4px;
    width: 14px;
    height: 14px;
    float: left;
    background-position: 0px 0px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAA/klEQVR42o1SMQ7CMBBLWdoF9n4BRkYW4DFEPKUDA69A4hFsjCCxw8AHipDIgERbbHClKCkSJ1lJLvbFvZ4xiqZpBsAS2Nd1fcdaAy/givMG6wTomTCQXIhIgQNuglOuAqwJXqLoKZIFcmAm5Lp34thWuNRLvJh7BQ+wePTOM3HIHTKxlxUbWD8RHZ9DbmHUCFbK/xDStoPmbFSBTUg7hBcg8XIZULJRRp4pzALhtvnGjg3sEl5/WE0kYqwjq/q5UXNE7ON+hXUcNUcTUYHwwDo1P4J34nAQRkz0ggFYyFIqdA+AV9G2I6fKbEKpfTxygXhI//x4FXlpX3zsefEGmPHrz88SRGUAAAAASUVORK5CYII=);
}


/******************************************************************
* Vertical overrides
******************************************************************/
.k-chapters-container.k-vertical .chapterDivider{
    height: 1px;
    background:#aaa;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    width:auto;
}
.k-chapters-container.k-horizontal .chapterDivider{
	width: 1px;
	background:#aaa;
	position:absolute;
	top:0px;
	right:0px;
	height:100%;
}
.k-chapters-container.k-vertical .chapterBox{
    width:100%;
}
.k-chapters-container.k-vertical .chapterBox .k-thumb {
    margin-right:7px;
    margin-bottom: 7px;
}

.k-chapters-container.k-vertical .k-scroll{
    float: none;
    width: 100%;
    height: 20px;
    position: absolute;
}
.k-chapters-container.k-vertical .k-carousel{
    float: none;
}
.k-chapters-container.k-vertical .k-next{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAQAAABn7dZ6AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfcCR0FEyvN0+H+AAAAhklEQVQI12NgYPivYb1Ocj4DFMB4LP81/Pp/eAgwMDA8T2RgQPBYzkt8VGFg4GJgSGBgeNbp1//Mg4GBlYHBgPE/y3mbgtlfVRgY/jJwvfgpwcDwm+Hdxb/2jAwMCCkGBpjw848QC1nOOdjdNv5v/F/vv8wFSX4GBIBIYQhDpA6byi1ECAMAoP045A/DsTkAAAAASUVORK5CYII=');
    background-position:center;
    bottom:0px;
}
.k-chapters-container.k-vertical .k-prev{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAQAAABn7dZ6AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfcCR0FEzqnY8EMAAAAkUlEQVQI12NggAJJfrmFh03/szCgAkl+mQt6/+1un3NAkYIIG/83RpJiZGCQ5Gc+KKTPClXEfWdCquERxj9MCGH2F38ZGBi+qhTMPm/zn4WZ94SIASsDA4PUjj2RTTzMBqwMv4X22RhcZGK48JuBgUFqx6ZCxhvPEz8s+MbAwMB/x/AFAwOD5Hzrdf814A6B8gCavDND8yApewAAAABJRU5ErkJggg==');
    background-position:center;
    top:0px;
}
.medialistContainer{
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: #111111;
	/*border: 1px solid grey;*/
	z-index: 10000000;
}
.playlistTitle{
	font-size: 16px;
	display: block;
	color: #ffffff;
	padding-left: 32px;
	padding-top: 7px;
}
.k-playlistTitle{
	font-size: 16px;
	font-weight: bold;
	padding-left: 8px;
}
.playlistItem{
	cursor: pointer;
	color: #aaaaaa;
	height: 40px;
}
.playlistItem:hover{
	color: #ffffff;
}
.k-playlistDescription{
	font-size: 14px;
	padding-left: 8px;
}
.playlistDescription{
	font-size: 12px;
	display: block;
	color: #888888;
	padding-left: 8px;
	padding-top: 10px;
}
.k-medialist-header{
	border-bottom: 1px solid #434343;
	height: 60px;
}
.dropDownIcon{
	width: 14px;
	height: 8px;
	float: left;
	margin-top: 12px;
	margin-left: 10px;
	display: none;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAAsklEQVR42o2Qyw4BURBE+y+8woatWIsPED8gvlZiK3bCENbsZsXNfbdqeoGMRyeVvlN1ajJ3KKW0YOattbZLPwZML+dcoDMnKUEM4+Sc638qIRuAOQuL4pqMMR0YRy2X3vvheymEMEJcKnNAp30P5CCGBheA46fSBN5Vsz1W6+WtYmgggIsxTqEZHh0/Zgc1K+8hgQIyUSV3KrAaX/+cAAqyljZYdfpnBMTnrrCXUK2KuQHIz9/6b2/uIgAAAABJRU5ErkJggg==);
	cursor: pointer;
}
.playlistSelector{
	position: absolute;
	width: 100%;
	height: 0px;
	z-index: 1000;
	background-color: black;
	overflow: hidden;
	display: none;
	-webkit-transition: height 0.3s ease-in;
	-moz-transition: height 0.3s ease-in;
	-o-transition: height 0.3s ease-in;
	-ms-transition: height 0.3s ease-in;
	transition: height 0.3s ease-in;
}
.playlistSelector p{
	font-size: 14px;
	color: #888888;
	padding-left: 8px;
}
.thumbnailHolder{
	overflow: hidden;
	position: absolute;
	display: block;
	width: 86px;
	height: 48px;
	margin-top: 3px;
	border: 0px solid #2ec7e1;
}
.chapterBox.active .thumbnailHolder{
	border: 2px solid #2ec7e1;
	margin-top: 1px;
	margin-left: -2px;
}
.playlistControls{
	position: absolute;
	right: 0px;
	top: 36px;
}
.playlistControls span{
	font-size: 14px;
	margin-right: 10px;
}
.playlistBtn {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	background-color: transparent;
	color: #ccc;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	cursor: pointer;
	font-size: 14px;
}

.playlistBtn:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	color: #fff;
	text-shadow: 0px 0px 10px #fff;
}

.btn1.active {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	color: #fff;
	text-shadow: 0px 0px 10px #fff;
}

.playlistBtn.disabled,.btn.disabled:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
	cursor: default;
	text-shadow: none;
	color: #fff;
}

.playlistBtn:focus {
	outline: 1px dotted #999;
}
