.guard-ribbon-wrapper {
  width: 300px;
  height: 220px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
}
.guard-ribbon {
  font: bold 15px Sans-Serif;
  color: red;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  position: relative;
  padding: 25px 0;
  left: -46px;
  top: 65px;
  width: 270px;
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, from(red), to(red));
  background-image: -webkit-linear-gradient(top, red, red); 
  background-image:    -moz-linear-gradient(top, red, red); 
  background-image:     -ms-linear-gradient(top, red, red); 
  background-image:      -o-linear-gradient(top, red, red); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}
.guard-ribbon:before, .guard-ribbon:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}
.guard-ribbon:before {
  left: 0;
}
.guard-ribbon:after {
  right: 0;
}​